[2021-09-14 02:23] EricClaeys commented on #460
@ckuethe, can you do me a favor and look at the "use_new_exposure_algorithm" code in the latest capture.cpp and see if you can tell why it doesn't seem to be working for everyone when they set "newexposure" to 0?  I have a newer capture.cpp with that code and other changes that a few people have successfully used, so I can't figure out why the current capture.cpp doesn't seem to work.

[2021-09-14 02:38] ckuethe commented on #460
Sure. While we're digging into things, can you put up a PR or a fork or something with the same changes as in your zip file? It's easier to see what changes that way...

[2021-09-14 02:50] EricClaeys commented on #417
@calberts, not sure I understand your last post about discovering when to enable 0.8 exposures.  The capture.cpp file you are running is the version 0.7 modified to know about 0.8 argument names; it doesn't know anything about the newer 0.8 exposure mode, so changing the "Version 0.8 Exposure" checkbox in the GUI will have no effect.

What do you mean by "I had again Time outs"?  Is that when usin

[2021-09-14 02:53] EricClaeys commented on #462
@maserowik, any update on this?

[2021-09-14 03:01] EricClaeys commented on #141
This issue is from an older release of the AllSky software. If you think it might still be relevant, please submit a new issue. Thanks.
FYI, the README.md file mentions a couple things to do if you are having problems creating timelapse files.

[2021-09-14 03:01] #141 closed

[2021-09-14 03:02] EricClaeys commented on #140
This issue is from an older release of the AllSky software. If you think it might still be relevant, please submit a new issue. Thanks.

[2021-09-14 03:02] #140 closed

[2021-09-14 03:02] EricClaeys commented on #139
This issue is from an older release of the AllSky software. If you think it might still be relevant, please submit a new issue. Thanks.

[2021-09-14 03:02] #139 closed

[2021-09-14 03:04] EricClaeys commented on #138
This issue is from an older release of the AllSky software. If you think it might still be relevant, please submit a new issue. Thanks.
Also, I assume since you never answered Thomas' question you must have resolved the issue.

[2021-09-14 03:04] #138 closed

[2021-09-14 03:08] EricClaeys commented on #131
This issue is from an older release of the AllSky software. If you think it might still be relevant, please submit a new issue.
Also, this appears to be related to certain NAS devices, not to the AllSky software.

[2021-09-14 03:08] #131 closed

[2021-09-14 03:11] EricClaeys commented on #113
This issue isn't related to the AllSky software and several suggestions were given, so I'm closing it. Thanks.

[2021-09-14 03:11] #113 closed

[2021-09-14 03:26] #471 closed

[2021-09-14 03:26] EricClaeys commented on #477
@maserowik,
Good question.  This is how we are getting around ZWO's bug in the daytime auto exposure, where one picture is too bright, the next too dark, etc.
We basically wrote our own auto exposure algorithm, by taking a picture, looking at its mean brightness, and if it's too dark, we take another slightly longer exposure, and so on, until we get an exposure that's within an acceptable range.

[2021-09-14 04:08] ckuethe commented on #417
I'm starting a rumor that allsky performance is improved by imaging through stacked K, Ha, OIII, and SII filters. :trollface:

Anyway, I can repro the problem with my 120 mini and my laptop which is much nicer to develop on than a pi on the roof.

[2021-09-14 04:18] EricClaeys commented on #417
Chris, if you can reproduce the ASI_ERROR_TIMEOUT issue, that's great.  I can't so it's hard to debug.
If you use the capture.cpp that's currently in GitHub (the 0.8 version with the timeout "fix"), do you get timeouts even with 0.8 exposure mode **off**?  Some people are.
If so, can you try the attached version and see if you get timeouts?

Thanks - Eric
[capture 9-8-2021.zip](https://github.com/

[2021-09-14 04:29] ckuethe commented on #460
OK, I figured it out.

There's exactly one place now that `ASIStartVideoCapture()` is called, and that's inside `takeOneExposure()`, and only when `use_new_exposure_algorithm` is true. ([capture.cpp#L462](https://github.com/thomasjacquin/allsky/blob/27c09347bac50f65ed17d9c7c1eb8bb6e60bb8db/capture.cpp#L462))

Anyone using the old mode would be trying to call `ASIGetVideoData()` on a camera that is

[2021-09-14 04:47] ckuethe commented on #417
Right then... using HEAD (currently ``) I can repro the timeouts with 0.8 exposure mode off. And I [figured out why](https://github.com/thomasjacquin/allsky/issues/460#issuecomment-918791399). Short version: there's a missing call to ASIStartVideoCapture when new exposure mode is not used.

Now, with your zip file there, I no longer get timeouts.

[2021-09-14 05:56] calberts commented on #417
@EricClaeys , I can help let see first if @ckuethe suggestion can be causing the issue. I can set up the test to verify.

Chris

[2021-09-14 06:42] azapf1972 commented on #417
I can report that the 120 MM was running all night, taking images - that is using the capture0.7with0.8arguments version. So far, so good... Andreas

[2021-09-14 08:07] EricClaeys commented on #460
Thanks Chris.  I just submitted a pull request to fix it.  [](https://github.com/thomasjacquin/allsky/pull/480).
I had it in my newer capture.cpp, but it was left out of the fix that was applied a couple weeks ago.

The reason we implemented the start/stop video mode for every picture in version 0.8 was that it decreased the sensor temp by 10-15 degrees C since the camera is idle during delays.

[2021-09-14 08:17] EricClaeys commented on #476
@Shand359, try the attached command.  Move it to the "allsky/scripts" folder and make it executable, then run it with no arguments and it will display a usage message.  Then run with the arguments.  Try it with a dummy file.  It will produce a log file you can look at to see what's happening.

A couple common causes for ftp problems:
1. the FTP server doesn't have the necessary directories.  If yo

[2021-09-14 08:23] EricClaeys commented on #460
@KrisAstro,
A good default daytime exposure is hard to come up with since different cameras have different sensitivities, and people's Angle is different, which means some people start daytime when it's a little dark and some start when it's fully bright, which all affect the required exposure.
The daylight auto-exposure algorithm in version 0.8 handles that within an image or two. so it's not muc

[2021-09-14 09:03] EricClaeys commented on #417
When the fix to add version 0.7 exposure mode was added, I had a version of capture.cpp with the correct fix and a bunch of other changes.  Rather than merge my capture.cpp, a PR with just a few lines was merged to implement the "newexposure" feature.  Unfortunately that fix had a couple bugs - one I caught after the fix was merged, and the other @ckuethe found today.

The version of my capture.cp

[2021-09-14 10:41] #477 closed

[2021-09-14 10:42] #462 closed

[2021-09-14 10:42] maserowik commented on #462
I reloaded the software and the issue went away

[2021-09-14 14:56] nickalter commented on #466
Hi Eric

I have used the file and it works only the photos are mono.
Then I use the zip file Capture 9-8-021  and run sudo make capture and sudo
reboot and that works perfect
for daytime   so tomorrow I can see if night time also works.

Thanks you Eric

Op ma 13 sep. 2021 om 23:03 schreef EricClaeys ***@***.***>:

[2021-09-14 15:43] EricClaeys commented on #466
@nickalter, stick with the 9-8-2021 file.  It is more recent than the other file.

If your problem is resolved, please close this issue.  Thanks.

[2021-09-14 16:04] #466 closed

[2021-09-14 17:52] EricClaeys commented on #105
This issue is from a much older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 17:52] #105 closed

[2021-09-14 18:43] EricClaeys commented on #104
@ckuethe, can this issue be closed?  It's a couple years old and the original question was answered.  With Thomas' approval, I'm trying to close old issues so we have a list of current ones that need attention.

I'm looking at adding a $ALLSKY_TMP variable that would point to a location to store all temporary files like the log files and the image created by capture.cpp which is then optionally ed

[2021-09-14 18:48] EricClaeys commented on #100
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 18:48] #100 closed

[2021-09-14 18:49] EricClaeys commented on #98
Has any progress been made on this, or should the issue be closed?  It's over 2 years old.

[2021-09-14 18:50] EricClaeys commented on #95
This issue is from an older release of the AllSky software and appears to have been resolved.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 18:50] #95 closed

[2021-09-14 18:51] EricClaeys commented on #94
This issue is from an older release of the AllSky software and a suggested fix supplied.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 18:51] #94 closed

[2021-09-14 18:53] EricClaeys commented on #93
This issue is from an older release of the AllSky software and appears to be fixed.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 18:53] #93 closed

[2021-09-14 18:54] EricClaeys commented on #92
Thanks for the suggestion.  Many people also use VNC to remotely access their Pi.

[2021-09-14 18:54] #92 closed

[2021-09-14 18:54] manumarchal opened #481 "Allsky stops capturing images with no specific reason"
I run allsky on a raspberry 4 with RPiHQ

For whatever reason, it stops capturing images within hours of being restarted.

Looking at the  /var/log/allsky.log, there is nothing explicit there. it just stops.

Sep 12 22:58:47 allsky allsky.sh[639]: Capture command: nice raspistill --nopreview --thumb none --output image.jpg --burst -st --mode 3 --exposure off --shutter 60000000 --analoggain 10 --aw

[2021-09-14 18:55] EricClaeys commented on #91
This issue is from an older release of the AllSky software and a suggested fix was given.  The RPiHQ camera is officially supported.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 18:55] #91 closed

[2021-09-14 19:00] #90 closed

[2021-09-14 19:08] EricClaeys commented on #107
This issue appears to have been resolved (thanks Brian).  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 19:08] #107 closed

[2021-09-14 19:08] #68 closed

[2021-09-14 19:11] #183 closed

[2021-09-14 19:22] EricClaeys commented on #182
The current dark frame mechanism is temperature based, not exposure based.  I'd guess the assumption is that most night-time shots have similar exposure times (except at the start and end of night, but those exposure times might be too short to warrant using dark frames), but different temperatures.
Can this issue be closed?  If you still plan to propose implementing time-based dark frames you'll

[2021-09-14 19:33] EricClaeys commented on #180
This issue is from an older release of the AllSky software; the current release uses a dark library with dark files based on sensor temperature which improves dark subtraction.  Other issues above might be hardware related.
If you think this problem might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 19:33] #180 closed

[2021-09-14 19:34] EricClaeys commented on #178
This issue is from an older release of the AllSky software and a suggested solution provided.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 19:34] #178 closed

[2021-09-14 19:37] EricClaeys commented on #176
Closing this issue since it's similar to [https://github.com/thomasjacquin/allsky/issues/65](https://github.com/thomasjacquin/allsky/issues/65)

[2021-09-14 19:37] #176 closed

[2021-09-14 19:38] KrisAstro commented on #460
Thank Eric for you time and you investigations. Since, I've completely reinstall my system and it work fine now. I'll do the update soon.
I take the opportunity for a question : why do you used ASIStartVideoCapture instead ASIStartExposure ? When i investigate into the code, i seen that and I ask myself why.

Christian

[2021-09-14 19:51] ckuethe commented on #460
IIUC, single captures don't do autoexposure, while video mode allows the camera to autoadjust. I'm not a fan of the nighttime autoexposure behavior of the camera and would love to just switch to snapshot capture, with exposure settings computed by allsky, rather than the camera.

[2021-09-14 22:12] EricClaeys commented on #175
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:12] #175 closed

[2021-09-14 22:14] EricClaeys commented on #172
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:14] #172 closed

[2021-09-14 22:15] EricClaeys commented on #170
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:15] #170 closed

[2021-09-14 22:24] EricClaeys commented on #169
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:24] #169 closed

[2021-09-14 22:28] EricClaeys commented on #168
Many people use the "Text Overlay" and/or "Extra Text File" settings on the GUI to add the additional information (the "text" and "extratext" settings if not using the GUI).

[2021-09-14 22:28] #168 closed

[2021-09-14 22:33] EricClaeys commented on #167
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:33] #167 closed

[2021-09-14 22:58] EricClaeys commented on #166
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:58] #166 closed

[2021-09-14 22:59] EricClaeys commented on #163
This issue is from an older release of the AllSky software and the feature was added.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 22:59] #163 closed

[2021-09-14 23:02] #162 closed

[2021-09-14 23:05] EricClaeys commented on #161
This issue is from an older release of the AllSky software, and a fix appears to work well enough.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks

[2021-09-14 23:05] #161 closed

[2021-09-14 23:06] EricClaeys commented on #159
This issue appears to have been resolved, so I'm closing it.

[2021-09-14 23:06] #159 closed

[2021-09-14 23:14] EricClaeys commented on #158
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.   Set the "debuglevel" to 3 to get additional information in /var/log/allsky.log that may help determine what the problem is.

[2021-09-14 23:14] #158 closed

[2021-09-14 23:32] EricClaeys commented on #152
This issue appears to be resolved.  Please note that in newer versions of capture.cpp, the temperature is written to a file called "temperature.txt".

[2021-09-14 23:32] #152 closed

[2021-09-14 23:42] EricClaeys commented on #104
Chris, sorry, I should have been clearer when I said "log files".  I meant log files created by endOfNight.sh for keograms, startrails, and timelapse output that used to clutter up /var/log/allsky.log, and are overwritten every night so don't grow endlessly.  They are used for debugging purposes.

[2021-09-15 00:26] SamCrask commented on #441
Hi Thomas & Eric -
I also ran into this 'No Thumbnail' problem after moving your website code to my NAS.  Turns out to be a known issue with some NAS's (and some site hosting) not supporting ffmpeg h264 encoding/decoding on the host - something about commercial usage rights for codecs from VLC.
The " --disable-decoder=h264" shows up on the host's ffmpeg command line list, and "Decoder (codec h264)

[2021-09-15 05:20] EricClaeys commented on #460
@ckuethe is correct, ZWO's "snap" mode, which uses ASIStartExposure() doesn't support auto exposure or (I'm pretty sure) auto gain.  For daytime shots we use our own auto-exposure algorithm since there's a bug in ZWO's; we could probably implement it for nighttime as well but it would take some work.  Incorporating auto-gain would take a LOT of work, and I don't think it's worth it.

[2021-09-15 05:22] EricClaeys commented on #481
I'm not positive, but I believe there might be a firmware update that fixes this.  Try asking in the Facebook Allsky group.
I searched Google for `rpihq camera "firmware"` and there are a few links that _may_ help.
I think the bug is that raspistill hangs.  Next time is happens, do a "ps -ef | grep raspistill" to see how long it's been running.

If this answers your question would you please close

[2021-09-15 11:34] KrisAstro commented on #460
Ah, OK, is more clear now !

Thx for your response

[2021-09-15 20:46] EricClaeys commented on #459
@bbillp, if @ckuethe's response was sufficient, please close this issue.  Thanks

[2021-09-15 20:49] EricClaeys commented on #449
Closing since @yzhzhang's issue was resolved.

[2021-09-15 20:49] #449 closed

[2021-09-15 20:52] EricClaeys commented on #447
@bbillp, I think this issue can be closed; if you agree, please close it.  If not, what additional information do you need, and can you get that information from the Allsky Facebook page?

[2021-09-15 20:54] EricClaeys commented on #445
No response after 2 weeks so closing.  Plus, we are looking at ways to make it easier to install Allsky in places other than /home/pi/allsky.

[2021-09-15 20:54] #445 closed

[2021-09-15 21:51] maserowik opened #482 "Error in Syslog"
Was review the system and noticed the following in the syslog

Sep 15 17:44:28 Pi-Allsky kernel: [108641.695297] usb 1-1.5: reset high-speed USB device number 4 using dwc_otg

Is this something to worry about?

[2021-09-15 22:41] swatty007 commented on #445
Sorry that I didn't reply yet, time flies. It's fine to be closed from my side 👌

But to follow up on your questions:
1. yep the symbolic links fixed it and everything is running fine since then. But I only tried the portal, not the website.
2. relative paths should indeed not matter at all. But I guess there are some absolute ones included as well. Otherwise, the symlink would have not been neces

[2021-09-16 01:35] ckuethe opened #483 "Numerical instability in histogram exposure, maybe"
So I just noticed my camera hunting for good exposures. Not a big problem for me during the day, but it might be worth looking into. After restarting capture, the flapping has gone away.

exp 0.1ms, gain 0, brt 0, hist 255
![liveview-image](https://user-images.githubusercontent.com/1131751/133533064-81974ce6-af88-413d-840f-165da8cc305b.jpg)

exp 4.28ms, gain 0, brt 0, hist 255
![liveview-image (1)

[2021-09-16 02:39] EricClaeys commented on #445
@swatty007, thanks for the link to Hacktoberfest.  I never heard of it before, but it sounds interesting.  I'll leave it up to @thomasjacquin to decide if he wants to "opt-in" Allsky.

[2021-09-16 03:59] ckuethe opened #484 "help mode is broken"
I expected that `-h` would print a help message, then exit with no other side effects. Additionally, help mode should not require any correct configuration - I might be running help mode to figure out how to configure the camera, right?

Unfortunately, when I do that on my actual allsky camera, it interferes with capture, causing the running process to get `ASI_TIMEOUT`

[code]

[code]

[code]

[2021-09-16 11:28] manumarchal commented on #481
Thank you Eric,

I've done a a full firmware update. So far camera works fine. will report on progress tomorrow and then close issue if all good

[2021-09-16 14:01] Mouzarty opened #485 "Weather and SQM data overlay integration"
First of all thanks for the amazing job you’re doing! This software is incredible as it is.

I’m wondering if integrations for weather data (ASCOM compliance devices and/or OpenWeatherMap) and SQM data to add as an overlay on the images is on the roadmap? Would be amazing to have all this in the same solution.

[2021-09-16 17:23] EricClaeys commented on #481
@manumarchal, thanks for the update and I am glad it seems to be working. When you close the issue would you please describe whow you did the upgrade or provide a URL to instructions you found?  I would like to include them in the Wiki I am going to create for troubleshooting tips.
Thanks much.  Eric

[2021-09-16 18:42] EricClaeys commented on #482
@maserowik, as far as we can tell, the error occurs whenever we turn on video mode on the ZWO cameras.  If you are using version 0.7 or 0.8 with "Version 0.8 Exposure Mode" turned off, you should see that error whenever you restart the software.  "Version 0.8 Exposure Mode" ON will produce the message at the start of every picture.
From what I can tell, the error is harmless, although it clutters

[2021-09-16 19:01] #482 closed

[2021-09-16 19:01] EricClaeys commented on #483
@ckuethe, I assume this is with your ASI120 camera with sensor size of 1280x960?  If so, try decreasing the histogram box size (the "500 500").  When Linda developed the code, we all had larger sensors so 500 px was about 15% the size and worked well.  Once I got my ASI290 (1936x1096) I had to decrease the box size to 400px.  You might want to try 300.
I emailed Jim and Nancy asking if we should c

[2021-09-16 19:17] EricClaeys commented on #484
Thanks for pointing it out.  I'll fix in the next batch of updates I make.
I agree that capture.cpp and capture_RPiHQ.cpp should exit after displaying the help message.

Is the standard to accept either "-h" or "--help"?

[2021-09-16 19:26] EricClaeys commented on #360
Fixed in version 0.8.

[2021-09-16 19:26] #360 closed

[2021-09-16 19:29] ckuethe commented on #484
Not just exiting after help, but doing so in a way that does not have side-effects. What if the user is running some other program that's using the ZWO camera (eg. ASIStudio) - we don't want to disturb that.

I'm used to at least `--help` doing something sensible. Some tools might use `-h` to specify hostname, and might interpret `-help` as the same as `-e -h -l -p`. If it's not too much hassle, i

[2021-09-16 19:29] EricClaeys commented on #336
Closing - issue resolved.  This fix will be added to the Wiki once I create it, as several people have had the same problem.

[2021-09-16 19:29] #336 closed

[2021-09-16 19:31] ckuethe commented on #483
Indeed I am using the 120.

I like the idea of percentages. If otherwise unspecified, default to 20% of the short side, centered in the image?

Is there a reason for doing the histogram by hand rather than using OpenCV? (docs https://docs.opencv.org/master/d6/dc7/group__imgproc__hist.html)

[2021-09-16 19:33] EricClaeys commented on #300
Closing as the issue has been resolved.

[2021-09-16 19:33] #300 closed

[2021-09-16 19:35] #145 closed

[2021-09-16 19:36] EricClaeys commented on #144
Closing this issue.  The RPiHQ camera is supported.

[2021-09-16 19:36] #144 closed

[2021-09-16 19:39] EricClaeys commented on #142
@laheller, try adding `set ssl:verify-certificate` no to /etc/lftp.conf.
If this fixes your problem, or you already fixed it, please close this issue.  Thanks.

[2021-09-16 19:40] #112 closed

[2021-09-16 19:42] #110 closed

[2021-09-16 19:43] EricClaeys commented on #109
@theojurriens, if this is still an issue, please see the instructions at [https://github.com/thomasjacquin/allsky](url).
Once you have your dark frames running, please close this issue.  Thanks

[2021-09-16 19:46] EricClaeys commented on #228
We pretty much fixed this in version 0.8 by using our own auto-exposure algorithm.  If you haven't done so already, please upgrade to version 0.8.

[2021-09-16 19:46] #228 closed

[2021-09-16 20:38] linuxkidd commented on #485
I've actually achieved this with NodeRED ( to pipe weather data to a json file ) and some python code that uses ImageMagick to do the overlay.  You can see a sample on my [public allsky site](https://allsky.linuxkidd.com/).  In the newest WebUI, there's an option to provide a text file to overlay.  While I've not tried that new feature (since I already solved it), it may be able to provide what yo

[2021-09-16 21:04] PKarhu commented on #460
Hey!
 Could there possibly be somekind of folder assignation problem?! 0.7 had in config.sh -file something like this:
------
# Path to the camera settings (exposure, gain, delay, overlay, etc)
CAMERA_SETTINGS_DIR="$ALLSKY_HOME"
CAMERA_SETTINGS="$CAMERA_SETTINGS_DIR/settings_$CAMERA.json"

but, the newer 0.8 has only one line considering the path to the correct file name:
-----
if [[ $CAMERA -eq "

[2021-09-16 21:24] PKarhu commented on #460
Outs...somehow the fonts,boldening etc. seems to be out of my understanding (i'm sorry about that)  ... I wrote that with raspberry 😬

but, when adding the new update, all went to this "ASI_timeout"-hell...
I tried to restore that old backup of 0.7 folder ->> renamed it back to 'allsky' , instead of allsky_backup... then ran "sudo ./install.sh"

of course, this action might have also been the reas

[2021-09-16 21:36] mpv1953 commented on #417
Eric:
After losing an SD card and playing the rebuild-my-system game, I downloaded the latest git files, and added the updated capture.cpp file in "capture.9-8-2021.zip".
It is working.  No timeouts or other issues.  I'm still trying to get the settings correct for my location and desires, but so far, so good!
Thanks,
Mike

[2021-09-16 21:49] ckuethe commented on #417
If possible, please stick with what's in git, so that you won't end up with an unsupported configuration in a couple of weeks. We think all the capture timeouts are probably resolved in HEAD

[2021-09-16 22:18] EricClaeys commented on #227
This issue is from an older release of the AllSky software and appears to have been resolved.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-16 22:18] #227 closed

[2021-09-16 22:19] EricClaeys commented on #222
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  I'm not sure there's anything in the software that will fix this, although you can try adjusting the USB bandwidth.  Thanks.

[2021-09-16 22:19] #222 closed

[2021-09-16 22:21] EricClaeys commented on #220
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-16 22:21] #220 closed

[2021-09-16 22:22] EricClaeys commented on #220
By the way, in version 0.8, 16-bit files are only supported with .png output, since with .jpg all-white images are often produced.

[2021-09-16 22:24] EricClaeys commented on #217
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Version 0.8 puts dark frames in ~/allsky/darks.

[2021-09-16 22:24] #217 closed

[2021-09-16 22:26] EricClaeys commented on #216
Is this still an issue with the newer version 0.8 code?  If not, would you please close the issue?  Thanks.

[2021-09-16 22:29] EricClaeys commented on #215
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-16 22:29] #215 closed

[2021-09-16 22:30] EricClaeys commented on #213
@michaeloconnell78, you're more likely to get an answer in the Allsky Facebook group.  The "Issues" list on GitHub is primarily used by developers and people with issues.
As far as I know, all the ZWO cameras work, so if ZWO has a camera with the IMX291 sensor it should work.

[2021-09-16 22:30] #213 closed

[2021-09-16 22:35] #211 closed

[2021-09-16 22:51] EricClaeys commented on #210
A future version of Allsky will include a TIMELAPSE_PARAMETERS variable in config.sh that can be used to add parameters to the ffmpeg command.

[2021-09-16 22:51] #210 closed

[2021-09-16 22:53] EricClaeys commented on #208
This has been fixed in version 0.8, which now allows spaces in the "Text" option.  Further, the format of the time can be changed.

[2021-09-16 22:53] #208 closed

[2021-09-16 22:56] EricClaeys commented on #206
@thomasjacquin, @ckuethe,
any interest?  Seems like it would be nice but likely a huge change.

[2021-09-16 23:00] #205 closed

[2021-09-16 23:04] EricClaeys commented on #203
This issue is from an older release of the AllSky software.  Version 0.8 supports adding the time, gain, and exposure to the image.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.
Thanks.

[2021-09-16 23:04] #203 closed

[2021-09-16 23:05] #201 closed

[2021-09-16 23:06] #200 closed

[2021-09-16 23:11] EricClaeys commented on #195
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-16 23:11] #195 closed

[2021-09-16 23:15] EricClaeys commented on #194
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.

Version 0.8 improved dark frame capture, so please try it.  If gain isn't working in version 0.8, turn on "Show gain" in the GUI and increase the Debug Level (an Advanced option) to 3 and look in /var/log/allsky.log to make

[2021-09-16 23:15] #194 closed

[2021-09-16 23:16] EricClaeys commented on #193
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.

[2021-09-16 23:16] #193 closed

[2021-09-16 23:17] EricClaeys commented on #190
Issue resolved by user.

[2021-09-16 23:17] #190 closed

[2021-09-16 23:18] #189 closed

[2021-09-16 23:20] ckuethe commented on #206
Yes, I have interest in this. Aside from ZWO cameras, I also have some QHY, Touptek, and Celestron (v4l2)

[2021-09-16 23:23] EricClaeys commented on #187
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  If you are still having this problem with version 0.8, try increasing the log level to its highest value, which may give you an idea if it's software related.
The "signal=TERM" is what the service daemon sends to the allsky.

[2021-09-16 23:23] #187 closed

[2021-09-16 23:29] EricClaeys commented on #417
@mpv1953, since my last post we uploaded what we hope is a fix to the timeout issue if you turn the version 0.8 exposure mode off.  **I'd appreciate it if you'd try that capture.cpp** - my camera doesn't get timeouts so it's been hard for me to test.
To use the newest GIT capture.cpp, rename your current capture.cpp to capture.9-8-2021.cpp, then copy the GIT capture.cpp to ~/allsky and do a "make

[2021-09-16 23:35] EricClaeys commented on #460
GIT web pages interpret certain characters as meaning bold, italics, etc.  Unfortunately, "#" is interpreted a a header which is why when you copy/paste from a *.sh file (with "#" as comments) those lines appear large in bold on the GIT web page.  I hate that...

We recently uploaded what we hope is a final fix for the timeout issue for users that turn off the version 0.8 exposure mode.  Could you

[2021-09-16 23:37] EricClaeys commented on #460
forgot to mention the issue with config.sh.  The last few lines should look like this if you have the GUI installed:
[code]

If that's not what you have, edit the file and let me know how it goes.  Thanks

[2021-09-16 23:39] ckuethe commented on #417
HEAD is https://docs.github.com/en/get-started/quickstart/github-glossary#head

You don't even need to rename the downloaded cpp, just do `git checkout -f capture.cpp && git pull && make capture`. That'll restore capture.cpp to an unmodified state according to git, then it'll pull down the most recent code, and finally rebuild the capture program.

[2021-09-17 03:46] ckuethe commented on #460
As documented on the main page, there is no easy, one-click upgrade... Especially since the addition of recent new features and controls.

I recommend you make a copy of all your old allsky configuration and reinstall using the latest code from git

[2021-09-17 05:59] #147 closed

[2021-09-17 06:03] #286 closed

[2021-09-17 06:03] EricClaeys commented on #281
Closing - no reply from user in almost a year.

[2021-09-17 06:03] #281 closed

[2021-09-17 06:04] #276 closed

[2021-09-17 06:05] #273 closed

[2021-09-17 06:07] EricClaeys commented on #272
Closing - if this is still an issue, please open a new issue with additional details.

[2021-09-17 06:07] #272 closed

[2021-09-17 06:08] #271 closed

[2021-09-17 06:10] EricClaeys commented on #264
Closing - no reply from user in over 10 months.

[2021-09-17 06:10] #264 closed

[2021-09-17 06:10] ckuethe commented on #374
Funny you should mention that. I literally just started working on qhy support this evening. I'm trying to decide at what point I want to refactor all the `capture*cpp` files because right now the duplicated code is making my eyes bleed.

I think I can hold off on refactoring out some code into a utility library until qhy support is ready - then it'll be obvious what can move where...

[2021-09-17 06:13] ckuethe commented on #316
I think this issue can be closed since I just reprocessed 2 years of timelapses and timelapse.sh did the right thing for me.

[2021-09-17 06:13] EricClaeys commented on #261
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.
Failure to create timelapse videos is usually due to insufficient memory.  You can try increasing the swap space, or decreasing the size of the images - see config.sh for the necessary variables.

[2021-09-17 06:13] #261 closed

[2021-09-17 06:16] EricClaeys commented on #259
Closing the issue as the problem has been resolved.

[2021-09-17 06:16] #259 closed

[2021-09-17 06:16] EricClaeys commented on #258
Closing issue - no reply from user in a year.

[2021-09-17 06:16] #258 closed

[2021-09-17 06:17] #257 closed

[2021-09-17 06:19] EricClaeys commented on #255
Closing issue - it's been resolved.

[2021-09-17 06:19] #255 closed

[2021-09-17 06:20] #251 closed

[2021-09-17 06:31] EricClaeys commented on #250
This issue is from an older release of the AllSky software and appears to have been resolved.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.
FYI, you can increase the Debug Level in the GUI (or "debuglevel" in the .json file) to see additional information in /var/log/allsky.log which may give an idea where the delay is co

[2021-09-17 06:31] #250 closed

[2021-09-17 06:32] EricClaeys commented on #485
@Mouzarty, you can do that now if you can get the data into a text file on a regular basis; in fact, some people already do this.
See the "Extra Text File" option in the GUI or the "extratext" and "extratextage" options at [https://github.com/thomasjacquin/allsky](url).
Basically, you create a text file with one or more lines, then tell the software to display that file.
We don't have any plans to

[2021-09-17 06:32] #485 closed

[2021-09-17 06:47] EricClaeys commented on #374
Chris, I assume you know Thomas has a "qhy" branch?
The capture.cpp and capture_RPiHQ.cpp files more similar in version 0.8, and I have newer versions on my Pi that are even more similar, but still quite different.  I suspect it'll be a lot easier for ZWO and QHY versions to share a lot of code.

[2021-09-17 06:49] EricClaeys commented on #246
This issue is from an older release of the AllSky software and I believe has been resolved.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  The newest version does not have endOfNight_RPiHQ.sh.

[2021-09-17 06:49] #246 closed

[2021-09-17 06:50] EricClaeys commented on #245
Closing - This issue is from an older release of the AllSky software and has been resolved in the current version.  There is an option allowing users to set the line height.

[2021-09-17 06:50] #245 closed

[2021-09-17 06:54] EricClaeys commented on #244
This issue is from an older release of the AllSky software and appears to have been resolved.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-17 06:54] #244 closed

[2021-09-17 06:54] #242 closed

[2021-09-17 06:55] #241 closed

[2021-09-17 06:56] EricClaeys commented on #240
This issue is from an older release of the AllSky software.  If you think it might still be relevant, please test it with the newest version and submit a new issue if needed.  Thanks.

[2021-09-17 06:56] #240 closed

[2021-09-17 06:58] EricClaeys commented on #239
You would have to crop images as they are saved - see the ~/allsky/config.sh file for the variables to set.

[2021-09-17 06:58] #239 closed

[2021-09-17 07:00] ckuethe commented on #374
I only discovered that after several hours of tinkering. I didn't like what I saw in the include directory but I'll see what's a good next step

[2021-09-17 07:01] EricClaeys commented on #237
Problem resolved so closing this issue.

[2021-09-17 07:01] #237 closed

[2021-09-17 07:08] EricClaeys commented on #231
@jlnorthrup, if this has been resolved would you please close the issue?  Thanks.

[2021-09-17 07:24] EricClaeys commented on #229
@daleghent,  any update on this?  FYI, the version 0.8 capture.cpp has a lot of changes from 0.7, and a newer version I'm working on has even more changes.

@ckuethe, see the posts above - perhaps you can work with Dale on QHY support?

[2021-09-17 07:26] EricClaeys commented on #327
@pomgonewalkabout, can this issue be closed?  It sounds like you implemented a LED.  Can you share whatever changes to the Allsky software you made?

[2021-09-17 07:29] EricClaeys commented on #326
Closing issue - no response from user in several months.
FYI, the USB bandwidth setting impacts different cameras, even of the same model, differently.  Some people have problems with high USB values and others with low USB values.  From what I can tell it's pretty random.

[2021-09-17 07:29] #326 closed

[2021-09-17 07:33] EricClaeys commented on #324
@pomgonewalkabout, I'm closing this issue since it's not something we have control over.  See the link @thomasjacquin provided.
FYI, the lines are actually a snapshot of exposure and/or gain graphs.  If you run raspistill manually it will run in video mode and you'll see the graphs move as time goes on.  You'll also see the exposure and gain numbers change.

[2021-09-17 07:33] #324 closed

[2021-09-17 09:15] int48 commented on #441
Hi Sam, i have the same problem aith allsky on Azure App Service, but i am not an expert with php.
Please can you explain at which point do you made the changes in functions.php and timelapse.sh.
Sascha

[2021-09-17 09:49] rodrigoluk opened #486 "RPi4 + RPi HQ camera - high CPU load?"
I just want to report on an interesting issue with RPi4 + RPi HQ camera. The default camera setting after a fresh install has:

"nightdelay":"10" # which is 10ms!

For some reason the PI4 goes into a high CPU load (ut above 4) and a kernel worker process stays at the top of the processing table. I think this is basically managing raspistill and it is basically running all the time. Day or Night. T

[2021-09-17 12:25] maserowik opened #487 "General setup question"
AllSky is working fine for me but want to get a better understand of one of the folders.
In the ftp-settigns.sh there is a directory that is called IMGDIR.  That folder is created on the hosting company site.  Been looking in that folder and it appear that is empty.

So is that folder a temp folder for file processing of images? should there be something in that folder? is something missing on the

[2021-09-17 12:27] #299 closed

[2021-09-17 12:47] maserowik opened #488 "GUI Question"
So the version number of allsky can be retrieved by looking at that allsky log.  Is there a way to add the version to the be displayed for both allsky and allsky-website on the allsky admin portal.

Mike

[2021-09-17 12:49] jlnorthrup commented on #250
Thank you!

Sent from my iPhone

[2021-09-17 13:48] manumarchal commented on #481
Hi, things are continuing to work.

I ended up doing the following after researching rpihq camera firmware update. Did a full raspi update as per instructions here: https://www.seeedstudio.com/blog/2019/11/29/raspberry-pi-4-firmware-update-pi-4-now-runs-cooler-than-ever/

sudo apt update
sudo apt full-upgrade
sudo shutdown - r now

and then erased Allsky directory, reinstalled it (I think I was st

[2021-09-17 13:48] #481 closed

[2021-09-17 17:39] SamCrask commented on #441
@int48 (for ref @thomasjacquin  & @EricClaeys )

After a few PMs requesting more info, here's the revised section of timelapse.sh that creates and uploads a thumbnail from the PI, rather than relying on the PHP server-side code.  No changes are needed to the PHP code on the web server, as the web page will now find an existing thumbnail instead of trying to create one.

Rather than upload a revise

[2021-09-17 20:26] #231 closed

[2021-09-17 21:03] bobhillier99 commented on #417
ASI183MC with RPI4 using 500gb SSD
I am still getting timeouts with version 8. :( They seem to be less frequent then initially but every minute or so the capture receives timeout and restarts.
I have tried every capture.cpp mentioned in this thread. Per the most recent responses, I completely reinstalled allsky from github. I have attached the last two runs of my logfile as well as my jason file.

[2021-09-17 22:09] PKarhu commented on #460
Hey!
 Don't know what went wrong at the first time, when I tried to follow the instructions, but I've got it working after all!
All the same procedures (including direct download from the github) like the first time I tried.

Am I ever so grateful to you all, for this amazing view from 'Karhukamera' ... I managed to update
the software, brought back the raspberry to its current location and this i

[2021-09-18 03:40] EricClaeys commented on #417
@bobhillier99, just to be clear, you tried the capture.cpp that's currently in Git?  The one we updated a few days ago?
And you tried capture0.7with0.8arguments.zip ?  That's the version 0.7 one that includes checks for the newer version 0.8 argument names.
If so, in capture.cpp, look for a line like this:   `int maxErrors = 2;  ` and change the 2 to 4, then run `make capture` and restart the serv

[2021-09-18 04:00] EricClaeys commented on #460
@PKarhu, nice aurora shot.
You're welcome for all the new features in version 0.8, and I'm glad you like them.  We enjoyed developing them.
We have a lot more improvements on our "to do" list.  One of my goals is to make Allsky easier to use, update, and troubleshoot for non-technical users so they don't have as many issues.

[2021-09-18 04:10] EricClaeys commented on #323
Closing issue based on multiple people in this thread and others saying the most recent firmware fixed the problem of the RPiHQ camera stopping after a few hours.
This issue wasn't related to the Allsky software.

[2021-09-18 04:10] #323 closed

[2021-09-18 07:18] EricClaeys commented on #487
@maserowik, good questions, and they may help us improve the documentation, so thanks for asking.

The variables in ftp-settings.sh should point to whatever directories you create on your FTP server.  These are totally independent of the folders on your Pi, and you could, if you were crazy, create a "startrails" folder on the FTP server and have Allsky copy the keogram to that folder.
The defaults

[2021-09-18 15:38] mpv1953 commented on #417
Hi Eric:
Since I had done a recent rebuild of the O/S, I went ahead and deleted the entire "allsky" directory and downloaded it again with "git clone...".  I ran the install scripts (allsky and gui) and it's working like a champ.
In order to lessen the number of writes on the SD card, I have defined /allsky/images as a softlink to a USB stick.
In my case, the problem is resolved.  Now... on to the

[2021-09-18 16:19] EricClaeys commented on #417
@mpv1953, that's good to hear; thanks for letting me know. Are you running with 0.8 exposure mode ON or OFF?

[2021-09-18 17:13] KrisAstro opened #489 "Tip for use ramfs for storing image.jpg"
Hi,

i wanted use a ramdisk  for storing the current image. I created a tempfs (a ramdisk) of 4mo (i have an asi 120 mono) and i modified the filename (in the camera settings screen) to adding before the filename the complete path to the ramdisk (/mnt/ramdisk/image.jpg).
I discovered a small bug in saveImageDay.sh, saveImageNight.sh and copy_notification_image.sh; FILENAME should be prefixed with

[2021-09-18 18:10] bobhillier99 commented on #417
Eric
I erased allsky directory and etc/raspap files and started from scratch.
Touché! It works!
I had only been changing the capture.cpp file and must have gotten some other files out of sync. After the fresh install, there are no more timeouts,auto white balance works but the see-through-cloud feature still doesn't work. 😉
Thanks for your excellent work.

[2021-09-18 20:06] ckuethe commented on #489
Check out `scripts/allsky_mfs.sh`

[2021-09-18 23:51] mpv1953 commented on #417
Hi Eric:
It's still "Off".
- Mike

On Sat, Sep 18, 2021 at 9:20 AM EricClaeys ***@***.***> wrote:

[2021-09-19 00:58] EricClaeys commented on #417
@bobhillier99, I am glad it's working for you.  Do you have the 0.8 exposure mode on or off?
Not sure what could have caused your issues other than capture.cpp.

[2021-09-19 01:01] EricClaeys commented on #417
@bbillp, since you initially created this issue, would you please close it if version 0.8 is working with the 0.8 exposure mode off?
It appears that the upload on the 16th fixed the issue.
Thanks

[2021-09-19 01:08] EricClaeys commented on #488
@maserowik, you want the GUI to display the version of the three packages?  allsky, allsky-portal, and allsky-website?
I will give it some thought.  The way Git works, allowing users to download single files might make it hard to define what "version" someone is running.  Let me think about it and discuss with Thomas.

[2021-09-19 01:11] EricClaeys commented on #489
One of the things I am working on is putting all the files that change often into a single directory.  This would make it much easier to use a ram disk or USB drive.

[2021-09-19 01:19] maserowik commented on #488
That what I was thinking, if it is doable.

[2021-09-19 01:25] maserowik commented on #487
I have those folder on my web hosting site.  I have data in the startrails and keograms but I have nothing in the images folder.  Just trying to figure out what files or ?? go in to that folder.  The data.json and the image.jpg are in the root of the allsky folder on my hosting site.

here are my current settings I use
![image](https://user-images.githubusercontent.com/25713782/133912522-c608af5e-

[2021-09-19 02:39] EricClaeys commented on #487
@maserowik, do you have `UPLOAD_IMG="true" `in config.sh?  That will upload the current image (e.g., "image.jpg") to IMGDIR so your web page can display it.  Assuming the name of the uploaded image doesn't change, IMGDIR will only ever hold one file, the most recent image.
The other 3 directories on your web server will have many files - each with the date in its name.

Do you have "allsky-website

[2021-09-19 03:04] EricClaeys commented on #330
I have a version of capture_RPiHQ.cpp I'm working on that supports more features, including saturation.  Setting Saturation to -100 gives a black and white image; setting to 100 is totally saturated.  It's part of a larger set of updates so won't be available for a while.

If you are comfortable editing capture_RPiHQ.cpp, the argument to raspistill is "--saturation X", where "X" is -100 to 100.  Y

[2021-09-19 03:15] EricClaeys commented on #328
Closing - issue resolved.

[2021-09-19 03:15] #328 closed

[2021-09-19 03:17] EricClaeys commented on #322
@WirthmU, It looks like the suggestion resolved your problem; if you agree, please close the issue.
I am working on a newer version that supports "saturation", and setting it to -100 produces a black and white image.  Hold tight.

[2021-09-19 03:23] EricClaeys commented on #321
@AstroHighlander, it's easy.  In endOfNight.sh, look for the line that has `../keogram` on it.  In version 0.8 it is `../keogram $LAST_NIGHT_DIR/ $EXTENSION $OUTPUT > ${TMP}`
Add "-rotate 270".  If that's the wrong way, use "-rotate 90".  It should look like:
`../keogram $LAST_NIGHT_DIR/ $EXTENSION $OUTPUT -rotate 270 > ${TMP}`

FYI, the next version of AllSky will allow you to add the rotation am

[2021-09-19 03:30] EricClaeys commented on #319
@Shand359, FYI, in version 0.7 that you were likely using, daytime gain is hard coded at 0.  The "gain" setting was for nighttime only, and only worked if "Auto Gain" was No.
Please try with the newest version 0.8 and the newest 0.7 GUI.  If you still can't get gain to change anything, increase the "Debug Level" (go to the bottom of the Camera Settings GUI page, click on "Advanced Settings") and s

[2021-09-19 03:30] #318 closed

[2021-09-19 03:31] #316 closed

[2021-09-19 03:32] EricClaeys commented on #316
@bleara, if this is still an issue, please install the newest version 0.8 software and see if it's still an issue.  I haven't heard of this issue before and I'm pretty confident an install of the latest code will resolve it.

[2021-09-19 03:33] #314 closed

[2021-09-19 03:34] EricClaeys commented on #313
Closing issue per user comment.  Issue isn't with AllSky software.

[2021-09-19 03:34] #313 closed

[2021-09-19 03:41] EricClaeys commented on #312
@hubivo, Autoeposure on the RPiHQ camera doesn't work at night as far as I can tell, or if it does, it's not very good.  The statement you quoted is only for ZWO cameras.
I think it will be very difficult to have AllSky do nighttime auto exposure for the RPiHQ since we get no feedback from the camera, unlike the ZWO cameras where we get feedback (actual exposure, gain, etc., and can adjust for the

[2021-09-19 03:41] #312 closed

[2021-09-19 03:44] EricClaeys commented on #311
@ckuethe, @thomasjacquin,
is your javascript better than mine?  This is out of my league.
Eric

[2021-09-19 03:47] EricClaeys commented on #307
Closing issue - no reply from either user in 9 months.

[2021-09-19 03:47] #307 closed

[2021-09-19 04:07] EricClaeys commented on #306
@meteorkees, the "width" and "height" in Camera Settings determines how much of the chip is used when taking a picture.  "0" says use the whole chip.  Setting anything other than 0 effectively does a crop of the sensor from the center.  It will produce smaller images but you need to be careful - the width and height normally need to be even numbers, and with the ASI120 have to be divisible by 1024

[2021-09-19 04:07] #306 closed

[2021-09-19 04:12] EricClaeys commented on #305
Closing the issue - user appears to have a viable workaround.

[2021-09-19 04:12] #305 closed

[2021-09-19 04:15] EricClaeys commented on #304
Closing issue - this is for an older release of AllSky.  Please try version 0.8 that has much better error checking and error messages.  Look in /var/log/allsky.log for "endOfNight.sh" messages about "startrails" and "keogram".

[2021-09-19 04:15] #304 closed

[2021-09-19 04:24] EricClaeys commented on #303
@AstroHighlander, you shouldn't have to modify the shell scripts - editing ftp-settings.sh should be sufficient.
The most common issues people have with uploading are:
1. Certificate errors ("host not trusted", etc.).  Adding "set ssl:verify-certificate no" to /etc/lftp.conf.
2. The directories on the FTP server don't exist.  The users has to create them BEFORE trying to upload - Allsky doesn't cr

[2021-09-19 04:24] #303 closed

[2021-09-19 04:54] WirthmU commented on #322
That would be great, Eric.

[2021-09-19 05:33] #487 closed

[2021-09-19 05:34] maserowik commented on #487
Eric,
I had a typo in the setup on my end.  I did not add the images to the imgdir in the ftp-settings.sh.

Thanks for you help!!

[2021-09-19 08:22] KrisAstro commented on #489
Thank Chris, i seen this file and is very useful for create the ramdisk. But by default, the program check the image in the allsky directory and if you change this, we'll have problem.

@Eric : My tip work fine with/without a path to filename. I think is a good stuff to do. I just see a problem is for the webapp; the path for seen is incorrect (is the same problem with the concatenation of the fil

[2021-09-19 09:30] AstroHighlander commented on #321
Thanks for this Eric

A quick question ... how do find out which version I am using?  I've looked at the line you are referring to and it doesn't look exactly like what you've referred to - I'll copy mine below

# Generate keogram from collected images
if [[ $KEOGRAM == "true" ]]; then
        echo -e "Generating Keogram\n"
    mkdir -p $ALLSKY_HOME/images/$LAST_NIGHT/keogram/
        ../keogram $

[2021-09-19 16:11] bobhillier99 commented on #417
Eric
0.8 exposure mode is off

[2021-09-19 21:46] ckuethe commented on #489
Let's just say that some folks who have contributed to allsky agree that being able to use a ramdisk/tempfs to save microsd wear, and that we've just about got the time and energy to develop a proper solution. Whatever we come up with, it'll be less hacky and easier than current approaches

[2021-09-20 01:18] ckuethe commented on #311
Can you check to see if your `daydelay` is set properly? The default is definitely not every millisecond - it's 5 seconds. https://github.com/thomasjacquin/allsky/blob/master/settings_ZWO.json.repo#L5

But in testing I see a couple of undesirable behaviors:
* in firefox, I definitely see a white flash as the frame is repainted, every `daydelay` millseconds.
* in chrome, there is no flash while the

[2021-09-20 02:53] maphilli14 commented on #417
I tried a fresh download after moving /etc/raspap and ~/allsky with both 0.8 on and off.  Anything other than exp =< 1000 did not work.  I even tried 1100 instead of the usual 2000 or 4000 and only timeouts. Thanks, Mike From: bobhillier99Sent: Sunday, September 19, 2021 12:11 PMTo: thomasjacquin/allskyCc: maphilli14; MentionSubject: Re: [thomasjacquin/allsky] ERROR: Failed getting image, status =

[2021-09-20 05:10] laheller commented on #142
Hi @EricClaeys

Problem solved! Can be closed.

BR,

Ladislav

[2021-09-20 07:28] AstroHighlander commented on #321
Got it working!  Amended the line below

../keogram $ALLSKY_HOME/images/$LAST_NIGHT/ $EXTENSION $ALLSKY_HOME/images/$LAST_NIGHT/keogram/keogram-$LAST_NIGHT.$EXTENSION  -rotate 270

Thanks for your help - I'll close the issue now!

[2021-09-20 07:28] #321 closed

[2021-09-20 15:01] EricClaeys commented on #321
@AstroHighlander, your change looks good.  You're probably running version 0.7 which is why your line looks quite a bit different than my 0.8 line.
You can determine what version you're running by looking at the README.md file or looking in /var/log/allsky.log after you start the software - one of the first lines will look like `Allsky Camera Software v0.8.`

[2021-09-20 15:17] EricClaeys commented on #417
@maphilli14, That's really strange.  I don't know what exposure length would have to do with anything.  Sorry for all the hassle.
This same camera with the exact same configuration of the Pi was working on version 0.7?

Please do the following.  It should only take a couple minutes:
1. Stop the service.
2. Remove the log file (`sudo rm -f /var/log/allsky.log`).
3. Increase the "Log Level" in the G

[2021-09-20 15:24] EricClaeys commented on #486
@rodrigoluk,
A lot of people who use the software like a very short night delay since they are looking for meteors and other such things and don't want to miss any due to a long delay.  For people like me (and you?) that only want to see what the cloud coverage is at my observatory, a much longer delay is appropriate.

I have also seen high CPU usage with kworker but never figured out why and don'

[2021-09-20 15:46] EricClaeys commented on #438
@itsgps,

Just so I understand, with Autogain OFF the post-midnight images with clouds are blue, but with Autogain ON they aren't?
Did you change ANYTHING between when it was working correctly and when it wasn't, other than Autogain and Manual Gain?  If not, have you tried putting the settings back to when it was working fine?

Things to try:
1. If you're not running version 0.8, please upgrade.
2

[2021-09-20 15:49] EricClaeys commented on #322
@WirthmU, are you running version 0.8 of Allsky?  You can see the version number after you start the software in /var/log/allsky.log.
If you are running 0.8, I can send you a TEST version of capture_RPiHQ.cpp that supports saturation for you to try.

[2021-09-20 18:58] Jonk2 commented on #311
I can't find the original details I found before, but I have found these which backs it up. basically images need to be preloaded prior to displaying them.

https://kylekelly.com/posts/firefox-flickering/
https://stackoverflow.com/questions/36358310/load-high-res-image-in-background-firefox-flicker

The reason I set the images down to ms was I was trying to see if I could get a reasonable video st

[2021-09-20 19:01] Jonk2 commented on #98
I would actually like to see this progressed - it;s all very well on the instructions saying 'back up your config files' but to the uninitiated like me, this isn't obvious.
Also, I have deleted the allsky folder, re cloned a fresh onem installed it and a lot of my settings remained from the previous install.
At least, I 'think' I remember that happening, can't say for sure.

[2021-09-20 19:04] Jonk2 commented on #488
I have a reservation, this should only be visible after you've logged into the admin gui, otherwise it's a security risk.
I did start a thread asking for a logout button to be added, which is also a security thing, as anyone accessing their pi outside of their local LAN leave it wide open (on a mobile for example, where they perhaps don't close a session properly like a computer browser does).

[2021-09-20 19:57] robmorin commented on #486
Hey @rodrigoluk
What lens are you using with the Pi HQ Camera? I cant really find any fish eye ones.

Thanks, and have a great day!

[2021-09-20 19:58] EricClaeys commented on #489
@KrisAstro, the version of AllSky I'm working on does away with the $IMG_PREFIX variable and only uses the file name you specify (default "image.jpg").  All the old "resized", "processed", "liveview-", and other variations of "image.jpg" are gone.

The capture program will write a file called `image-DATE.jpg` to the new allsky/tmp directory, and all the scripts will process the file in that direct

[2021-09-20 20:06] robmorin commented on #459
@ckuethe

I am to put this camera at the cottage, my field of view might not be 180 degrees, but i need a lens to test at least, that's why i was asking about the lens you were using. Its difficult to find a lens other than the raspberry lenses that come with the camera for a 1/2.3 sensor  So if i just get the 6mm lens(60 degree wide angle) from raspberry is that good enough for some testing then

[2021-09-20 20:47] EricClaeys opened #490 "Update to ZWO SDK 1.20.0"
Upgrade ZWO libraries to 1.20.
I can't find any way to do a Pull Request against a binary file - perhaps because I don't own the repository.
ZWO's change log:
[code]
[lib.zip](https://github.com/thomasjacquin/allsky/files/7198636/lib.zip)

[2021-09-20 20:58] EricClaeys commented on #488
@Jonk2, It only displays the settings file path name on the administrative GUI which you can only get to by logging in.
As far as I know, you can't get to the GUI until you log in.  If I'm wrong, please correct me.

It does NOT display on the web page that allows you to overlay a star map.

I' added "add a logout button to the admin GUI" to the "possible to-do" list.

[2021-09-20 21:12] EricClaeys commented on #98
@Jonk2,
if you have the GUI installed, the camera settings (the ones on the GUI) are stored in /etc/raspap.  They are not touched when you re-install allsky, although they aren't used unless your config.sh had `CAMERA_SETTINGS=/etc/raspap`, which the default file does not.  Is it possible you put that line into the new config.sh?

They /etc/raspap configuration files ARE overwritten with defaults

[2021-09-20 21:16] Jonk2 commented on #98
To be honest, when I first found this software, it appeared to have gone stale, i.e. before you became involved it hadn't been updated for a long time.
I wouldn't have done something so complex if I didn't have a small understanding of what I was doing, so I probably didn't add anything like that.
Having said that, yes a simple 'save config / settings' button / option would be most welcome.

[2021-09-20 21:22] markwalkom commented on #98
The developers of this work on this as a labour of passion, and they have no obligations to continue to work on or support it moving forward. Please consider supporting the project to show you appreciate their efforts (if you haven't) - https://github.com/thomasjacquin/allsky#donation

[2021-09-20 21:29] ckuethe commented on #459
A completely free place to start: google for bintel calculator. That'll let you plug in some parameters like focal length, focal ratio, pixel size, sensor dimension, and you'll get a summary of your FoV.

A second completely free tool: stellarium. Download and install it, and spend some time with the ocular/sensor tools. You can simulate an arbitrary location, at an arbitrary time, with an arbitra

[2021-09-20 21:36] ckuethe commented on #490
You just have to commit them to your fork of the repo. https://docs.github.com/en/get-started/quickstart/fork-a-repo

[2021-09-20 21:42] EricClaeys commented on #311
@Jonk2, are you wanting to save all the many thousands of files produced by the pseudo-video you're creating, or do you just want to view them on your Pi?  If you just want to view them, ZWO has a demo program that displays video called "main_SDK2_video".
To get it, download their SDK at [https://astronomy-imaging-camera.com/software-drivers](url) and click on the "Developers" tab, then download t

[2021-09-20 21:44] robmorin commented on #459
Thanks for all the info ckuethe!

I will for sure check out that calculator and download the software.

From what I understand so far is I need a lens that is compatible with the 1/2.3 sensor,  which is hard to find in a wide angle of 160 or so. Thanks again!!

Have a great day

[2021-09-20 21:58] ckuethe commented on #459
No, what you need is a lens that is compatible with the pi camera CS mount. Don't worry too much about how much image will be projected on your sensor just yet.

I think of CS as "C short" - it has 5mm less focus depth, so you can put a C-lens+CS adapter (aka a 5mm thick spacer) on a CS-mount camera, but you can't use a CS-lens on a C-mount camera. The Pi HQcam has a CS mount so it can use a CS le

[2021-09-20 22:01] EricClaeys commented on #98
@Jonk2, @markwalkom,
About 6 months ago I got an allsky camera and a Pi and found the AllSky software via Google and downloaded it.  I also noticed it was somewhat stale and I had a lot of questions and issues.  I recently retired and was feeling the urge to program, so I forked the software and started updating my copy.  I also started participating in the Issues on GitHub.

At some point Linda T

[2021-09-20 22:03] AstroHighlander commented on #321
Thanks Eric

All is looking well & thanks for your help.

Eric

Sent from my iPhone

[2021-09-20 22:38] ckuethe commented on #98
My impulsive thought is: get rid of all the shell based configs, and replace them with a single JSON settings file which shall be the authoritative source of all settings. The replace the shell scripts with python scripts which are way faster (~100x) for parsing and computing command line arguments from JSON.

JSON has the advantage of being machine-readable, machine writable, and fairly easy to c

[2021-09-20 22:56] EricClaeys commented on #98
@ckuethe, The settings files I'm aware of are:
- camera_options_*.json
- settings_*.json
- config.sh
- ftp_settings.sh
- autocam.sh

And the repo files:  settings_*.json.repo,  config.sh.repo, and ftp_settings.sh.repo.

Some desired future settings include camera capabilities' min, max, and default values as well as camera model and ID (where available).

Whatever the design is needs to allow for

[2021-09-20 23:43] ckuethe commented on #98
The repo files should not be backed up. They come from git, and should never be user-modified. Their purpose is to give and example of how to configure that stage of processing.

IMHO, the existence of autocam.sh is a  major design flaw. When I saw it I cursed a lot and then commented it out. If I put `CAMERA="ZWO"` in my config.sh, allsky has no business running any autodetection - clearly I had

[2021-09-21 00:42] ckuethe opened #492 "sometimes notification images appear in the nightly movies"
Guessing it's a race condition of some sort. Maybe notification images could be symlinked rather than copied, then `saveImageNight.sh` could detect that and ignore the image. Dunno, just noticed it, haven't had time to investigate deeply.

[2021-09-21 01:57] EricClaeys commented on #386
@KH6JAG, adding video streaming would be a very large undertaking.  The whole design of AllSky is for taking pictures, not movies, so the basic design would need to change in order to support movies.  It would basically be writing a whole new program and wouldn't be ready in the timeframe you need something.
I suggest looking at other alternatives.  If you settle on something, let us know so we ca

[2021-09-21 02:01] EricClaeys commented on #492
@ckuethe, I _think_ I fixed it in the version of AllSky I'm developing/testing.  I'll keep this issue open until the updated version is out for a while and people don't report any issues.

[2021-09-21 02:17] rodrigoluk commented on #486
Hi @EricClaeys,

Thanks for looking into this issue 😊 The kworker (kernel workers) are not in the $PATH as they are not binaries the user calls. These are spawned by the kernel itself (as I understand these but I could be wrong). I understand some people really want continuous frames without delay but 10ms is too aggressive for some reason on my setup.

Thanks!

[2021-09-21 02:25] maphilli14 commented on #417
Sadly it erorrs and doesn’t log, I changed from to 4 then 3:

***@***.***:~ $ ls -la /var/log/allsky.log*

ls: cannot access '/var/log/allsky.log*': No such file or directory

***@***.***:~ $ df -h /

Filesystem      Size  Used Avail Use% Mounted on

/dev/root        29G   17G   12G  60% /

***@***.***:~ $ sudo service allsky status

● allsky.service - All Sky Camera

   Loaded: loaded (/lib/syste

[2021-09-21 02:40] ckuethe commented on #492
Cool, you should update your fork with your changes so I can test them.

[2021-09-21 02:41] rodrigoluk commented on #486
Hi @robmorin,

I tried to reply by referencing a new thread but I don't think that worked.
I'm using StarDot LEN-2M1.55MMCS 1.55-1.55mm f/1.5-1.5 Fisheye Body only Camera Lens, Black https://www.amazon.co.uk/dp/B01CX4U7DK/ which seems to be a clone of popular lens made by Arecont. There are many Chinese clones but basically the same lens.

The following page has an interesting set of tests https:/

[2021-09-21 02:52] ckuethe commented on #492
It occurs to me that having notification images in the allsky directory is the wrong approach. They should go into the web server directory as a web asset.

PHP can calculate the best image to display, possibly with a banner that indicates the status of the capture process.

* If there's no image, PHP displays a black box, or maybe a cloud partly covering the sun/moon, and says "No images captured

[2021-09-21 04:49] EricClaeys commented on #492
Not everyone has the GUI or web interface so we can't count on them being there.  And some people put the web interface on a separate machine and FTP files to it.

The capture programs display several notification images:
* Taking dark frames
* Camera off during day
* Software not running

allsky.sh displays:
* Software starting up
* ERROR - see log file
* Software not running

There's already com

[2021-09-21 05:05] ckuethe commented on #492
Branch-per-PR is generally a good practice. It keeps the diffs small and easy to review, so you know exactly what you're changing and whether nor not you've missed something. You can make one branch depend on another branch if you're stacking two major changes on top of each other - and rebasing to account for changes that were merged while you were developing is easier (often trivial) with smalle

[2021-09-21 06:38] KrisAstro commented on #489
@EricClaeys it's a very very good new :+1: i'm very impatient to test this new version.

[2021-09-21 13:07] KH6JAG commented on #386
Thanks for the response.  I currently using the RPi HQ camera for live streaming of observations at the South Florida Science Center observatory.  This was to prevent potential viral transfers off the eyepiece.  I currently use RPI Cam Web Interface as the SW.  It has a similar interface to the AllSky GUI where all control is done the browser.

The observation can be seen thru any browser, (Win, M

[2021-09-21 13:07] #386 closed

[2021-09-21 14:04] maserowik opened #494 "startrail question"
Currently my allsky is on ground level.  I know my images are full of light from some of my yard lights but I am seeing a strange occurrence.  on 9/18/2021 I got a good startrail.  so after that the startrail appeared to stop working.  I have attached two startrails one for 9/18/2021 and one from 9/20/2021

![startrails-20210918](https://user-images.githubusercontent.com/25713782/134185279-3131553

[2021-09-21 14:05] maserowik commented on #494
if you look at the upper left you will see that the date and time are merged but on the bottom one all you see is one..
Thanks
mike

[2021-09-21 14:25] maserowik commented on #494
# Images with a brightness higher than the threshold will be skipped for startrails image generation
BRIGHTNESS_THRESHOLD=0.2

i went from .1 to .2 to see if this works.

[2021-09-21 16:13] robmorin commented on #486
Thanks @rodrigoluk

I shall take a look at those URLs..
I update the post when i pick something up.

Have a great evening.( i think evening, your 6 hours ahead of me, I'm from Montreal, Canada)

[2021-09-22 07:29] kujbida commented on #441
Hi,

Can you include the entire timelapse.sh file?

Thanks
Baltazar

[2021-09-22 14:27] EricClaeys commented on #483
I assume Linda didn’t know about OpenCV or didn’t know how to use it when creating the histogram.

Eric

From: Chris Kuethe ***@***.***>
Sent: Thursday, September 16, 2021 2:32 PM
To: thomasjacquin/allsky ***@***.***>
Cc: EricClaeys ***@***.***>; Comment ***@***.***>
Subject: Re: [thomasjacquin/allsky] Numerical instability in histogram exposure, maybe (#483)

Indeed I am using the 120.

I like th

[2021-09-22 14:30] EricClaeys commented on #484
I don't see a problem with supporting only long form arguments.

[2021-09-22 19:02] bobhillier99 commented on #417
Eric
Bad news and great news
With 0.8 exposure mode OFF I continue to get ASI_ERROR_TIMEOUT (even after setting maxErrors = 5).
With 0.8 exposure mode ON, no more ASI_ERROR_TIMEOUT.
Woo Hoo!

I have 2 suggestions (not sure where to post this)
1: line 2045     int minExposure = 100
    change to   int minExposure = ControlCaps.MinValue
    reason: my ASI183 is very sensitive. The default 100 is too

[2021-09-22 19:25] ckuethe commented on #417
@bobhillier99  I agree that the defaults are not optimal in all cases, see #468 . We're investigating ways to better determine these by querying the camera instead of hard-coding parameters. Thanks for volunteering to help us test. ;)

[2021-09-22 19:59] EricClaeys commented on #417
@bobhillier99, I believe you, but it make NO sense that using 0.8 exposure mode would work when not using it didn't, given that it worked fine for you when you had 0.7.  I won't look a gift horse in the mouth though...

The ASI183 has a MinValue of 32 for exposure, not 30.  You should see this in /var/log/allsky.log if you set debuglevel to 3 or 4:
[code]
Either way, your suggestion to change 100

[2021-09-23 08:10] sebmueller opened #497 "Time delay between Pictures"
As I looked the pictures of a night, I found an airplane trail on them.
Between 2 Pictures, there were a big gap in the airplane trail. As I watched at the timestamp of the pictures, I saw, there is also a gap of app. 6 seconds.
I investigated the code an found, that the "raspistill" command is called without the "--timeout" parameter. That means, raspistill waits for about 5 seconds before it sta

[2021-09-23 10:47] Jonk2 commented on #311
@EricClaeys no, I wanted to use the allsky software's image output as a cctv-like video feed so I could embed it in another browser window. For the daytime, there's probably a reasonable limit like 4fps or something. I essentially want to integrate all sorts of information (this allsky being one of them) on a single webpage to monitor my observatory.

At the time of testing that, was when I found

[2021-09-23 18:54] bobhillier99 commented on #417
@EricClaeys
oops, you are correct, the minvalue was 32. I misread the image text that said .03 ms. I actually assigned using the camera's reported min value.
Back to ASI_ERROR_TIMEOUT.... (and my early career as a software QA tester in the 1980s).
I instrumented the code a tiny bit to use an ASI_ERROR_TIMEOUT counter (and report if Exposure version 0.8 was ON or OFF). I appended this with the ASI_

[2021-09-23 19:01] bobhillier99 opened #498 "// define USE_HISTOGRAM stills needs line 92."
Line 92 should be placed ahead of line 91. If you comment out USE_HISTOGRAM then this line 92 is still needed.
long cameraMaxAutoExposureUS  = NOT_SET;	// camera's max auto exposure in us

[2021-09-23 20:02] linuxkidd commented on #417
Just another data point in this troubleshooting effort.

Tests performed:
1. Installed fresh Raspberry Pi OS lite
2. **Only** installed GIT, then cloned the repo and ran the `install.sh` script ( 2021-09-21 )
   - Capture runs perfectly with no TIMEOUT in either 0.7 or 0.8 exposure mode.
3. Ran `apt update && apt -y full-upgrade`, then rebooted
   - Capture runs perfectly with no TIMEOUT in either

[2021-09-23 20:08] EricClaeys commented on #417
@bobhillier99, you're special.  You are the only one who has a camera that works with the 0.8 exposure but fails with the 0.7.  I can't explain it, although I can't explain why ANYONE is getting the timeouts, and so far, neither can ZWO.  Running with 0.8 ON is ideal, since it decreases the temperature of your camera, often by a fair amount.

Anyway, thanks much for your detective work.  Could you

[2021-09-23 20:08] ckuethe commented on #417
re point 8, it looks like you didn't add  `-DOPENCV_C_HEADERS` like the x86_64 section does.

[2021-09-23 20:17] linuxkidd commented on #417
Dang, eagle eyes!  I fixed it now... and, happy to report it still works fine. :)

I did omit the actual display function of the code.. I spent a bit of time looking into how to implement it in OpenCV4, but came up empty on execution.  I don't use it, so it wasn't high priority for my hacking around.

[2021-09-23 20:18] EricClaeys commented on #417
@linuxkidd Michael, anything we should change in the master software based on your test?

[2021-09-23 20:21] linuxkidd commented on #417
@EricClaeys Bullseye support is a bit bleeding edge, but everything else is working fine on all new buster installs even with updates.  The only thing I have different from default is I've disabled auto-exposure in Daytime capture.  In my first attempts with that early on, it was still causing wild swings of brightness.

I'll set it back to auto at this point and see how it goes.

[2021-09-23 20:32] ckuethe commented on #417
@bobhillier99

Even better, you should do up a PR. It's easier to review, and easier to cherry pick changes if others want to experiment with it, and easier for you to be credited for your contributions to Allsky.

[2021-09-23 20:48] EricClaeys commented on #417
@linuxkidd Michael, if you send /var/log/allsky.log while you're having wild swings, I'll take a look.  I've also noticed some swings in the log file but haven't had time to look into it.
Thanks - Eric

[2021-09-23 21:23] EricClaeys commented on #497
@sebmueller this is a hard one.  I played around with different values and settled on 2 seconds during the day and 10 seconds at night.  If the number is too short, raspistill doesn't have time to do the auto exposure.  I figured during the day the exposures are normally very short so 2 seconds should give more than enough time.  At night, exposures are much longer and could really use more than 1

[2021-09-23 22:57] maserowik opened #501 "Question about the allsky and allsky-gui"
I remember reading a post about maybe grouping the allsky program and the allsky-gui(portal) to one install program.  Is this still on the to do list?

[2021-09-24 00:35] ckuethe opened #503 "Fallible time calculation in keogram"
https://github.com/thomasjacquin/allsky/blob/ed4f6154f737f857365bbe0da7a3c83dad065ac8/keogram.cpp#L159-L160

This fails (well, produces undesired results) when you copy a bunch of images and don't preserve timestamps. There needs to be an alternate method of calculating the time, possibly based on the filename.

[2021-09-24 02:11] bobhillier99 opened #504 "Add ASI_ERROR_TIMEOUT counter"
@EricClaeys
Suggestion is to add an ASI_ERROR_TIMEOUT counter. If it is of value, could add a counter and report the # of occurrences of every type of ASI_ERROR_CODE

**int asi_error_timeout_cntr = 0;**
// Display ASI errors in human-readable format
char *getRetCode(ASI_ERROR_CODE code)
{
    std::string ret;
    if (code == ASI_SUCCESS) ret = "ASI_SUCCESS";
    else if (code == ASI_ERROR_INVALID_

[2021-09-24 02:23] bobhillier99 commented on #417
@EricClaeys
Do I use the supplied capture0.7with0.8arguments in a 0.7 build or an 0.8 build? It doesn't work in an 0.8 build?

[2021-09-24 03:20] EricClaeys commented on #417
@bobhillier99 use it in a 0.8 build.  It won't have any of the 0.8 features except printing an error message if a capture fails.  0.7 did almost no error checking.

[2021-09-24 04:19] linuxkidd commented on #416
Hi @Jonk2, would you mind creating the code changes necessary to add a logout button and create a subsequent PR against the [allsky-portal](https://github.com/thomasjacquin/allsky-portal) repo.  Thanks!

[2021-09-24 04:36] linuxkidd opened #506 "Request for comment - Binary packages and apt repo"
Hi all,
  It has always bugged me that the installation method sets up a full dev environment and compiles on the fly against the HEAD of the repo.

I'd like to propose a version tag release method (possibly date based?  v2021.09.23 for example), and accompanying compiled package releases, preferably even hosted in an apt compatible repo directory.  My initial research on the packaging and repo se

[2021-09-24 06:12] #490 closed

[2021-09-24 06:50] ckuethe commented on #506
Speaking only as a random person on the internet, go for it. I think you've seen plenty of struggles here as people test new versions of code to debug issues or upgrade their systems and find unexpected behavior. Try some experiments and let us know what you find. :)

I am indeed working on `getopt()` to make argument handling easier, and I've been muttering here and there about my fondness for JS

[2021-09-24 12:48] sebmueller commented on #497
@EricClaeys thanks a lot for your fast response.

I try to catch comets, so a gap of 10 seconds between 2 pictures is to long.

As we use a manual exposure time and no auto gain (in the night), the sensor shouldn't need time for setting up these parameters, or I'm wrong?

To have this option in the setting user menu is a good Idea, but why only with autoexposure on?

[2021-09-24 12:56] EricClaeys commented on #506
@linuxkidd Michael, the version I am working on adds an ALLSKY_CONFIG variable that will point to the single directory that holds all the config file(s).  It could easily point to /etc/allsky.
It also adds ALLSKY_SCRIPTS that points to where the scripts are.

[2021-09-24 13:20] EricClaeys commented on #497
@sebmueller if auto exposure is OFF it would ignore the timeout values entered by the user and use the smallest possible value.
If auto exposure is ON it will use what the user specified, or defaults if they didn't specify anything.

Eric

[2021-09-24 20:52] linuxkidd opened #508 "Compile fails on Rapsberry Pi OS Bullseye due to OpenCV4"
Current code fails to compile on Bullseye based Rapsberry Pi OS due to OpenCV4 dropping legacy naming structures.

[code]

#505 Will resolve this.

[2021-09-24 20:52] linuxkidd commented on #508
Will close this issue once PR #505 is merged.

[2021-09-24 20:54] linuxkidd commented on #417
FYI -- I found that the OpenCV4 compatible methods work with Debian Buster as well as Debian Bullseye.  I've submitted a new issue #508 and a new PR #505 for this.

[2021-09-25 02:08] JosWennmacker opened #509 "Platform aarch64 missing in Makefile"
uname -a on Ubuntu Server 20.04 returns aarch64. It is missing in Makefile. I added the following to Makefile and the install completed (with the usual warnings ;-).

#------------------------------------------------------------------------------
#Ubuntu server 20.04 added by Jos Wennmacker
ifeq ($(platform), aarch64)
OPENCV = $(shell pkg-config --cflags opencv4) $(shell pkg-config --libs opencv4)

[2021-09-25 04:03] linuxkidd commented on #509
Thanks!  I'll add this to my existing PR ( #505 ) for wider OpenCV support.

[2021-09-25 04:46] linuxkidd commented on #506
A few thoughts on config stuffs.

- Current Method:
    - `settings_(ZWO|RPiHQ).json` for camera settings
    - `config.sh` for post-image processing config ( upload, timelapse, delete old, etc )
    - `scripts/filename.sh` for naming convention of the output files
    - `scripts/ftp-settings.sh` for Upload config
    - The above list is parsed by `allsky.sh` as a wrapper around `capture` or `capt

[2021-09-25 07:34] sebmueller commented on #497
@EricClaeys ok, I see it.
but for finding comets, a 10 second delay is to long. so to set the parameter by users is a good solution :)

I'm going to play around with some different parameters, maybe there is a better solution.

kind regards
sebastian

[2021-09-25 18:21] Blueshawk commented on #339
Has anyone made progress on this project? I also have a usb IMX291 I'd like to try with this terrific software setup.

[2021-09-25 19:57] #508 closed

[2021-09-25 19:57] #509 closed

[2021-09-25 20:07] linuxkidd commented on #506
I chatted with @thomasjacquin on this topic... highlights below:

- Unified INI file seems a good fit ( ease of manual editing, ease of programmatic editing, centralized config )
- Refactoring code to split different functional parts into separate header / source files for easier future maintenance and collaboration sounds like a good idea.
- [New repo created](https://github.com/thomasjacquin/all

[2021-09-25 20:27] ckuethe commented on #506
I would prefer to JSON all the things. I find YAML hard to read/write correctly (eg. in complicated HomeAssistant/ESPhome configurations). If I do have to YAML, I have a couple of nasty python one-liners to transcode between JSON and YAML. Another thing I like about json is that there are some nice small JSON libraries for C (https://github.com/DaveGamble/cJSON) and python/php/ruby/perl all have g

[2021-09-25 20:33] ckuethe commented on #506
I'll start my work on refactoring the configuration state of keogram and startrails first. Those should be pretty small and they'll give you something to run your unified config loader against.

[2021-09-25 20:35] linuxkidd commented on #506
@ckuethe check out my first blush of the [allsky.conf unified config](https://github.com/linuxkidd/allsky/blob/packaging/config/allsky.conf.repo).

[2021-09-25 20:56] ckuethe commented on #506
Cool. I have some comments but it seems pretty clear.

* why does scriptspath have to end with '/' ? Both `/home/pi/allsky/scripts/endOfNight.sh` and `/home/pi/allsky/scripts//endOfNight.sh` are valid and resolve to the same file
* up to you, but maybe put units in the property names if applicable, eg. exposure_us or delay_ms
* `bin` -> `binning`, since `bin` might also mean binary.
* maybe break

[2021-09-25 21:00] Jonk2 commented on #416
I've had a look at the gui webpage code, and although adding an extra button for logging out, and having that page kill an open session should be very straighforwards, the authentication for this webpage uses csrf tokens which isn't something I used to use.
What this means is I cannot confidently add code to share with others as I haven't figured out how to kill a session that uses a csrf token. I

[2021-09-25 21:25] linuxkidd commented on #506
- Point taken on trailing /, removed as requirement
- Added units to property names -- I may have missed some, open to suggestions.
- Renamed `bin` to `binning`, lemme know if there are others I missed.
- Removed white space in property names since there's variation in how that's handled across languages / libraries.
- [inih](https://github.com/benhoyt/inih) looks good for this use case.  Light we

[2021-09-25 21:32] ckuethe commented on #506
I'd suggest snake_case for property names for consistency with the unit-suffixed properties, but that's just me.

Also, I'm not clear on the differences between keogram.upload, startrails.upload, timelaps.upload and upload.endOfNight are. would it be better to move them to upload.keogram, upload.startrails, upload.timelapse?

[2021-09-25 21:36] linuxkidd commented on #506
snake_case is fine with me.

I teetered back and forth on putting a main [upload] section with each flag, or putting the flag into each section.  Ultimately, I opted for moving those under their respective section so the user can toggle generation and upload in one place.  Then leave the `[upload]` section for configuring how/where/etc...

`endOfNight` didn't seem to fit anywhere else.. but, I'm h

[2021-09-25 21:46] ckuethe commented on #506
OK, that's reasonable. maybe put some example URLs in there then like:

[code]

[2021-09-25 22:10] linuxkidd commented on #506
I like it... added.

Also, re: Text params (and others)
I don't intend for options from a given section to be strictly enforced to only that application.
However, the text params are all under the `[overlay]` section, so it isn't enforcing indicative in the name anyway.

[2021-09-25 22:47] ckuethe commented on #506
Indeed there is nothing preventing one config consumer from using a different section, I was just thinking about it from the perspective of making it clear that this parameter might be shared and what it might be used for

[2021-09-26 08:32] bribon2 opened #510 "ZWO nighttime flickering"
Hello good Morning. I have a problem that I cannot find where the solution can be ...
Days when there is a Moon for example, the automatic exposure changes constantly producing a "flicker" in the sequences, such as:   https://observatoridepujalt.cat/allsky/videos/allsky-20210925.mp4
This happens to me since I update to the latest version 0.8
In version 0.7 this did not happen to me.

Thanks!

[2021-09-26 14:20] maphilli14 commented on #417
I appreciate this extra work and findings, but I don't know how to read those two open issues.  Any action we can take to debug this further and make progress on this issue?

[2021-09-26 15:53] linuxkidd commented on #510
Hi @brianboru82 -- Can you attach the `/var/log/allsky.log` file file to this issue.  Note: Attach can be done by dragging the file into the compose window for your next comment, please don't copy/paste the file contents.

@EricClaeys will likely want to see that.

I'm wondering too, if you could upgrade to the latest code ( just merged last night ) and see if that helps at all.

Thanks!

[2021-09-26 16:03] linuxkidd commented on #417
Hi @maphilli14, apologies for the confusion of mentioning these other Issue/PRs.

I initially had the same timeouts, but a fresh install of buster + allsky resolved it entirely on my setup.  If you opt to test this, be sure to back up your `settings_ZWO.json`, `config.sh` and the `allsky/scripts` directory (if you've modified anything in there).

[2021-09-26 19:02] bribon2 commented on #510
Thank you! This is the file:
[allsky.log](https://github.com/thomasjacquin/allsky/files/7232054/allsky.log)

How to update the latest code? Do I have to delete everything and reinstall?

[2021-09-26 19:21] ckuethe commented on #510
You don't have to delete, you can just move the allsky directory out of the way. Additionally, if you're comfortable with git, you can do something like `git stash && git pull && git stash pop` (you might have to resolve some merge conflicts if you've made local changes).

[2021-09-26 20:02] #503 closed

[2021-09-26 23:42] maphilli14 commented on #417
I just did a fresh install and git clone and it still errors out....  see attached

[allsky.zip](https://github.com/thomasjacquin/allsky/files/7232471/allsky.zip)

:(

[2021-09-27 04:03] EricClaeys commented on #510
@bribon2 We didn't do anything to the nighttime exposure per se, but it's possible the 0.8 exposure algorithm has a side effect.  Try disabling the Version 0.8 Exposure - in the GUI, go to the bottom of the Camera Options and click on Show Advanced Options, then set the 0.8 Exposure Mode to No.
If it's aldeady No I will have to look at your log file in a couple days when I have my PC.

Eric

[2021-09-27 04:37] EricClaeys commented on #506
Chris. Could you do me a favor and send Michael the version 2 of the text file I sent out with all the possible enhancements?  I am out of town and wont have access to it for a while.

@linuxkidd Michael, I have forks of allsky-portal and allsky in github/EricClaeys that includes everthing I have in progress.

Thanks - Eric

[2021-09-27 05:01] ckuethe commented on #506
Will do

[2021-09-27 13:00] EricClaeys commented on #506
The camra_options_*.json files have sections as does the Camera Settings GUI page.  Daytime, nighttime, overlay, etc.
________________________________
From: Chris Kuethe ***@***.***>
Sent: Monday, September 27, 2021 1:02:08 AM
To: thomasjacquin/allsky ***@***.***>
Cc: EricClaeys ***@***.***>; Mention ***@***.***>
Subject: Re: [thomasjacquin/allsky] Request for comment - Binary packages and apt rep

[2021-09-27 15:26] maphilli14 commented on #417
Hey dumb question.  With lots of 'scientific' cameras there is a separate register to change the exposure range is that possibly in play here?  IE, exp values from 1ms to 100ms are valid for mode A but to get to 100ms to 1000ms you need mode B and for beyond 1sec you need modeC?  Possibly?

Let me know what other logs you might need?  I can try a higher logging level as suggested or a different ca

[2021-09-28 00:41] EricClaeys commented on #510
@bribon2 It looks like auto gain is on, and I suspect auto exposure as well since the sleep times vary, and that only occurs when the exposure length changes.  Try disabling auto gain, and set it to a manual 220 which is what the auto gain was using.  Some people have reported problems when both auto gain and auto exposure are set.
At night the camera handles the exposure time and gain value, our

[2021-09-28 02:29] EricClaeys commented on #506
@linuxkidd Overall I really like it.  Some suggestions:
* combine image_name and image_extension so user just specifies the file name, e.g., image.jpg.  I think that's easier for users rather than having to split into name and extension.  It's also easier to to explain with just one variable.
* We'll need sections for different cameras.  Right now just ZWO and RPiHQ, but soon we'll be able to hand

[2021-09-28 02:36] linuxkidd commented on #506
A lot of good things in your update...

One thing jumped out at me...
_ms == milliseconds ( 1000 ms == 1 s )
_us == microseconds ( 1000 * 1000 us == 1 s )

:)

[2021-09-28 02:48] #484 closed

[2021-09-28 02:48] #498 closed

[2021-09-28 02:58] linuxkidd commented on #506
Say... is there a real reason to allow selection of file name?  Shouldn't it always either be `image.jpg` or `image.png` ?  Maybe just a selection of output type ( JPG or PNG ) is better?

Re: Multi-camera
- since I'm switching from ini to json, we can add tags in the JSON for which camera types a given option applies to.
- I plan to abstract the image acquisition to a separate included files, whe

[2021-09-28 03:01] ckuethe commented on #506
So we should probably define what kind of upload we mean. You could scp/sftp/ftp/rsync every image as it's created, or you could do it at the end of night. I was thinking about the end of night use case, since my sky cam is behind an nginx proxy, and also has access to network shares.

And since we now have serial number retrieval in capture.cpp we can use that to control per-camera tuning. I don'

[2021-09-28 03:04] linuxkidd commented on #506
Sure, we can certainly store per-camera settings in the JSON file.    Are there people who run multiple cameras on a single Pi?  Or is this more for having sensible defaults per camera model?

[2021-09-28 03:23] EricClaeys commented on #506
Isn't the [upload] for whether or not the user wants the current image.jpg to be uploaded?  If so, that's a single file so I thought it should go with the other single file options, not in the multi-file section.

Is there something wrong with the _ms and _us?  Those dang things always confuse me.

I think we should continue allowing the user to specify the filename with "image" the default.  I do

[2021-09-28 03:39] ckuethe commented on #506
I've been tempted to run alternate cameras on my Pi, just to monitor a particular patch of sky, but I haven't seen anyone doing it in production. If ZWO wanted to donate me one of every camera I'd happily come up with sensible defaults for every camera. :)

[2021-09-28 09:19] WirthmU opened #514 "Permission problem with latest commits"
I get the following errors when I install from github running ./install.sh:

[code]

[2021-09-28 12:01] Zy0d0x0 commented on #339
I ended up moving to a raspberry pi camera in the end.

On Sat, 25 Sep 2021, 19:21 Blueshawk, ***@***.***> wrote:

[2021-09-28 13:15] EricClaeys commented on #506
I posted a request to the Facebook Allsky group for a really cheap used camera for testing, or a donated one, and someone gave me $300 to buy a new one.  That's how I got the 290.  You never know until you ask.
I then bought an extra Pi and RPiHQ for testing.

[2021-09-28 15:04] linuxkidd commented on #514
Grr.... fixing..

[2021-09-28 15:13] linuxkidd commented on #514
So, there is definitely at least one bug in the `install.sh`, but it looks like the `git clone` was performed as root?

Can you check if the files are owned by `root`..  and if so, run:
`sudo chown pi:pi -R ~pi/allsky`

-- You may need to adjust the username / path to allsky if you're not doing things the default way.

Once that's done, try running the `install.sh` script again as the normal user.

[2021-09-28 16:47] dbainbridge opened #516 "Can't compile latest commits"
capture.cpp:1:28: fatal error: opencv2/core.hpp: No such file or directory

Also when trying make install I get:
Package opencv4 was not found in the pkg-config search path.

[2021-09-28 16:53] ckuethe commented on #516
What version of raspbian?

[2021-09-28 16:55] dbainbridge commented on #516
Raspbian GNU/Linux 9 (stretch)

[2021-09-28 17:24] ckuethe commented on #516
Did this ever work for you? If so, which was the last working version? Any interest in doing a [git bisect](https://www.metaltoad.com/blog/beginners-guide-git-bisect-process-elimination) to figure out when it broke?

Don't worry about opencv4 not being found. That comes from [Makefile:11](https://github.com/thomasjacquin/allsky/blob/master/Makefile#L11) where we try compute the right opencv flags.

[2021-09-28 17:25] #514 closed

[2021-09-28 17:30] dbainbridge commented on #516
I was able to at least build master a month or so ago when I commented on the issue about the time outs occurring.  I still had other problems such as the daytime issue being completely overexposed so I am hoping everything is fixed to a useable state again on master.

I decided to just update raspbian to latest so can't test on stretch anymore.

If this doesn't work I'm going to go back to the la

[2021-09-28 17:44] linuxkidd commented on #516
@dbainbridge don't give up.. we should be able to get this fixed pretty quickly.

Can you provide the output of the following commands:

- `pkg-config --libs opencv`
- `pkg-config --cflags opencv`
- `pkg-config --cflags --libs opencv`
- `dpkg -l | grep -i opencv`

[2021-09-29 00:44] linuxkidd commented on #506
FYI, latest unified config version -- JSON all the things...
https://github.com/linuxkidd/allsky/blob/packaging/config/allsky_config.json.repo

[2021-09-29 02:02] EricClaeys commented on #417
@maphilli14 Allsky restarted only once because of ASI_ERROR_TIMEOUTs but was successful many other times.  Did you restart it the other times or did it restart itself?  There are quite a few restarts.
Do you have the version 0.8 exposure mode on or off?  Either way, try the opposite.  Also try setting USB Bandwidth to 40.

There is no separate register to change exposure range. If you want to see

[2021-09-29 02:34] EricClaeys commented on #501
@thomasjacquin, @linuxkidd, @ckuethe
I think this would be a good idea to merge the GUI portal into the base "allsky" install so we can force people to use the GUI to configure everything.  The GUI would enforce type checking and range boundaries (e.g., for camera-specific values).  That would also make documentation and debugging easier (could remove all the variable descriptions from README.md s

[2021-09-29 05:50] #504 closed

[2021-09-29 13:03] EricClaeys commented on #401
Problem resolved so closing the issue.  Thanks for bringing it to my attention.

[2021-09-29 13:03] #401 closed

[2021-09-29 14:00] hoetzgit opened #518 "Parameter keogram/startrail in script generateForDay.sh"
Hi, please correct (add) the parameters for the call of keogram and startrail (-d, -e, -o ...)

[2021-09-29 19:14] ckuethe commented on #518
Can you give more details about the problem? Are you sure your installation is up to date, eg. [here](https://github.com/thomasjacquin/allsky/blob/master/scripts/endOfNight.sh#L47) and [here](https://github.com/thomasjacquin/allsky/blob/master/scripts/endOfNight.sh#L75)

[code]

and while that was running, the following commands were invoked
[code]

This produces the following output:
[code]

[2021-09-29 21:03] dbainbridge commented on #516
I reformatted SD card and installed Raspbian GNU/Linux 10 (buster)
and the issues went away.

[2021-09-29 21:06] ckuethe commented on #516
Glad to hear it, though we would have been happy to investigate to figure out what would need to be done to make it backwards compatible to stretch.

[2021-09-29 21:09] dbainbridge commented on #489
If you are on Pi4 you can boot straight off of USB/SSD drive with no need for SD card.  When my Pi4 arrives to replace my Pi3 currently being used for allsky I will be trying this since it would basically alleviate need for ram disk.

[2021-09-29 21:16] dbainbridge opened #519 "Configure to prevent timelapse memory issues ?"
In the older versions of allsky I had to manually change the settings for generating the nightly videos every morning because my ASI178MC sensor creates too large of images for it to be handled on a Pi3 because it would run out of memory.  Do I still need to manually change these settings in the timelapse.sh script or not with latest version of allsky?

[2021-09-30 01:52] dbainbridge opened #521 "capture segfaults if no arguments passed."
For testing you can no longer simply execute capture without arguments so it would use built-in defaults.  It segfaults on line 975 because of improper parsing of arguments.. Looks like that was changed 2 days ago.

[2021-09-30 04:46] hoetzgit commented on #518
endOfNight.sh is ok, but generateForDay.sh is without -d, -e, -o ...

[2021-09-30 05:19] ckuethe commented on #518
Ah, I see. Thanks for clarification.

[2021-09-30 12:48] EricClaeys commented on #518
The "Centralized upload" PR I submitted last night corrects this.

[2021-09-30 13:09] EricClaeys commented on #519
@dbainbridge You'll almost for sure need to do the same thing.  The issue is lack of memory on the Pi, which the AllSky software can't do anything about.  But try it, you never know.

Did you first try increasing the swap space?  That helps some people.

If this answers your question, please close the issue.  Thanks - Eric

[2021-09-30 13:44] #519 closed

[2021-10-01 01:20] Blueshawk commented on #339
Bummer. I guess I should try to run some long exposure tests on mine and decide if I should return it while I can. Thanks for the heads up.

[2021-10-01 02:40] EricClaeys commented on #516
Closing - issue resolved when user reinstalled Raspbian.

[2021-10-01 03:29] #518 closed

[2021-10-01 03:32] #521 closed

[2021-10-01 11:38] WirthmU commented on #501
It would be really good to go ahead this way.

Also, and considering the ever increasing pace of commits it would be very practical to have a one-click update procedure.

A huge "thank you" to all the curageous contributors!

Regards from Switzerland

[2021-10-01 11:52] WirthmU commented on #516
I am using Raspbian GNU/Linux 10 (buster) but still get the opencv4 error:
[code]
Checking gives the following:
[code]
[code]
[code]
[code]

[2021-10-01 11:54] WirthmU opened #523 "opencv4 Issue"
I am using Raspbian GNU/Linux 10 (buster) but still get the opencv4 error:
[code]
Checking gives the following:
[code]
[code]
[code]
[code]

_Originally posted by @WirthmU in https://github.com/thomasjacquin/allsky/issues/516#issuecomment-932161262_

[2021-10-01 11:55] WirthmU opened #524 "Setup as root or not"
So if I got it correctly for the setup the git clone has to be done without root:
`git clone https://github.com/thomasjacquin/allsky.git`

And then installation again without root:
`allksy/./install.sh`

So I thought GUI installation was also like:
`allsky/gui/install.sh`

But no:
[code]

[2021-10-01 13:14] EricClaeys commented on #501
@WirthmU Having an upgrade script is on the "to do" list.

[2021-10-01 13:22] ckuethe commented on #516
Yay! Reproducible error! We can fix it

[2021-10-01 14:14] WirthmU opened #525 "Current picture upload not working"
I have installed from the latest commit and I get the following in the log:

[code]

[2021-10-01 14:23] maserowik opened #526 "Question on install."
I went and did a update on the version of Allsky I have.  I noticed in the log that it is reference a opencv4.pc not found.  is this the same issue that was mentioned in a few other post or something different.

Package opencv4 was not found in the pkg-config search path.
Perhaps you should add the directory containing `opencv4.pc'
to the PKG_CONFIG_PATH environment variable
No package 'opencv4' f

[2021-10-01 14:27] EricClaeys commented on #524
@WirthmU you are correct.  We haven't updated the Portal installation yet.
We changed the "allsky.git" installation because some people were getting permission issues after installation.

FYI, for the allsky installation you can simply do  `allsky/install.sh`   or   `cd allsky; ./install.sh`.

[2021-10-01 14:27] #524 closed

[2021-10-01 14:36] maserowik commented on #526
so after i install the latest version i am seeing this in the log file for allsky.

Oct  1 10:35:00 Pi-AllSky allsky.sh[2512]: /home/pi/allsky/scripts/upload.sh: line 93: [: : integer expression expected

something to worry about?

[2021-10-01 14:44] EricClaeys commented on #525
@WirthmU , we will fix the error on the 3rd line of the log.
For the error in uploading the file using lftp, try running the commands manually.  Look in /home/pi/allsky/tmp/lftp_cmds.txt for the list of commands.  Did you change the acutal password, user name, and ftp address on this line?
`open --user "user" --password "password" ftp://ftp-adress`
If not, then you'll need to update ftp_settings.s

[2021-10-01 14:45] EricClaeys commented on #526
@maserowik I have a fix in for the "line 93" error.  If your uploads are working then you can ignore the message.

@ckuethe Chris, please take a look at the compiler error.

[2021-10-01 14:47] WirthmU commented on #525
Yes - user/password/ftp are not the actual ones.

[2021-10-01 15:39] linuxkidd commented on #526
@maserowik
- The `opencv4` warnings don't appear to be critical since the compile is succeeding otherwise.
- Can you check the contents of the `Makefile` -- does it have the lines looking like [these in the repo version](https://github.com/thomasjacquin/allsky/blob/master/Makefile#L11-L16)  ( Lines 11 through 16 ).
- If there's any difference, please try updating your `allsky` contents so it match

[2021-10-01 15:41] linuxkidd commented on #523
- Can you check the contents of the `Makefile` -- does it have the lines looking like [these in the repo version](https://github.com/thomasjacquin/allsky/blob/master/Makefile#L11-L16)  ( Lines 11 through 16 ).
- If there's any difference, please try updating your `allsky` contents so it matches what's in the repository and retry the `install.sh` script.

If they do look the same, can you provide t

[2021-10-01 15:43] linuxkidd commented on #516
Closing this one again since it was original a problem with Debian Stretch.  Continuing to investigate via #523

Thanks!

[2021-10-01 15:43] #516 closed

[2021-10-01 15:45] linuxkidd commented on #501
We're actually looking at providing an apt repository with compiled packages ready to install via `apt` or `apt-get`.  The `allsky` package will have a dependency on `allsky-portal` so that both are installed at the same time.  Keeping them separate however, will allow each to iterate separately as needed.

[2021-10-01 16:07] maserowik commented on #526
@linuxkidd
Agree that it is currently not causing a issue with my current install.

I checked my file and it look exactly as what is in the repo.
here is what i have in lines 11- 16

OPENCV = $(shell pkg-config --exists opencv && pkg-config --cflags --libs opencv || pkg-config --exists opencv4 && pkg-config --cflags --libs opencv4)

ifeq (,$(OPENCV))
  $(warning Did not find any OpenCV Libraries,

[2021-10-01 17:49] linuxkidd commented on #526
Thanks, @maserowik
Can you provide the output of these commands:

[code]

Thanks!

[2021-10-01 17:53] maserowik commented on #526
@linuxkidd
pi@Pi-AllSky:~/allsky $ pkg-config --exists opencv && echo Yes || echo No
Yes
pi@Pi-AllSky:~/allsky $ pkg-config --exists opencv4 && echo Yes4 || echo No4
No4
pi@Pi-AllSky:~/allsky $ pkg-config --exists opencv && echo bYes || pkg-config --exists opencv4 && echo bYes4
bYes
bYes4
pi@Pi-AllSky:~/allsky $

[2021-10-01 17:56] linuxkidd commented on #526
Ah, very interesting... the opencv4 bit is getting triggered even though opencv is present.  I'll fix up this logic...

[2021-10-01 17:59] maserowik commented on #526
pi@Pi-AllSky:~/allsky $ pkg-config --exists opencv && echo bYes || ( pkg-config --exists opencv4 && echo bYes4 )
bYes

[2021-10-01 18:54] ckuethe commented on #501
Thoughts

* what if I'm already running lighttpd on my pi for something else? Can we make this auto-installed web ui (reasonably) claim only the `/allsky` namespace and not mess with anything else lighttpd might be doing? do we set up a /etc/allsky/lighttpd directory?
* what if I have a different web server installed? Is the gui compatible with that?
* what if I'm already running completely differ

[2021-10-01 19:05] ckuethe commented on #506
Part of me wonders whether or not to draw some line in the sand, fix all the bugs we know about, and tag a release. Then we can hack with wild abandon in a dev branch which brave folks cand play with too, and once we're happy with it merge it back.

Or we can keep developing in main/master and give the advice to check out the 'current' or 'latest tag if you want something that just works. Basicall

[2021-10-01 19:09] linuxkidd commented on #526
Ok... thx @maserowik  -- would you be comfortable doing .. one more test.. :)

Edit your `Makefile`, change line 11 to this:
[code]

Save that, then run `make capture` and let us know if there are any odd warnings / errors.  :)

[2021-10-01 19:17] linuxkidd commented on #506
Ya, @ckuethe ... that's very much a good idea I think.  Maybe cap off / tag 0.8.5 and get all the known issues resolved there ( I think it's probably very close at this point. )

Then, we update the README so that people use that tagged release by default ( or just leave master at that level until we're ready ).

Next iteration we move to the dated release versions with the breaking changes.

Thou

[2021-10-01 19:20] maserowik commented on #526
@linuxkidd

pi@Pi-AllSky:~/allsky $ make capture
make: 'capture' is up to date.

i remember reading about this earlier need to reset the head??

[2021-10-01 19:35] maserowik commented on #526
pi@Pi-AllSky:~/allsky $ git reset --hard HEAD
HEAD is now at cc1b8fc Merge pull request #522 from thomasjacquin/capture-segmentation-fault
pi@Pi-AllSky:~/allsky $ make capture
Package opencv4 was not found in the pkg-config search path.
Perhaps you should add the directory containing `opencv4.pc'
to the PKG_CONFIG_PATH environment variable
No package 'opencv4' found
Package opencv4 was not found i

[2021-10-01 19:44] linuxkidd commented on #526
Ah, ya, I haven't pushed that change to the repo .. was hope'n you could confirm it works properly on buster before I send it.

So, the steps would be:
1. Edit `Makefile` with your editor of choice, to make line 11 read:
[code]
2. Issue the following commands:
[code]

That should re-compile the code.. and if the `pkg-config` messages are gone, we're golden.

[2021-10-01 19:46] maserowik commented on #526
pi@Pi-AllSky:~/allsky $ make clean
Package opencv4 was not found in the pkg-config search path.
Perhaps you should add the directory containing `opencv4.pc'
to the PKG_CONFIG_PATH environment variable
No package 'opencv4' found
rm -f capture capture_RPiHQ startrails keogram
pi@Pi-AllSky:~/allsky $ make all
Package opencv4 was not found in the pkg-config search path.
Perhaps you should add the dire

[2021-10-01 19:50] linuxkidd commented on #526
I've submitted a PR that should fix this.  Waiting for another dev to review / merge.

Thanks!

[2021-10-01 19:50] maserowik commented on #526
i am now confused.  i see the comment it being fixed but the log still show No package 'opencv4' found.

[2021-10-01 19:52] linuxkidd commented on #526
Can you copy/paste the modified `Makefile` contents after your edit?

Thanks!

[2021-10-01 19:58] maserowik commented on #526
@linuxkidd

Not sure what I did incorrect the first time but I did it again and BINGO the opencv4 error went away.
Thanks for the assistance.

Want me to close this?

[2021-10-01 20:04] linuxkidd commented on #526
Thanks @maserowik for the confirmation, great to hear it worked!  I'll reopen for this issue until the PR gets merged -- it'll auto-close then.

[2021-10-01 20:18] #526 closed

[2021-10-01 20:28] ckuethe commented on #526
Pro-tip, if you're testing a diff/PR (especially for build-related fixes you can pull the diff from the PR directly.

So a non-destructive way to test this would be something like:

[code]

Substitute your favorite temporary location and diff number as appropriate.

[2021-10-01 21:29] EricClaeys commented on #506
I like the idea of having a stable release people get by default and another release people can test with.  At one point Thomas and I talked about releasing things every couple weeks.

I would like to fix the dark subtraction bug before we lock the release.  It impacts darkCapture.sh and darkSubtract.sh.

Eric
________________________________
From: Michael J. Kidd ***@***.***>
Sent: Friday, Octobe

[2021-10-01 21:42] EricClaeys commented on #525
Reopened since the failed lftp has not been resolved.
@WirthmU please download the updated upload.sh.  It should fix the line 93 problem.
Let me know what happens when you try running the commands manually.

[2021-10-01 21:59] EricClaeys commented on #501
Chris,
When you say you prefer to keep the GUI separate do you mean it shouldn't be installed automatically, or it should but it should remain a separate package?

Eric
________________________________
From: Chris Kuethe ***@***.***>
Sent: Friday, October 1, 2021 2:54:56 PM
To: thomasjacquin/allsky ***@***.***>
Cc: EricClaeys ***@***.***>; Comment ***@***.***>
Subject: Re: [thomasjacquin/allsky] Q

[2021-10-01 22:11] ckuethe commented on #506
Yeah, no worries. I'm glad we agree on tagging a stable point release. I'll save multi_out and qhy and other stuff for after we cut a new release.

[2021-10-02 16:58] aleveilleVE2DTL opened #531 "can't generate timelapse manually with generateForDay.sh"
Working OK with keogram and startrail.

Went further when creating a directory /sequence owned by pi.
see log below.

First ticket on GitHub! I really want that project works. Very good work everyone.

 pi@allSkyCam10:~/allsky $ ./scripts/generateForDay.sh -k 20211002
===== Generating Keogram
Completed

================
If you want to upload the file(s) you just created, execute 'uploadForDay.sh 2

[2021-10-02 17:03] aleveilleVE2DTL commented on #531
[cantCreateTimelapse.log](https://github.com/thomasjacquin/allsky/files/7271867/cantCreateTimelapse.log)

better with a container...

[2021-10-02 17:05] ckuethe commented on #531
It looks like there's a typo, which I didn't spot sooner. Edit scripts/timelapse.sh - around line 55 you'll see

`SEQUENCE_DIR="${DATE_DIR}/sequencce"`

Change that to

`SEQUENCE_DIR="${DATE_DIR}/sequence"`

and try it again.

[2021-10-02 18:04] aleveilleVE2DTL commented on #531
still trying to create directory "sequence" under /    root directory
[log2.log](https://github.com/thomasjacquin/allsky/files/7271968/log2.log)
.

[2021-10-02 18:21] ckuethe commented on #531
Cool, I'm glad at least the sequence part is fixed. Thanks for the log, that's helpful. I'm curious as to why timelapse is using the wrong directory.

Can you edit scripts/timelapse.sh and add `set -x` on line 2? That'll make the timelapse script run in a tracing mode so we can see exactly what it's doing.

[2021-10-02 18:31] aleveilleVE2DTL commented on #531
Voila
[log3.log](https://github.com/thomasjacquin/allsky/files/7272006/log3.log)
!

[2021-10-02 18:37] linuxkidd commented on #501
I seem to recall that the Allsky WebUI used to consume /allsky on the web server.  ( At least, on my prior install it did -- unsure if that was an edit I made or it came that way ).  I think it makes sense to do that for just the reasons @ckuethe mentioned.

Further, I agree that it would be great if the installer and/or package knew an existing webserver was present, and didn't try to re-invent t

[2021-10-02 19:12] ckuethe commented on #531
I'm gonna reopen this because I didn't fully fix the issue yet. But progress.

[2021-10-02 19:14] aleveilleVE2DTL commented on #531
yes, I will be your tester... Tnx all.

[2021-10-02 19:23] ckuethe commented on #531
I think I see the next problem. After line 70, there are these two lines in an awk script...

[code]

I think that should read
[code]

Let me know if that helps

[2021-10-02 19:37] EricClaeys commented on #501
@linuxkidd Michael, did Chris forward the "Allsky enhancements-version2.txt" file to you?  It includes what I'm currently working on and all the possible enhancements he and I had when I created the file.  One of them is "Support upgrades" of allsky, allsky-portal, and allsky-website.  For example, installing allsky-portal blows away allsky-website's files.

I'd be happy to add your possible enhan

[2021-10-02 19:48] EricClaeys commented on #501
@ckuethe

`* what if I'm already running lighttpd on my pi for something else? Can we make this auto-installed web ui (reasonably) claim only the /allsky namespace and not mess with anything else lighttpd might be doing? do we set up a /etc/allsky/lighttpd directory?`
The allsky-portal webscript should check if lighttpd is already installed and configured for allsky.  There are two aliases in the

[2021-10-02 20:00] aleveilleVE2DTL commented on #531
change it:
    ls -rt "${DATE_DIR}"/*.${EXTENSION} |
        gawk 'BEGIN{ a=1 }
                {
                #       printf "ln -s %s '$DIR'/sequence/%04d.'$EXTENSION'\n", $0, a;
                #       printf "ln -s %s '$DIR'/sequence/%04d.'$EXTENSION'\n", $0, a >> "'${TMP}'";
                                printf "ln -s %s '${SEQUENCE_DIR}'/sequence/%04d.'$EXTENSION'\n", $0, a;

[2021-10-02 20:06] ckuethe commented on #531
Great. You can remove `/sequence` from both of those printf commands and that should help. I'm not near my allsky machine at the moment, so I can't easily test this first.

[2021-10-02 20:31] EricClaeys commented on #531
Sorry for introducing these bugs.  I had it working on my Pi but didn't copy the code to Git correctly.
The $DIR should be $SEQUENCE_DIR.
These lines should be inside the "gawk":
[code]

[2021-10-02 20:47] aleveilleVE2DTL commented on #531
changed it:
  ls -rt "${DATE_DIR}"/*.${EXTENSION} |
        gawk 'BEGIN{ a=1 }
                {
                #       printf "ln -s %s '$DIR'/sequence/%04d.'$EXTENSION'\n", $0, a;
                #       printf "ln -s %s '$DIR'/sequence/%04d.'$EXTENSION'\n", $0, a >> "'${TMP}'";
                                printf "ln -s %s '${SEQUENCE_DIR}'/%04d.'$EXTENSION'\n", $0, a;

[2021-10-02 20:47] #531 closed

[2021-10-02 22:02] maserowik opened #536 "Message in allsky log"
I just did a new pull request and reconfigured my system.  Looking at the log file i see the following

Oct  2 17:57:17 Pi-AllSky allsky.sh[2310]: FILE_TO_UPLOAD='/home/pi/allsky/tmp/image.jpg'
Oct  2 17:57:17 Pi-AllSky allsky.sh[2310]: REMOTE_DIR='current'
Oct  2 17:57:17 Pi-AllSky allsky.sh[2310]: TEMP_NAME='NI-16525'

I then noticed the file name NI -16525 uploaded to my webhosting company.
![i

[2021-10-02 22:09] linuxkidd commented on #536
Comparing the EXIF data `Adobe Photoshop 22.4 (Windows)` and the Modified date/time `2021:06:24 18:07`, that matches the `NotRunning.jpg` file.

It likely got uploaded in error, and that file name is a temp file name used so that only a completed upload gets renamed to the final, correct file name.

If I were to guess..
- It got uploaded by mistake
- The upload couldn't be moved to the final locat

[2021-10-02 22:15] maserowik commented on #536
So is this something i need to look at on my side or a "non error"

[2021-10-02 22:25] linuxkidd commented on #536
Is there anything else in the log after your snippet above?  If so, providing it may give some additional insight.

Otherwise, you may need to check permissions in the directory or for the final file name you're intending the upload to write to.

Note: If you paste log snippets, please be sure to highlight them, then click the `<>` button ( code )  in the tool bar above the comment box so that it

[2021-10-02 22:57] aleveilleVE2DTL commented on #506
I agree with you. An 8.5 version will be very good to run on existing cameras. Mine have not been working for the last 2 weeks and new moon is coming soon.
You can count on me to try pre-release and new functionalities, @ the full moon!

[2021-10-02 23:19] linuxkidd commented on #506
@aleveilleVE2DTL If it's not been running due to code bugs or other issues, please don't hesitate to [open a new issue](https://github.com/thomasjacquin/allsky/issues/new).  We're eager to get everything ironed out for that 0.8.5 release.

[2021-10-03 00:59] ckuethe commented on #531
You're welcome. Thanks for the useful logs that helped us to troubleshoot.

[2021-10-03 01:06] EricClaeys commented on #536
The new "upload.sh" script lftp's a file using a temporary name, then removes the prior file and renames the temporary name to the final name.
For example, if you are uploading "allsky-20211002.mp4" and want the final name to be "allsky-mp4", lftp does this:
[code]
The temporary files are named XX-RANDOM_NUMBER; each of the scripts that call upload.sh use a different value for "XX".  "NI" is for N

[2021-10-03 02:12] JosWennmacker opened #537 "startrails endless looping on Ubuntu server 20.04 Pi 4B"
Please change line 75 in startrails.cpp from:

75 --> while ((c = getopt(argc, argv, `"hvsb:d:e:o:")) != -1)  {

to

75 --> while (((c = getopt(argc, argv, "hvsb:d:e:o:")) != -1) && ( c != 255)) {

c was declared char. When a char is used as int it is unsigned on the RPi, so it will never be -1, but 255 in stead.

Sorry for the :o: but I do not know how to escape the strange mark up. Obviously it

[2021-10-03 02:35] EricClaeys commented on #536
BTW, I also notice some temp files on my remote server - in fact right now I have 2 from image.jpg files from a couple days ago, so there's clearly a bug somewhere.

[2021-10-03 05:23] ckuethe commented on #537
Your source is out of date. I already fixed that by changing the type of `c` to `int`. Let me know if the issue persists after updating.

You can mark code as code by wrapping it in triple backquotes '```'

[2021-10-03 10:18] JosWennmacker commented on #537
Thanks. New source installed.

[2021-10-03 13:07] #537 closed

[2021-10-03 13:56] Dentonknifeworks opened #539 "New install ASI120"
Not geting Startrails or Killogram

error at start of script
Timelapse works fine.

endOfNight.sh: Generating Startrails

OpenCV Error: Sizes of input arguments do not match (The operation is neither 'array op array' (where arrays have the same size and type), nor 'array op scalar', nor 'scalar op array') in binary_op, file /build/opencv-L65chJ/opencv-3.2.0+dfsg/modules/core/src/arithm.cpp, line 2

[2021-10-03 14:31] maserowik commented on #536
so i did review my log fine and found the following.  the temp file appears to be created when I stop or start the allsky service with the following command  sudo service allsky stop/start

i have attached a error in the log file that is looking for a non existent file call setting_auto.json  i check the location /etc/raspap and that file is not there.

attached a screen capture of the error in th

[2021-10-03 14:46] maserowik opened #540 "endOfNight.sh error line 71"
Trying to figure out why my uploads are not working.  when i run the endOfNight.sh I am seeing a few errors show up once the keograms are created.  I have attached a screen scrape of the errors.
[code]

here are lines 66 - 75
[code]

thinking the fi on line 71 is invalid?

Mike

[2021-10-03 15:46] EricClaeys commented on #536
@maserowik Check your IMG_DIR in scripts/ftp_settings.sh.  It looks like it's set to "current" which likely doesn't exist on your hosting server.
I'll look into the setting_auto.json error, but in the meantime, please set `CAMERA=ZWO` in config.sh.
Let me know how things go.

Thanks for being patient with us as we make changes that will improve the software over time.

[2021-10-03 15:53] linuxkidd opened #541 "Create debian package meta files"
Create all meta files needed for Debian package ( .deb ) creation.

Useful links:
https://linuxconfig.org/easy-way-to-create-a-debian-package-and-local-package-repository
https://wiki.debian.org/Packaging/Intro?action=show&redirect=IntroDebianPackaging
https://wiki.debian.org/HowToPackageForDebian

[2021-10-03 15:54] linuxkidd opened #542 "Create debian Apt repository directory structure"
In the new 'binaries' repository, setup the proper directory structure for Apt -- while still leaving ability to expand to other package and package management schemes ( Yum/DNF, etc ).

[2021-10-03 16:14] maserowik commented on #536
@EricClaeys
I have set ZWO in the config.sh

here is my ftp settings
# FTP/SFTP/S3 settings
PROTOCOL='ftp'
USER='          '
PASSWORD='         '
HOST='         '
IMGDIR='/domains/n3bsq.com/public_html/allsky/image/'
MP4DIR='/domains/n3bsq.com/public_html/allsky/videos/'
KEOGRAM_DIR='/domains/n3bsq.com/public_html/allsky/keograms/'
STARTRAILS_DIR='/domains/n3bsq.com/public_html/allsky/startrails/'

[2021-10-03 16:14] Clutch57 opened #543 "can't find core.hpp"
I'm trying to compile allsky on a Raspberry 3 with Raspian version stretch.
The file that it is looking for is in `/usr/include/opencv2/core`
What do I need to do?

Thanks,
Clutch

[code]

* Compile allsky software
[code]

[2021-10-03 16:17] maserowik commented on #536
@EricClaeys

Hardcoding the ZWO in the config.sh fixed the setting_auto.json message.

[2021-10-03 16:25] linuxkidd commented on #543
Hi @Clutch57

Can you provide the output from the following:
[code]

Please wrap the console copy/paste output with ~~~ on the line above and below so it formats properly.  (I've edited your initial comment to add this as an example.

Thanks!

[2021-10-03 16:32] linuxkidd commented on #540
I've spotted the issue... there's a missing conditional check at the top of that code block... I'll have the fix posted momentarily.

[2021-10-03 16:36] linuxkidd commented on #540
If you'd like to fix this in your local code and re-test, edit the `endOfNight.sh` file, making line 48 and 49 look like this:

[code]

The `Generate keogram` is already present.. you'll just add the `if ...` line after it.

Thanks!

[2021-10-03 16:41] Clutch57 commented on #543
[code]

[2021-10-03 16:54] linuxkidd commented on #543
Ah... it appears the OpenCV include structure has changed from the 2.x to 3.x/4.x versions.

Is there something else that prevents you from upgrading to Buster?  ( can be done in-place without re-flashing / installing everything from scratch if you'd like ).

Otherwise, I'll have to look into conditional checks and optional include statements for OpenCV 2.x.

[2021-10-03 17:08] Clutch57 commented on #543
I'll upgrade it to buster and see what happens.  There isn't anything on this RPi that matters to me.

[2021-10-03 17:21] ckuethe commented on #501
Using gpsd as an example again, we got really frustrated with incomplete bug reports so we wrote a tool to gather all the required information in one go. We could write a similar diagnostic tool for allsky. And if the problem is obvious, we could remediate it too.

As for web stuff, I don't think that gui/portal/website know about the bind address or listen port. Php runs, processes some environme

[2021-10-03 17:37] ckuethe commented on #539
I'll look into this later today but I think that if you specify height and width in your config file then keogram and startrails can filter out the images with the wrong sizes. If not... I'll add that.

[2021-10-03 17:56] Clutch57 commented on #543
So much for an in place upgrade.

Clutch

[code]

[2021-10-03 18:18] linuxkidd commented on #543
Hi @Clutch57
  Sorry, I meant in-place upgrade of the Raspberry Pi OS, not allsky by itself.  Here's an article that shows how to accomplish it:

https://www.makeuseof.com/tag/raspberry-pi-update-raspbian-os/
( Check the section labeled `Update Raspbian to the Latest Version (Stretch to Buster)` )

Let us know how it turns out.

[2021-10-03 19:04] #540 closed

[2021-10-03 21:02] EricClaeys commented on #536
@maserowik Thanks Mike.  I know what the setting_auto.json bug is just not sure the best way to fix it.  We'll eventually implement the ability to have multiple cameras and I'm not sure `CAMERA=auto` would be appropriate; we may want people to always hard-code the camera or pick it from a drop-down list.  99.9% of the people will only need to do this one.

I just issued a bug fix for upload.sh fai

[2021-10-03 21:03] maserowik opened #547 "startrail issue after upgrade."
So the last fix with the KEOGRAM work.  Now I am seeing a new issue with generating the startrail.  I did the ./endofnight.sh and the keogram upload to my webpage and then it went to the startrail and I see the following on the telent session

<endOfNight.sh: ===== Generating Startrails
Usage: startrails [-v] -d <dir> -e <ext> [-b <brightness> -o <output> | -s]
Source directory and file extension

[2021-10-03 21:11] maserowik commented on #536
thanks for all the work you have done on this project!

[2021-10-03 22:35] linuxkidd commented on #536
Just submitted PR #548 to resolve the `jq` trying to read `settings_auto.json` file.  Once it's merged, that message should be gone.

[2021-10-04 05:27] EricClaeys commented on #547
Just proposed a fix.  In the meantime, change line 81 to
`"${ALLSKY_HOME}/startrails" **-d** "${DATE_DIR}/" **-e** ${EXTENSION} **-b** ${BRIGHTNESS_THRESHOLD} **-o** "${UPLOAD_FILE}"`
The -d, -e, -b, and -o are now required.

[2021-10-04 05:30] EricClaeys commented on #536
You are welcome Mike.  I appreciate the thanks; it's what keeps me going.

[2021-10-04 05:41] #547 closed

[2021-10-04 06:26] bribon2 commented on #510
Removing the automatic gain happens to me the same.
The option to remove the algorithm 0.8 does not appear to me ... What's more, I can't apply the settings from the GUI, I have to do it from the config file and the default settings appear from the GUI, although it actually applies those from the config.
I updated it from version 0.7 to 0.8 by deleting the files by hand and installing it from 0, I

[2021-10-04 06:45] ckuethe commented on #539
I'm guessing you have Notification Images enabled.

Anyway, this will kind of mitigate the issue if you specify your desired image size in your settings file. Then keogram and startrails will reject any image that's not the size produce by your camera.

[2021-10-04 07:08] EricClaeys commented on #539
@ckuethe Chris, can startrails.cpp and keogram.cpp print a nice error message when the size of the file isn't correct, rather than the cryptic `OpenCV Error `above?  Including the name of the image would be good.  If the size is incorrect or the image corrupt or whatever caused the `OpenCV Error,` can those programs ignore the bad image and continue?

I'm not positive, but I think when those progr

[2021-10-04 07:19] ckuethe commented on #539
Nah, that's too hard. ;)

https://github.com/thomasjacquin/allsky/blob/master/src/keogram.cpp#L277
https://github.com/thomasjacquin/allsky/blob/master/src/startrails.cpp#L169
https://github.com/thomasjacquin/allsky/pull/511/files#diff-eae79f3c0d3b9e332f5c84c05542799604adb5541a6ac729772e36eefa5a5852R322

You can get a diagnostic message about incorrectly sized images if you run with `-v` but my ass

[2021-10-04 07:22] ckuethe commented on #539
I was experimenting with exception handlers, so maybe I can try/catch opencv errors and print a better message without crashing. In my testing I tend to only find a few bad images a night (if any), this is not noticeable in startrails and just shows up as a 1px black vertical line in the keogram, which I'm OK with because it preserves timing.

[2021-10-04 09:00] Jonk2 commented on #510
I've also noticed this, but not mentioned it due to the ongoing daily changes, I was hoping that it would already be on the to-do list.
You can see by the attached compressed video excerpt and keogram from last night, that the exposure is hunting when not at the maximum exposure value - zoom in and look at the keogram, the 2nd half of it where it's cloudy and the sky brightness changes continuousl

[2021-10-04 09:03] Clutch57 commented on #543
I got it to compile.  It is taking pictures of my ceiling right now.
Thank you,
Clutch

[2021-10-04 09:03] #543 closed

[2021-10-04 09:48] Jonk2 opened #551 "Can the devs produce a to-do list for us all to see?"
Firstly, thanks for keeping this project going, I appreciate the work that has gone into this.

However, there are lots of threads here with issues / suggestions, and occasionally I see 'it's on the to do list' as an answer.

Could the devs / owner publish a to-do list so we can see what's being worked on please?

Also, if possible, could you push a new release at a set time, maybe twice per week

[2021-10-04 10:27] ckuethe commented on #551
Funny you should mention that... We just started populating the project boards. As mentioned in other issues, we're aiming to squash all the outstanding bugs, then tag a stable point release.

You haven't seen multiple new releases in a 24 hr period which is part of the problem - the code is what it is at some point in time. It hasn't had a chance to be thoroughly baked. It's not what I would call

[2021-10-04 10:54] Dentonknifeworks commented on #539
I trying the image size setting in the config. I will report back and yes I have notification images on.
I just checked and there is one of them in the images dir.

[2021-10-04 11:37] maserowik opened #552 "Timelapse uploading to wrong directory"
I did a fresh git pull today and redid my custom settings.  I did a endOfNight.sh from a ssh session and it appears the my timelapse is going to a different location compared to the keograms and startrails.

<
endOfNight.sh: ===== Generating Keogram
upload.sh: FTP'ing /home/pi/allsky/images/20211003/keogram/keogram-20211003.jpg to /domains/n3bsq.com/public_html/allsky/keograms//keogram-20211003.jp

[2021-10-04 11:47] maserowik commented on #536
@EricClaeys

just to confirm with the new git pull the files are still appearing on the root of the hosting company I am using.

![image](https://user-images.githubusercontent.com/25713782/135846121-f24de8a4-e39b-40a4-9ae0-363e1b3c8cec.png)

[2021-10-04 14:24] WirthmU commented on #523
With the latest commits the error is gone.

[2021-10-04 14:46] WirthmU opened #554 "*** Waiting for you to fix this. Restart when done fixing. ***"
The latest commit gives no pictures on a RPiHQ camera. The log shows the following:

[code]

[2021-10-04 14:48] linuxkidd commented on #552
Somewhere along the way... the upload scripts started using a variable name ( `VIDEOS_DIR` ) that don't exist in the ftp-settings (or any other) file.  I'm guessing a locally used / future version got committed by accident.

To get your code working, you can modify the ftp-settings.sh file and change `MP4DIR` to `VIDEOS_DIR`.

I'll submit a PR for this shortly.

[2021-10-04 14:53] linuxkidd commented on #554
Hi @WirthmU -- thanks for catching this.  There's a pending PR #553 that resolves this.

In the interim, you can get your local version working by logging in as the `pi` user, then run:
`mkdir allsky/tmp`

Thanks, and apologies for the inconvenience.

[2021-10-04 15:05] linuxkidd commented on #523
Great to hear!  We'll close the issue.

[2021-10-04 15:05] #523 closed

[2021-10-04 15:55] #447 closed

[2021-10-04 16:17] EricClaeys commented on #539
@Dentonknifeworks there's a bug somewhere that allows notification images to sometimes appear in the images/DATE folder.  I <think> I have it fixed on my Pi but haven't uploaded the code yet.
What does the notification image say?  That might help me fix the bug.
Notification images WILL appear in thumbnails to give users an idea what time things happened.

@ckuethe I suggest displaying messages ab

[2021-10-04 16:24] EricClaeys commented on #554
@linuxkidd Michael, would it make sense to have variables.sh check if each directory exists, and either make it (e.g., ALLSKY_TMP) or print an error message and exit (e.g., ALLSKY_SCRIPTS)?
Doing this (which is only done once per invocation of allsky.sh) would catch and possibly errors like the one above.
Comments?

[2021-10-04 16:30] #552 closed

[2021-10-04 16:40] linuxkidd commented on #554
Ya.. I had strongly considered `variables.sh` checking that the paths exists as a potential fix.

It may be better to check inside `allsky.sh` instead... since `variables.sh` (and all the other config files) get referenced extensively by `scripts/*.sh`.

[2021-10-04 16:49] EricClaeys commented on #536
@maserowik Please check in the log file around the times the files were created on the hosting company server.  There should be error messages from upload.sh's lftp as to why it couldn't rename the NI-* and PD-* files (PD is PostData from postData.sh which uploads the small data.json file).

Would you also please download the two NI-* files to your PC/Pi and append ".jpg" to the names, then open t

[2021-10-04 17:04] EricClaeys commented on #554
@linuxkidd Michael, variables.sh is source'd into all the scripts, but it only executes its code once per invocation of allsky.sh via this code:
[code]

So if we add checks for all the directories it won't add execution time except in allsky.sh, which is when we want to do the checks anyhow.

@ckuethe Your input?

[2021-10-04 17:17] EricClaeys commented on #539
@ckuethe Chris, did the code display errors on non-matching sizes (no `-v` needed) when @Dentonknifeworks reported the error, or did you add that afterwards?  If prior to the error, I assume the `OpenCV Error` message was from non-matching colors?  Or something else?

[2021-10-04 17:22] linuxkidd commented on #554
I could be wrong.. but I think that each instantiation of a script ( as executed from `capture` for example ) is a new, separate bash instance.  I don't think the environment variables that were present when `capture` started are used.

-- Actually.. I know there not used because I've had errors in my `variables.sh` or `config.sh`, and once corrected, the scripts returned to normal operation witho

[2021-10-04 17:37] EricClaeys commented on #510
@bribon2 Is the bright light on the right side the moon?  It doesn't appear to be moving.
Do you notice the "flicker" when there are no clouds?  I would guess that some of the flicker is due to the clouds coming and going.  When there are lots of clouds the image is dark, but when the clouds clear around the moon the next picture will be bright, then if the clouds come back before the picture afte

[2021-10-04 17:39] EricClaeys commented on #476
@Shand359 you can ignore the runLftp.zip file.  Instead, download the latest files.  It includes the "upload.sh" command that you can try executing.  If it fails it will display some lines that should help debug the problem.

[2021-10-04 17:48] maserowik commented on #536
@EricClaeys
I have been trying to reproduce the error but it is not playing nice with me.  looking at the log files I think I have a idea.
Could the software be trying to upload the image before the FTP_settings.sh is configured?

For the NI files I deleted them off my system already.

Mike

[2021-10-04 17:54] EricClaeys commented on #483
@ckuethe Chris, did you try shrinking the histogram box size?
Looking at the logs I'm not sure if shrinking the box will solve this.  The camera doesn't appear to be reacting to changes in exposure time consistently (or the sky brightness was drastically changing).  For example, this sequence:
[code]

Why does it go from a mean of 246 @ 100 us exposure to mean of 33 @ 100 us exposure 5 seconds lat

[2021-10-04 17:56] EricClaeys commented on #486
@rodrigoluk, I'm on vacation and don't have access to my Pi so haven't been able to test.  I'll test when I'm back home.

[2021-10-04 18:11] EricClaeys commented on #554
@linuxkidd Michael, my intent was for variables.sh to execute the commands when allsky.sh first source'd it in, and all the variables (including ALLSKY_VARIABLES_SET) would automatically be exported via the `set -a`.  The capture commands would hence get those variables and pass them to the scripts they call, so when those scripts ran, variables.sh in them would not re-execute the commands.
It sho

[2021-10-04 18:36] EricClaeys commented on #536
@maserowik I just submitted a bug fix that should fix the PD-* files.

ftp-settings.sh is configured once by the user when they install the software, then isn't changed unless they want to change locations.  The upload.sh script calls the ftp-settings.sh script at the top, before lftp is called.  Assuming you configured ftp-settings.sh before you started Allsky, there **shouldn't** be a problem, b

[2021-10-04 18:48] linuxkidd commented on #554
Maybe --- the issue is that variables.sh isn't called -before- `capture` starts in `allsky.sh`.  So those Environment variables aren't available to pass to the child processes.

[2021-10-04 18:55] maserowik commented on #536
that may be the issue.  I start allsky and then use the gui to modify the settings.

here is the listing of the scritps/copy_notification_image.sh
<
66
67         # We're actually uploading $IMAGE_TO_USE, but show $NOTIFICATIONFILE
68         # in the message since it's more descriptive.
69         echo -e "${ME}: Uploading $(basename "${NOTIFICATIONFILE}")\n"
70         # NI == Notification Image

[2021-10-04 19:01] linuxkidd commented on #554
Haha.. indeed it is the issue.

- I modified my `variables.sh` to output some text.
- Monitored logs, and saw that output text each time an image capture completed.
- I modified `allsky.sh` to source `variables.sh` right before attempting to start the capture* program
- Restarted `allsky` via systemd
- Only saw my `variables.sh` script text 1 time.

I'll submit this as a PR and that should get us

[2021-10-04 19:08] linuxkidd commented on #422
Sounds like this issue is resolved and things are working normally.

We do aim to have options easier to edit and better explanations in the future via a unified config / all editable via the WebUI ( vs using the editor ).  Keep an eye on [this project](https://github.com/thomasjacquin/allsky/projects/3) for more updates.

[2021-10-04 19:08] #422 closed

[2021-10-04 19:10] EricClaeys commented on #536
@maserowik you have the correct scripts/copy_notification_images.sh.  I'll need to see the upload.sh error messages to debug, starting a few lines above the `FILE_TO_UPLOAD=xxx `line, and going until the last error line.

[2021-10-04 19:41] Telfish2 opened #558 "Install script fail"
I am trying to install and when trying to run the install script in terminal it causes an error "This script must not be run as root".

Any ideas how to overcome this?

[2021-10-04 19:46] maserowik commented on #558
drop the sudo just ./install

[2021-10-04 19:48] maserowik commented on #536
@EricClaeys

I been running my allsky all day and have not seen the files show up on the hosting site.
Lets close this for now.

Mike

[2021-10-04 19:53] maserowik opened #559 "wlan0 instead of eth0"
@EricClaeys
If I recall correctly you pointed me to the place to modify the ethernet dashboard.  I know is is purely cosmetic but is there a way the default can have this changed in the repo?

<
cd /var/www/html/includes
sudo nano -l dashboard_eth0.php
line 65 change wlan0 to eth0

[2021-10-04 20:25] linuxkidd commented on #536
thx @maserowik .. we'll close this for now.  Should it reappear, let us know.

[2021-10-04 20:25] #536 closed

[2021-10-04 20:28] linuxkidd commented on #559
Hi @maserowik ... the file you're looking for is:

`/var/www/htm/includes/dashboard_eth0.php`

You'll see it around [line number 65](https://github.com/thomasjacquin/allsky-portal/blob/master/includes/dashboard_eth0.php#L65)

Just change `wlan0` on that line to `eth0`.

[2021-10-04 20:36] robmorin opened #560 "Install script failed -Did not find any OpenCV Libraries"
I installed this last week,  it worked fine, I started over on a new install today , not working

Ideas?

pi@raspberrypi:~/allsky$ ./install.sh

**********************************************
*** Welcome to the Allsky Camera installer ***
**********************************************

* Dependencies installation

make: Entering directory '/home/pi/allsky/src'
Makefile:42: *** Did not find any Ope

[2021-10-04 20:59] linuxkidd commented on #559
Hi @maserowik  -- I submitted a PR to fix this, and it was merged.  Thanks for reminding us about that one! :+1:

I'll go ahead and close the ticket.

[2021-10-04 20:59] #559 closed

[2021-10-04 21:00] EricClaeys commented on #559
@maserowik I could have sworn I fixed this after you first pointed it out.  Maybe I was lazy and just told you were to fix it.  Either way, thanks to @linuxkidd for actually fixing it.

@linuxkidd The LAN and WLAN pages on the GUI display the information correctly but (for me and another user) the "start" and "stop" buttons don't work.  If I manually execute `sudo ifdown eth0` or `sudo ifup eth0`

[2021-10-04 21:05] EricClaeys commented on #554
Crap.  Another case where I had it working in my test version of Allsky but didn't copy the `source variables.sh` when I updated allsky.

[2021-10-04 21:25] linuxkidd commented on #559
Hmm... I'll have to get a different test setup going to play with that...  I've opened [a new issue against allsky-portal](https://github.com/thomasjacquin/allsky-portal/issues/34) -- I'll investigate/update there.

[2021-10-04 21:32] robmorin commented on #560
For anyone else having same issue,  installing libopencv-dev did the trick

apt install libopencv-dev
:)

[2021-10-04 21:36] #560 closed

[2021-10-04 21:37] robmorin commented on #560
Resolved after install libopencv-dev

[2021-10-04 21:48] robmorin opened #561 "/home/pi/allsky/capture_RPiHQ: No such file or directory"
Wondering what this file is for?

As allsky will not start without it??

pi@allsky:~/allsky$ sudo service allsky status
â— allsky.service - All Sky Camera
   Loaded: loaded (/etc/systemd/system/allsky.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2021-10-04 17:43:22 EDT; 3s ago
 Main PID: 1563 (allsky.sh)
    Tasks: 4 (limit: 1935)
   CGroup: /system.slice/allsky

[2021-10-04 21:52] linuxkidd commented on #558
To expand a bit on what @maserowik mentioned:

1. Ensure you're logged in as `pi`
2. Run `git clone https://github.com/thomasjacquin/allsky.git`
3. Change into the 'allsky' directory: `cd allsky`
4. Run the install script:  `./install.sh`

If you've already performed the clone as root and don't want to re-'clone' the repository, you can correct the ownership with:
`sudo chown -R pi:pi ~pi/allsky`

[2021-10-04 21:52] robmorin commented on #561
After locating this file in /home/pi/allsky/src, i copied it to /home/pi/allsky

cp /home/pi/allsky/src/capture_RPiHQ  /home/pi/allsky/

Did a sudo service allsky restart
Then sudo service allsky status

result:

â— allsky.service - All Sky Camera
   Loaded: loaded (/etc/systemd/system/allsky.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2021-10-04 17:50:05 EDT;

[2021-10-04 21:52] #561 closed

[2021-10-04 22:06] Dentonknifeworks commented on #539
@ericClaeys. "Allsky software is not running." is the image. That looks to be the issue. Last night the time-lapse, Kelo and startrails worked with no issues and no status images in the image directory.

[2021-10-04 23:15] ckuethe commented on #539
@EricClaeys  If you don't pass in a size filter then no checks are done and OpenCV is free to crash. Using the recently updated `endOfNight.sh` you can set your image size which will then allow the notification images to be rejected. There's no value in printing out the fact that some garbage image on disk was skipped, at least not by default. I'm going for "no news" is good news.

I'll add channe

[2021-10-04 23:56] EricClaeys commented on #539
@Dentonknifeworks, please make sure you have the latest scripts/copy_notification_image.sh where line 71 is
`"${ALLSKY_SCRIPTS}/upload.sh" --silent "${IMAGE_TO_USE}" "${IMGDIR}" "${FULL_FILENAME}" "NI"`
If you have `${IMG_DIR} `instead of `${IMGDIR}` then you need to upgrade.

@ckuethe, my style is to always produce useful error messages.  The OpenCV Error messages are totally useless to users.  I

[2021-10-05 00:26] linuxkidd commented on #539
I agree with trapping errors and providing useful feedback.  If the error message is obtuse, then the ease of correcting the issue is much higher.

I think there's no reason to add `-v` / `-vv`... that's what debug level is for.  Higher number == more `v`s.

[2021-10-05 00:26] #554 closed

[2021-10-05 00:28] linuxkidd commented on #560
I realize you've got this all taken care of now.. but I'm curious the flow you took that landed you into these errors ( and those from your other ticket(s)).

Did you run the `install.sh` script in the top level directory, as your regular user?  ( presumably the `pi` user ).
If so, can you provide the console output ( if it's still around ) from that run...

I ask, because the installer should hav

[2021-10-05 00:34] ckuethe commented on #539
Right that's what -v does. If you look at the getopt handler you'll see that it counts the number of -v arguments. From there I decide what to print based on the value of the config.verbose element

[2021-10-05 00:39] ckuethe commented on #539
Printing a recoverable/recovered error by default is next to useless. There's nothing for the user to do - we've already handled the problem.

[2021-10-05 00:43] EricClaeys commented on #539
so we don't need another config.sh variable, but can use the value of ALLSKY_DEBUG_LEVEL to determine how many `-v`s to use.  Right now, 4 is the highest ALLSKY_DEBUG_LEVEL and would normally only be used for debugging or testing.  Should startrails.cpp and keogram.cpp use -vvvv to print everything?  How many `-v`s to print info on "bad" images?  2 or 3?

[2021-10-05 01:05] ckuethe commented on #539
To me:

* 0 `-v` = shut up and make pretty pictures or GTFO
* 1 `-v` = OK, you can tell me about anomalies even if they're recoverable
* 2+ `-v` = full debugging.
I can probably also use `ALLSKY_DEBUG_LEVEL` if it's not set by the arguments.

[2021-10-05 01:13] Telfish2 commented on #558
Thanks I managed to do the install but am getting this error on trying to
start the service. I am running the Rpi HQ camera. I have created the
capture_RPiHQ directory but still get the error.

Thanks for the help

Terry

● allsky.service - All Sky Camera
   Loaded: loaded (/etc/systemd/system/allsky.service; enabled; vendor
preset: enabled)
   Active: inactive (dead) since Mon 2021-10-04 21:07:12

[2021-10-05 01:18] ckuethe commented on #459
Closing this issue.

[2021-10-05 01:18] #459 closed

[2021-10-05 01:23] ckuethe commented on #352
capture now includes a `-timeformat` flag which can be used to format time in an arbitrary format.

[2021-10-05 01:23] #352 closed

[2021-10-05 01:27] ckuethe commented on #483
Yeah, I shrunk the histogram box size. It's not a big issue for me because I'm not saving images during the day, but it seemed odd.

I think we may want to:
* investigate whether or not OpenCV's histogram features (https://docs.opencv.org/master/d6/dc7/group__imgproc__hist.html) might be useful
* whether OpenCV can do some sort of autoexposure control (https://stackoverflow.com/questions/38101288/

[2021-10-05 01:29] #216 closed

[2021-10-05 01:33] ckuethe commented on #332
I'm thinking this is probably fixed in recent commits to add additional checks to startrails and keogram.

[2021-10-05 01:33] #332 closed

[2021-10-05 01:34] #349 closed

[2021-10-05 02:11] Dentonknifeworks commented on #539
@ericclaeys.  I download and installed fresh copy of Allsky on 9*30*2021. My copy_nofification_image.sh contans
#!/bin/bash

ME="$(basename "$BASH_ARGV0")"	# Include script name in output so it's easier to find in the log file

NOTIFICATIONFILE="$1"	# filename, minus the extension, since the extension may vary
if [ "$1" = "" ] ; then
	echo "*** $ME: ERROR: no file specified" >&2
	exit 1
fi

source

[2021-10-05 02:41] ckuethe opened #562 "Unify imagemagick processing stages."
It may be faster to run imagemagick (`convert`) and load the image once, apply all the requested filters, then write out the final image than it is to call convert for each stage.

Potentially this might improve image quality if JPEG is being used, since images won't be subject to repeated decompression/compression

[2021-10-05 02:42] rodrigoluk commented on #486
No problem. Enjoy the break! 😁

On Mon, 4 Oct 2021, 18:56 EricClaeys, ***@***.***> wrote:

[2021-10-05 02:43] ckuethe opened #563 "Automatic YouTube uploader"
There are other hooks for uploading timelapses to an ftp site. and other software packages that make timelapses have youtube plugins ... we should too.

eg. https://plugins.octoprint.org/plugins/youtube_timelapse/

[2021-10-05 02:51] ckuethe commented on #539
I just edited your reply to wrap the code in `~~~` like this:

[code]

Please try to do that for other pastes, otherwise github may incorrectly interpret some of the output as formatting rather than information.

[2021-10-05 02:54] maphilli14 commented on #417
I tried your suggestions and may have gotten lost along the way but I attached several setting example logs.  This was fairly consistent

[code]

As was the total inability to go beyond 1sec exposures of any kind.
[allsky.zip](https://github.com/thomasjacquin/allsky/files/7282431/allsky.zip)

Thanks for all the help and support!

[2021-10-05 02:55] ckuethe commented on #539
If you don't mind doing a full install, we'd love your help in testing.

But you can quickly patch it by just retrieving the latest version of endofnight with `wget https://raw.githubusercontent.com/thomasjacquin/allsky/master/scripts/endOfNight.sh`

[2021-10-05 02:56] #551 closed

[2021-10-05 03:05] linuxkidd commented on #558
My apologies, @Telfish2  ... it seems I missed copying the RPiHQ capture program out of the src folder.  I'm submitting a fix for it now, but to get your allsky capturing, you can run:
[code]

Thanks, and sorry for the miss

[2021-10-05 03:07] #558 closed

[2021-10-05 04:18] EricClaeys commented on #539
@Dentonknifeworks, I strongly suggest a full install.  Changes in `endOfNight.sh` require the new `upload.sh` script which is now what calls lftp, so you don't want to get just one file.

Prior to full install, save your ~/allsky/images directory and restore it after the install.
Also, save your configuration files so you can restore the settings - I suggest NOT simply copying the old files back s

[2021-10-05 04:22] EricClaeys commented on #539
@ckuethe, I respectfully disagree that "Printing a recoverable/recovered error by default is next to useless".  There is often an underlying cause for those errors that the user (or we) may want to check into.  If the user can't do anything about them (as is the case with many Windows Event Viewer errors), then I agree they shouldn't be printed.
But I think we have a good middle ground by letting

[2021-10-05 04:31] EricClaeys commented on #483
@ckuethe,  your last two bullets:

- The daytime histogram code replaces ZWO's auto-exposure with our own, if the user has daytime auto exposure on.  We actually turn it off, the use the histogram code.  If ZWO ever fixes the bug, we'll have to see if it's better than our histogram method, and if so, we can delete the histogram code.
- Setting the "brightness" (which ZWO internally calls "ASI_AUTO

[2021-10-05 05:00] EricClaeys commented on #417
@maphilli14, those message are just saying your camera doesn't support gamma (most don't) and setting color balance since you have a mono camera.  A future version of capture.cpp won't attempt to set color balance on mono cameras.  Those message are nothing to worry about.

Try downloading the newest capture.cpp which is in the "src" directory at https://github.com/thomasjacquin/allsky.  First ren

[2021-10-05 05:00] ckuethe commented on #483
Let's just say that I disagree with ZWO's implementation of autoexposure, and would like to have some additional controls and strategies for evaluating what a properly exposed image is.

[2021-10-05 11:53] maserowik opened #567 "Files appear in the root of my hosting site"
Ok I though this was fixed but today the file appeared in the root of my hosting site.
[code]
here is the file on the server
![image](https://user-images.githubusercontent.com/25713782/136017176-a812e874-e3cd-45bb-8325-8ec26244b893.png)

he is what is located in the file
![image](https://user-images.githubusercontent.com/25713782/136017296-25107511-b724-4813-b595-eadd56cbea8a.png)

I believe this

[2021-10-05 11:56] Telfish2 commented on #558
Got it, thanks!

On Mon, Oct 4, 2021 at 11:08 PM Chris Kuethe ***@***.***>
wrote:

[2021-10-05 12:30] Telfish2 commented on #558
Sorry to be a pain, copied the file across and on running I now get this
error.

● allsky.service - All Sky Camera
   Loaded: loaded (/etc/systemd/system/allsky.service; enabled; vendor
preset: enabled)
   Active: activating (auto-restart) (Result: exit-code) since Tue
2021-10-05 08:27:58 EDT; 2s ago
  Process: 5418 ExecStart=/home/pi/allsky/allsky.sh (code=exited,
status=1/FAILURE)
 Main PID: 541

[2021-10-05 13:05] Telfish2 commented on #558
All working now thanks. deleted and reinstalled.

On Tue, Oct 5, 2021 at 8:29 AM Terry Fishlock ***@***.***> wrote:

[2021-10-05 13:12] linuxkidd commented on #567
@maserowik  While I've removed it from your comment now,  you should change your password on that server immediately ( and anywhere else you use that same password ).   There are bots that scour the internet and GitHub specifically for accidental credential leaks.

[2021-10-05 13:52] maserowik commented on #567
Wow, I thought I scrubbed it.
thanks for the catch.

[2021-10-05 15:21] Jonk2 commented on #510
I don't notice a flicker when the exposure is at maximum which I suppose is expected, as nothing's changing. It just appears to ramp up over 4 or 5 frames, then returns to the value at the beginning of the ramp when it's at anything less than the max (30 seconds in my case).
I tend to do all my testing on the PI indoors, leaving the one outside as is, but I've just changed the one outside to v0.7

[2021-10-05 15:42] EricClaeys commented on #510
@Jonk2.  Thanks in advance.  I'm curious what the outdoor one does with and without clouds, both with 0.7 and 0.8.  It might be difficult to test for the next couple weeks since the moon isn't out.

[2021-10-05 17:18] Chr1sw1e opened #568 "no notification pictures showed"
Hi,

https://github.com/thomasjacquin/allsky/blob/45f9fe8a5b10570af6057e12331544bbd2525267/scripts/copy_notification_image.sh#L51

Maybe wrong path ? It moves the notification image to image.jpg but in liveview only liveview-image.jpg is displayed

i tried mv -f "${IMAGE_TO_USE}" "${ALLSKY_HOME}/${IMG_PREFIX}${FULL_FILENAME}" now it worked

Is it right or do i have a wrong configuration ?

[2021-10-05 20:26] Jonk2 opened #570 "Image upload error + no keogram / timelapse / star trails produced today only"
I've tried to keep up with the many new releases / files and this could be a case of delete it all and start again!

To avoid confusion, I have 2 x RPI4bs and 2 x ASi178MCs (outdoors is standard, indoors test one is the cooled version).

Outside known as Allsky PI, inside test one Allsky PI 2.

My log file on the inside test Allsky PI 2 says it's v0.8.1 and for the past couple of days, the image u

[2021-10-05 21:04] Jonk2 commented on #570
Ok, is it a simple thing to do, as the instructions say to delete the allsky folder and clone a new one? What I do is rename the allsky folder, clone a new one and installed as fresh, manually putting my settings back in. Maybe that's not a good thing to do.

The NAS is accessible for both Allsky PI and Allsky PI 2 from my PCs, phones etc no issue. I do have mfa set up on all my NASes but that doe

[2021-10-05 21:16] EricClaeys opened #571 "website/install.sh should check that allsky-portal is installed"
When installed on a user's Pi, the allsky-website package requires the allsky-portal package (which installs the lighttpd web server).
The allsky-website install script in ~/allsky/website/install.sh doesn't check that the allsky-portal package is installed, and should.

Should the installation script exit if allsky-portal isn't found, or should it warn the user and continue?  Is there any reason

[2021-10-05 21:17] Jonk2 commented on #570
You may be right...?

![image](https://user-images.githubusercontent.com/77614536/136103976-41f95d6f-7de3-43b9-bb8d-360c7963ecb9.png)

[2021-10-05 21:25] EricClaeys opened #572 "source variables.sh in gui and website install.sh scripts"
Doing a `source $ALLSKY_HOME/variables.sh` in gui/install.sh and website.install.sh (and other scripts?) would allow us to remove hard-coded paths, especially if we also set `ALLSKY_GUI_DIR=/var/www/html `in variables.sh.  This will make it easier to move/rename those directories in the future, and would be more consistent with the other scripts.

[2021-10-05 21:30] ckuethe commented on #570
Clearly you've changed something, as we all have.
* sunwait-src changes because sunwait was compiled there
* image.jpg changes because that's the captured image (we should probably gitignore that)
* and you're probably testing things in allsky.sh

[2021-10-05 21:33] ckuethe commented on #570
Yep lots of changes there. You can do `git log` to see what commits you just pulled, if you're curious.

You'll want to rebuild the the binaries - `cd src && make` - but I don't think you'll need to completely rip everything out

[2021-10-05 22:14] EricClaeys opened #573 "Change 2-letter upload codes to more meaningful names"
When uploading files, the upload.sh script uploads to a temporary file name, then move that temporary file to the final destination.  The temporary file name is passed to upload.sh as a 2-letter string, and a random number is appended.  The 2-letter strings indicate what type of file is being uploaded:

- TL = Time Lapse
- NI = Notification Image
- ST = StarTrails
etc.
Those temporary files someti

[2021-10-05 22:18] EricClaeys commented on #572
Chris, what do you mean by "the main config"?  Not sure I understand your comment (other than the "good idea" part...).

[2021-10-05 22:35] ckuethe opened #574 "Investigate single-shot mode for ZWO cameras rather than video"
This would hopefully eliminate the giant spew of  `usb 1-1.1.2: reset high-speed USB device number 5 using dwc_otg`.

[2021-10-05 22:43] ckuethe commented on #572
Basically, whatever format of configuration we're using - a single json or json and shell snippets - variables.sh should read that config and set up the environment appropriately.

[2021-10-06 00:19] maserowik opened #576 "Wiki"
@EricClaeys
Not to be a PITA but I was wondering if you had a chance to upload the WIP wiki yet .  see issue 458.

Mike

[2021-10-06 02:07] linuxkidd commented on #570
Actually, now that you're fully up to date with the latest code... you can run the following from the `allsky` folder:
[code]

You'll need to transfer your settings from `config.sh` and `ftp-settings.sh` info the same named files inside `allsky/config` once that is done.  Once those are populated, you can backup / remove the same named files from the `allsky` directory.

[2021-10-06 02:09] linuxkidd commented on #570
Oh, and then restart allsky:
[code]

[2021-10-06 02:27] EricClaeys commented on #574
Using snapshot mode (as ZWO calls it) disables auto exposure, so we'd need to implement an auto exposure algorithm for night and make the histogram (or something else) daytime auto exposure algorithm permanent.
We'll also need to make sure it eliminates the ASI_ERROR_TIMEOUT issue.

[2021-10-06 02:51] EricClaeys commented on #572
I think `source variable.sh` is always followed by `source config.sh` and often by `source ftp-settings.sh`, so having variables.sh include the functionality of the other two files as well as settings_*.json would make sense.  Especially since variables.sh only sets the variables once per invocation of allsky.sh (or whatever program is invoked from the command line).

When we have capture*.cpp rea

[2021-10-06 03:34] Telfish2 opened #580 "Focus and refresh."
So tonight is the first night out with the Allsky. It's taking images but I am finding it really difficult to focus as the images are only refreshing about ever minute which is slower than the day. the interval is set to the default one second so I was hoping for a pretty continuous steam of images so I could see the effects of my adjustments in pretty much real time.

I am thinking there is a way

[2021-10-06 03:49] ckuethe commented on #580
Check your exposure and delay settings. My config has this:

[code]

Which delays 1 microsecond and then takes another 5000 millisecond exposure.

[2021-10-06 03:53] #573 closed

[2021-10-06 04:30] maphilli14 commented on #417
Yes, much the same...
[allsky-20211005.zip](https://github.com/thomasjacquin/allsky/files/7290817/allsky-20211005.zip)
.

[2021-10-06 04:35] EricClaeys commented on #576
@maserowik, please be a PITA.  I sometimes need the push.  I'm doing it now.  I don't have a lot yet but something is better than nothing.

[2021-10-06 04:43] ckuethe commented on #580
Try getting a close focus during the day, like of getting an approximate alignment of a finderscope so that you don't have as much to do at night. Maybe you still have a little bit of tweaking to do to dial in the focus on stars but it should be close.

[2021-10-06 08:07] EricClaeys commented on #576
@maserowik, I added what I have and will continue adding as I get more information.
I'll let you decide when to close this issue - now because I added what I have, or later after the Wiki is more complete (it will never be done since I expect to always be updating it).

[2021-10-06 10:21] EricClaeys commented on #568
@Chr1sw1e, thanks for pointing out the bug.  Please try removing the ${IMG_PREFIX} you added and add this line above the `mv -f `line:
`FULL_FILENAME="${IMG_PREFIX}${FULL_FILENAME}"`
There are other lines in the file that I believe also need the `${IMG_PREFIX}` added, and the line above handles all of them.

Let me know how it goes.

[2021-10-06 10:50] adymac101 commented on #560
I've run into the exact same problem just today. Installed a new OS onto Pi 4 (Release date: May 7th 2021, Kernel version: 5.10). Followed the instructions to the letter for the allsky install while logged on as the pi user, received an error that 'package libusb-1.0 was not found' during the dependencies check and the installation aborts. Ran 'sudo apt-get install libusb-1.0' and then attempted i

[2021-10-06 10:54] EricClaeys commented on #417
@maphilli14 Sigh...
What's up with the multiple `***** Starting AllSky ***** ` and `Making sure allsky.sh is not already running...` at the top?
Did you stop it after the 3 buffer clear exposures failed at  00:23:11?  The normal exposure after that succeeded.
The last run in the log file failed on the 3 buffer clear exposures but then had 5 successful exposures.
All the runs had USB Bandwidth at 1

[2021-10-06 11:21] EricClaeys commented on #576
@maserowik Can you do me a favor?  I don't have access to my Pi but want to test something.

In scripts/upload.sh, after the `echo set net:timeout 20` line, add this:
`echo "echo ls xxxx || echo xxxx does not exist"` on one line and
`echo "echo test 3 && echo test 4"` on another.
Then once the next image is uploaded, look in ~/allsky/tmp/upload_log.txt.  If it has "xxxx" in it, copy the file to yo

[2021-10-06 11:21] Curtis2012 commented on #560
I just had the same problem. My first install of allskycam went smoothly following the published instructions. Then the SD card got corrupted. No big deal...just burn another one and re-install right...wrong. With a freshly burned Raspian 32 bit image on a 3A+ the install failed. Resolved by "install libopencv-dev".

Output from install.sh below:

...
pi@allsky:~/allsky $ ./install.sh

***********

[2021-10-06 11:23] EricClaeys commented on #570
@Jonk2 Can you do me a favor? I don't have access to my Pi but want to test something.

In scripts/upload.sh, after the echo set net:timeout 20 line, add this:
echo "echo ls xxxx || echo xxxx does not exist" on one line and
echo "echo test 3 && echo test 4" on another.
Then once the next image is uploaded, look in ~/allsky/tmp/upload_log.txt. If it has "xxxx" in it, copy the file to your reply.

Y

[2021-10-06 11:27] EricClaeys commented on #567
@maserowik I found and fixed that bug a day ago.  You can get the latest scripts/postData.sh file, or on the last line, change the `IMG_DIR `to `IMGDIR`.
Sorry about that.

[2021-10-06 12:21] maserowik opened #586 "Keograms"
This may have been answered before but I am not able to find it.
on my hosting site I have the keograms uploaded fine.

![image](https://user-images.githubusercontent.com/25713782/136200875-acf30a0a-aa76-4f76-8d53-c0c6c39b57f4.png)

but when I click on the image I get a shrunken image
![image](https://user-images.githubusercontent.com/25713782/136200988-954ca125-a325-4245-a8c5-916579000ca7.png)

i

[2021-10-06 12:23] maserowik opened #587 "Running two version"
I see there have been quite a few upgraded/enhancements to this software/application.  Is there a way to have two version installed on the same PI and I can select what version I want to run?

[2021-10-06 13:09] EricClaeys commented on #65
Closing issue.  Request to upload images every X times was added to Projects list.

[2021-10-06 13:09] #65 closed

[2021-10-06 13:23] maserowik commented on #576
105                 echo set net:timeout 20
106
107                 echo "echo ls xxxx || echo xxxx does not exist"
108                 echo "echo test 3 && echo test 4"
109

<
pi@Pi-AllSky:~/allsky/tmp $ cat upload_log.txt
ls xxxx
test 3
test 4
pi@Pi-AllSky:~/allsky/tmp $

[2021-10-06 14:25] maserowik commented on #576
1 ls: ls xxxx: Fatal error: max-retries exceeded
 2 xxxx does not exist
 3 ls: ls xxxx: Fatal error: max-retries exceeded
 4 xxxx still does not exist
 5

![image](https://user-images.githubusercontent.com/25713782/136222589-4956b977-7218-4d16-8e76-de01cdfb4558.png)

[2021-10-06 14:28] EricClaeys commented on #576
Other than the weird Fatal error message, that's the output I expected.

Another test pretty please.
Undo what you did in the prior test.
Place a "#" in front of the "put" line, then add this line:
`echo "put '${FILE_TO_UPLOAD}XXXXX' -o '${TEMP_NAME}' || echo 'put failed!' && exit"`

You should see some error from lftp, then "put failed!".  It will NOT copy the file since it exits after the error.

[2021-10-06 14:39] EricClaeys commented on #576
Probably by pasting the text in, the highlight it and press the `<>` button.  I think there's something in the text (probably the tilda) that the web page is interpreting to mean strikethrough, just like a `#` means the text is a header.

That last message is good.  I now know how to get lftp to exit as soon as it encounters an error, rather than continuing and encountering another error.
Thanks f

[2021-10-06 15:18] maserowik opened #589 "New Pull of software"
I decided to do a new pull of the software.  Well not sure what happened but the gui web editor for me does not work

![image](https://user-images.githubusercontent.com/25713782/136233011-d9861c4b-9f73-47bb-8b32-eb4cf09d8a10.png)

[2021-10-06 16:54] EricClaeys commented on #587
@maserowik It's probably possible but may not be easy yet.  You can try the instructions at [https://github.com/thomasjacquin/allsky/wiki/Installation-Tips](url) but for one of the installs, change the `git clone` to get a prior version.  The reason it may not be easy is that we recently changed the location of a lot of files, for example the *.cpp files are in allsky/src and the config files are

[2021-10-06 17:02] linuxkidd commented on #589
Indeed... several hard-coded paths:
[code]

[2021-10-06 17:03] EricClaeys commented on #568
Excellent!  There's a new version of copy_notification_image.sh with the fix.  You can download it but don't need to.

[2021-10-06 17:03] #568 closed

[2021-10-06 17:05] maserowik commented on #589
@EricClaeys
@linuxkidd

here is the error log for the lighttpd

[code]

[2021-10-06 17:08] maserowik commented on #586
I have really mucked up my copy of allsky.  I did the new version and now I have something mucked up good.

[2021-10-06 17:10] EricClaeys commented on #586
@ckuethe Did you add the "addRow" and "-finishline" variables?  I seem to remember them having something to do with skinny images.

[2021-10-06 17:13] maserowik commented on #567
@EricClaeys
I will test as soon as i can get my allsky back on line.  I mucked it up good!!!!!!

Mike

[2021-10-06 17:14] maserowik commented on #589
Guess I should wait on few days before I try to go bleeding edge!!!!!

[2021-10-06 17:17] linuxkidd commented on #589
@maserowik some (most?) of the errors from that log aren't related to the config path change.  Is your allsky installed in `/home/pi/allsky` ?

[2021-10-06 17:20] maserowik commented on #589
@linuxkidd
will a new git pull work or do i need to manually update files?

[2021-10-06 17:23] EricClaeys commented on #589
All the "Undefined index" messages will be fixed when I submit my PR.  I fixed them on my Pi a while ago but never created a PR.

[2021-10-06 17:41] maserowik commented on #589
@linuxkidd
@EricClaeys
so i did a fresh pull and file showed up in the editor.
but the ftp-settings.sh is missing

![image](https://user-images.githubusercontent.com/25713782/136255249-6b19f2a6-5bf9-427e-9c2f-925e7c7d0981.png)

also on the camera settings I have show exposure/gain and brightness turned turned to off

![image](https://user-images.githubusercontent.com/25713782/136255465-0b765802-22

[2021-10-06 17:48] maserowik commented on #587
Sound like it would be more problem than gains.

[2021-10-06 19:17] KH6JAG opened #590 "Installation Fails"
Dependancies Installation fails. I've tried to install using a fresh Buster image on Rpi 4, 3 and Zero.
Installation worked OK two weeks ago following the same process.

[2021-10-06 19:20] ckuethe commented on #590
http://www.catb.org/~esr/faqs/smart-questions.html#beprecise

[2021-10-06 19:28] adymac101 commented on #590
See last 2 comments here https://github.com/thomasjacquin/allsky/issues/560

[2021-10-06 19:31] Jonk2 commented on #570
Also, sorry but installing the latest (as of 30 minutes ago) my log shows this:

Is this correct? How can there be so many changes over the past few days but the version has remained the same? Can you add a build number or something because to idiots like me, I don't know whether I'm up to date or what version I have, and this makes it very difficult to sort out issues before asking for help.

[2021-10-06 19:34] maserowik commented on #589
Also I tailed the allsky log and issued a sudo service allsky stop and it took about 2 minutes to stop

Oct  6 15:24:55 Pi-AllSky allsky.sh[5314]:      ***** Stopping AllSky *****
Oct  6 15:26:12 Pi-AllSky allsky.sh[5314]: *** upload.sh: ERROR:
Oct  6 15:26:12 Pi-AllSky allsky.sh[5314]: FILE_TO_UPLOAD='/home/pi/allsky/tmp/image.jpg'
Oct  6 15:26:12 Pi-AllSky allsky.sh[5314]: REMOTE_DIR='/allsky/'

[2021-10-06 19:44] KH6JAG commented on #590
Sorry for the lack of info - I've been frustrated all day trying to do both a fresh installation and and update with a directory removal and installation.  The result always fails as shown below.

pi@raspberrypi:~ $ sudo apt-get install git
Reading package lists... Done
Building dependency tree
Reading state information... Done
git is already the newest version (1:2.20.1-2+deb10u3).
The following

[2021-10-06 19:46] ckuethe commented on #590
That's better. Note that the error says `Makefile:46: *** Did not find USB Libraries, try 'make deps'. Stop.`

So `make deps` should fix that for you, but we can probably update the makefile to try autofix it too.

[2021-10-06 20:03] KH6JAG commented on #590
The lines through the text resulted after I pasted in the text into the comment space

[2021-10-06 20:05] ckuethe commented on #590
If you put `~~~` by itself on a line before your paste, and again after the paste, it'll format as a code block. I edited your reply to add those...

[2021-10-06 20:10] ckuethe commented on #590
Try this: edit src/Makefile, insert a tab at the beginning of lines 36-42, so it looks like this:

[code]

then try `sudo make deps` again. Do not copy and paste the section above, you have to edit the file and insert a tab (not spaces) at the beginning of those lines.

[2021-10-06 20:19] KH6JAG commented on #590
Just to be sure I did the edit correctly all I added was the tabs to make the text format indentical to your suggestion

[2021-10-06 20:24] Jonk2 commented on #570
No need to apologise, it must be frustrating trying to solve everyone's issues, we'll all have different problems and I suspect not many of us are programmers!

I'll do as you suggest and report back. Thanks.

[2021-10-06 20:27] Jonk2 commented on #570
Ok here's the terminal result... does it look correct?

[2021-10-06 20:35] ckuethe commented on #590
Yes, at this stage cameras have nothing to do with it.

I'm not sure your source tree is correct; the following worked for me (just to check that `make deps` worked correctly:

[code]

What happens when you do that?

[2021-10-06 20:48] KH6JAG commented on #590
This is the result - I will be away fro the PC for awhile as I need to head to the obsevatory.

[code]

[2021-10-06 21:34] EricClaeys commented on #589
@maserowik Where is your image.jpg file?  In /home/pi/allsky/tmp?  Is it called image.jpg or liveview-image.jpg?

[2021-10-06 22:05] EricClaeys opened #594 "gui/install.sh: ifconfig may not be present"
gui/install.sh uses the `ifconfig `command, which isn't present on all newly installed Pi's.

[2021-10-06 22:07] Clutch57 opened #595 "Trying an install on a fresh os install failed."
I got this running on a stretch install I upgraded to buster.

Tonight I used a empty sd card to download a new copy of the current os and do an install of allsky.  This is on a Rpi3.  I had a similar message about libusb when I tried installing on a Rpi4.  It looks like there is an issue installing allsky on a bone stock current os.

Thanks,

[code]

[code]

[2021-10-07 00:47] EricClaeys commented on #589
@maserowik Direct access to your Pi would be great - thanks for the offer.  I won't have to bother you nearly as much. Is there anything important in the allsky directory or /var/www/html?

The location of your images is correct for now.  The notification images are copied to alllsky for display and then copied into allsky/tmp where they are uploaded from.  Inefficient but will be more efficient a

[2021-10-07 02:16] linuxkidd commented on #595
Hi @Clutch57  -- A PR I submitted earlier in attempt to resolve this has been merged.  Can you try the following, while logged in a the `pi` user:
[code]

Please share the results.  Thanks!

[2021-10-07 02:53] jcauthen78 opened #598 "ZWO color balance question"
I've been trying to tweak the color balance of my images manually, but I'm having no success, ending up with a green cast that I can't seem to get rid of.  When I set it to Auto-Color-Balance, the image is just about perfect.  Is there a way to see the computed color balance that the auto settled on? have it echoed into the allsky.log allong with the exposure & delay maybe?

[2021-10-07 03:16] linuxkidd commented on #595
I have a reproducer for this now.  If you'd like to move forward without a fix of this specific issue, you can run this:

[code]

Then you can re run the `./install.sh` script.

[2021-10-07 03:21] #594 closed

[2021-10-07 04:15] linuxkidd commented on #560
I have a reproducer for this now.. and am working on it.

[2021-10-07 04:21] ckuethe commented on #598
Unfortunately we don't have visibility into what the camera decides to do in auto mode, whether it did right or wrong.

And I'm often dissatisfied with it's decisions, thus my plan to try implement a userspace balance/exposure servo.

[2021-10-07 04:38] linuxkidd commented on #590
FYI - I have a reproducer for this and am working to figure out the issue.  If you'd like to move forward without waiting for a fix, please run the following command.
[code]

After that, you can re-run the `./install.sh` script and it -should- finish the installation.

Let us know how it turns out, and thanks for your patience!

[2021-10-07 05:19] linuxkidd commented on #595
I've restructured the Makefile a bit and gotten past the `sudo make deps` not firing properly.

Until it's merged, you can apply the patch to your current installation of allsky (assuming it's up to date with this repo) by using the following while logged in as the `pi` user:
[code]

Then, retry
[code]

[2021-10-07 05:38] Hydrazine2501 opened #600 "New install on Rasperry pi 4 not working"
I installed a few days ago and the software worked fine, but I ran into trouble today and re-installed  (Deleted the allsky directory) and now nothing works:
[code]
Looking in config.sh I see that there's no camera configured out of the box:

[code]

I thought that was previously set to auto.

If I set the camera to ZWO and run allsky.sh manually I get:

[code]

Any thoughts as to what could be wr

[2021-10-07 06:38] #590 closed

[2021-10-07 06:38] #595 closed

[2021-10-07 08:04] mil-cha opened #601 "Installing dependencies on fresh Raspbian OS Raspberry pi4 failed"
after running the ./install.sh script i get this error:

[code]
It is something related opencv which i installed according https://github.com/dlime/Faster_OpenCV_4_Raspberry_Pi
(Opencv is required by the install script but is not included in Raspbian OS nor allsky install script)

[2021-10-07 11:04] maserowik commented on #589
@EricClaeys
[code]

Please reach out to me at maserowik at verizon dot net.

Mike

[2021-10-07 12:57] Telfish2 opened #602 "Tim elapse not created"
Have used my new install for two nights, both nights at the end it created a star-trail, night one it also created a keogram. However both nights it created a time lapse that was empty, just a 48Kb file with no actual video. Second night no keogram at all just star-trail.

I have a lot of images each night so any idea what the issue is and how to fix it.

Thanks

Terry

[2021-10-07 13:43] adymac101 opened #603 "Allsky failures after applying patch"
Having had the same problem as others with installation failing on a freshly imaged RPi 4 due to dependency problems I followed the advice from @linuxkidd and applied this patch prior to install

cd ~/allsky
wget https://patch-diff.githubusercontent.com/raw/thomasjacquin/allsky/pull/596.diff
patch -p1 < 596.diff

This threw some errors as follows

pi@raspberrypi:~/allsky $ patch -p1 < 596.diff
pat

[2021-10-07 15:23] KH6JAG commented on #590
Thanks for the help but I'm still having difficulties.

I tried the changes proposed above but the installation failed.

I then started with a fresh Buster image and did a new install of the allsky and the GUI

Program started but no image available using RPiHQ.

I checked the config.sh file and found the following
# Choose between "ZWO", "", or "auto".  "auto" prefers ZWO if present.
CAMERA=" "

[2021-10-07 15:48] EricClaeys commented on #539
@Dentonknifeworks it's probably a good idea to wait for a more stable release.  We are making a lot of changes in a short period of time so we can get to a stable release.
Glad you got things working.

[2021-10-07 15:55] EricClaeys opened #604 "Convert spaces to tabs, all files"
Let's do a single PR that converts all spaces to tabs assuming 4 character tabstop, in all files: cpp, sh, json, etc. and fixes indentation problems.
In the meantime let's not worry about those things.

[2021-10-07 16:07] #602 closed

[2021-10-07 17:11] Jonk2 commented on #570
Nope, changing the /var/www/html/allsky folder structure to 777 didn't make a difference.

[2021-10-07 17:35] KH6JAG commented on #603
It's probably easier just to keep the issue here.  I'm trying to do a new install.  I did leave some additional comments in the closing of #590.

[2021-10-07 20:08] ckuethe opened #605 "Overwrite controls for endOfNight"
Add some flags to the endOfNight processor to control overwrite behavior: don't overwrite startrails, keograms, or moves unless specifically requested; or generally overwrite unless prevented.

`endOfNight --preserve-existing-outputs`
`endOfNight --overwrite-existing-outputs `

This would allow you to re-run endOfNight to reprocess old data, or to debug a failed stage without wasting many minutes

[2021-10-07 20:24] ckuethe opened #606 "Decouple endOfNight from capture"
At the moment, endOfNight is run by Capture which seems too tightly coupled.

We basically have all the bits we need in endOfNight already; all that remains is to make capture stop calling endOfNight and instead have a separate systemd service / cron job / task that can, in good time, run the nightly processing and leave capture to its job .. of capturing images.

[2021-10-07 23:36] maserowik opened #609 "git pull of software 10/7/2021 @ 735 PM"
getting this error on a new git pull

make[1]: Entering directory '/home/pi/allsky/src'
2021-10-07 19:34:49 Building capture program...
capture.cpp: In function ‘ASI_ERROR_CODE takeOneExposure(int, long int, unsigned char*, long int, long int, ASI_IMG_TYPE)’:
capture.cpp:485:6: error: ‘numErrors’ was not declared in this scope
      numErrors = 0;
      ^~~~~~~~~
capture.cpp:485:6: note: suggested

[2021-10-08 00:21] linuxkidd commented on #609
Looking into this now...

[2021-10-08 00:39] #609 closed, assigned to nobody

[2021-10-08 00:42] linuxkidd commented on #609
Hi @maserowik  -- the PR to fix this was just merged.  If it doesn't resolve the issue, please re-open this issue.

Thanks!

[2021-10-08 00:59] linuxkidd commented on #603
HI @KH6JAG
There are potentially two issues at play here:

1. A use before set variable issue in `allsky.sh` which has been merged.
2. If using an RPiHQ camera, a missing variable in the `settings_RPiHQ.json.repo` file ( in `config_repo` ).  The fix for this has been merged too now.

For item 1, you can `git pull` inside the `allsky` folder and it will apply the new code to your `allsky.sh` file.

[2021-10-08 01:08] linuxkidd commented on #601
Actually, since they are deb's ( I just found them in your provided linked repo )... You can roll them back.  Try this:
[code]
If that succeeds, you can then try the `./install.sh` script again.

Thanks!

[2021-10-08 01:26] linuxkidd commented on #570
Sorry, I"m late to this party...
[code]
^ this error is likely caused by changing the Pi's hostname ( in `/etc/hostname` ), but not adding an entry in `/etc/hosts` -- typically, you'd replace the 'raspberrypi' name in the hosts file with the new hostname.  Or, you can just add a new line like:
[code]
-------------------
Having two PI's with the same hostname on the same network can result in unpre

[2021-10-08 01:31] linuxkidd commented on #603
- This is definitely not a feature or function of the allsky software.
- I would suspect, it's shutting down for one of a few reasons:
   - Insufficient power from the PSU
   - Overheating
   - Something oddly configured in the GUI / OS ( like, it tries to sleep, but RPi doesn't support that, so it just dies )
   - Combination of a GUI and Timelapse generation exhausting all memory and causing it

[2021-10-08 01:49] EricClaeys commented on #603
We just submitted a fix for the gazillion errors.  It updated `allsky.sh`, so please grab the newest version.

@adymac101 if this fixes the problem with allsky.sh errors, please close the issue.
Thanks

[2021-10-08 02:21] EricClaeys commented on #572
Completed and merged into code.

[2021-10-08 02:21] #572 closed

[2021-10-08 03:27] EricClaeys commented on #510
@Jonk2 if daytime and nighttime gain are different and aren't set to "auto", then gain should be adjusted from its night value to its day value when going from night to day, and from the day to night value when going from day to night.  It begins at the day/night transition point as specified by your "angle".  The transition length is user-settable.  It doesn't take the image brightness into accou

[2021-10-08 04:52] linuxkidd opened #1240 "Allsky Image should always fit the window / screen"
When in the Live View, if you make the browser window much wider than it is tall, the live image will grow much taller than the window portal.

The same thing happens when you click the Live View image for full-screen, if you have a wide aspect ratio ( mine is 21:9 ), the image height grows well beyond the vertical height of the monitor.

It would be much nicer, imo... if the Live view always stay

[2021-10-08 05:05] mil-cha commented on #601
Hi linuxkidd
I did a fresh install Raspbian and then run the install script again - now it works. Thank you.

[2021-10-08 05:42] Hydrazine2501 commented on #600
No worries at all, this is a fantastic tool.  Thank you so much for working on it.  I've been an avid fan and user since Thomas J. posted it on Instructables many years ago.

[2021-10-08 05:45] EricClaeys commented on #600
We're glad you continue to like the tool.  We like working on it and making it more useful for users like you.

[2021-10-08 08:56] #603 closed

[2021-10-08 11:56] #600 closed, assigned to linuxkidd

[2021-10-08 12:00] #601 closed, assigned to nobody

[2021-10-08 12:08] KH6JAG commented on #603
Follow-up Results:
I did a git pull and install
The RPiHQ already had the “debuglevel” : “1”, edit.  I’m guessing that it had already been updated by the time I started the recommended actions.
When I started the program, the live image was not available.  I checked the config file and did the edit for “RPiHQ”
Rebooted still no image.  I changed to a different RPi4.  Used the same camera but diffe

[2021-10-08 12:23] linuxkidd commented on #603
That's great news, @KH6JAG !  Thanks for hanging in there with us as we worked through everything.

If there camera ends up having a public link, please come back and share it with us.

[2021-10-08 12:50] #589 closed, assigned to EricClaeys

[2021-10-08 14:14] maserowik opened #612 "I mucked up something"
So I did a new git pull this morning and thought I configured everything correctly, boy was I incorrect.
I have everything working locally on my side.  I have a live image on my gui interface and the setting look fine for what I am use to seeing.

![image](https://user-images.githubusercontent.com/25713782/136571415-a07f63e0-9b54-4d70-af28-fa7959b796ed.png)

now on my hosted website, the live imag

[2021-10-08 14:15] jryd2000 opened #613 "Startrails Program Doesn't Accept Brightness parameter"
The startrails program does not appear to accept the -b brightness parameter and only used the default value stored in the program.

[2021-10-08 14:57] linuxkidd commented on #612
HI @maserowik -- Please be sure to remove your credentials in the `lftp_cmds.txt`, and `upload_log.txt` if present,  then drag the file into the comment box in this issue.  That will upload and attach the log to the issue for us to review.

Thanks!

[2021-10-08 15:24] linuxkidd commented on #612
Thanks @maserowik , can you also check either:
[code]

Or

[code]

In either output, look for the time around when the upload failed for messages related to uploading...

Thanks!

[2021-10-08 15:47] EricClaeys opened #614 "Keep track of location of allsky-portal and allsky-website"
gui/install.sh and website/install.sh should add variables to config.sh that contain the directory in which those packages were installed.
This will make it easier for cross-package communication, for example, the editor in the WebUI could easily include the allsky-website configuration files if it knew where to look, without hard-coding their paths - it would instead get the top-level directory f

[2021-10-08 16:14] Chr1sw1e opened #615 "ftp-settings.sh: No such file or directory in endOfNight.sh"
https://github.com/thomasjacquin/allsky/blob/4731c84a5e83c2b4171153f962519216a05c33e5/scripts/endOfNight.sh#L24

pi@allsky:~/allsky/scripts $ ./endOfNight.sh
./endOfNight.sh: line 24: /home/pi/allsky/ftp-settings.sh: No such file or directory
endOfNight.sh: ===== Generating Keogram

wrong path should be
source "${ALLSKY_SCRIPTS}/ftp-settings.sh"
as in other scripts, imho ;-)

[2021-10-08 16:21] linuxkidd commented on #615
Hi @Chr1sw1e
  Actually, the `ftp-settings.sh` has moved to `allsky/config`.  It appears likely that your scripts are out of date compared to the rest of your `allsky` contents.

I would recommend performing a `git pull` inside of your `allsky` folder, then move your `scripts/ftp-settings.sh` config data into the new `config/ftp-settings.sh` -- NOTE: some of the variable names may have changed, so

[2021-10-08 17:09] Jonk2 commented on #570
@linuxkidd I thought so, but didn't realise you could set a custom name like that - could you add it to the install script as a prompt to the user? That would be easy for us - right at the end before reboot say "now rename your PI to <text box> or continue with the default (allsky)"....is that easy to do? I don't use my PIs just for allsky, so this makes sense to me.

@EricClaeys The install.sh yo

[2021-10-08 17:21] Jonk2 commented on #510
@EricClaeys strange, must be the encoding. Try these?

Although they're quite compressed, you can see the numbers and sunset / sunset flickering.

https://user-images.githubusercontent.com/77614536/136597293-8641cdc3-69b4-4bf2-a81d-75316a68bd7f.mp4

https://user-images.githubusercontent.com/77614536/136597435-245445fa-048b-460b-9567-b22d4a1a02b1.mp4

https://user-images.githubusercontent.com/77614

[2021-10-08 17:35] Chr1sw1e commented on #615
Hi,
git pull too much errors..

I deleted the directory and cloned and installed all again, now no more error..

Thanks alot !!!

[2021-10-08 17:35] #615 closed

[2021-10-08 18:48] Jonk2 commented on #570
Sorry forgot this - there's nothing in the log about the notification images and they're not being shown or saved.

[2021-10-08 19:14] maserowik commented on #570
@Jonk2
I had the same thing you are having.  I redid whole git pull and now it shows up.

Mike

[2021-10-08 19:35] Jonk2 commented on #570
Hi Mike, I've seen that post, and I'm kind of in the same position. I'm not a Linux user really, but can follow instructions well enough.
Whilst I apopreciate what this team is doing for this software, it's really difficult when things don't work - I'm hoping they get this right and can give us mere mortals a simple way to save settings, update, reinstate settings without having to do anything els

[2021-10-08 21:08] maserowik commented on #570
I would reinstall the main allsky app then reinstall the portal

[2021-10-08 21:10] Jonk2 commented on #570
Yep tried that, no change - the ftp-settings.sh doesn't show in the menu.

[2021-10-08 21:16] Jonk2 commented on #570
The file exists in /home/pi/allsky/config so I've manually edited that with the correct ftp settings for my NAS, but it doesn't appear to have worked.

[2021-10-08 23:26] linuxkidd commented on #613
Right you are!  I'm fixing it now and submitting a PR.   Nice find, thanks!

[2021-10-08 23:44] #613 closed

[2021-10-09 00:15] EricClaeys commented on #612
@maserowik Mike,
This line appears to have failed, since you still have SaveImageDay-15882 on your server, although I'm surprised there isn't an error message in the log: `mv SaveImageDay-15882 "/domains/n3bsq.com/public_html/allsky/image//image.jpg"`

Try removing the trailing "/" from the directory name:
`IMAGE_DIR="/domains/n3bsq.com/public_html/allsky/image/"`
although I don't think that will

[2021-10-09 03:14] EricClaeys commented on #510
@ckuethe Chris, can you take a look at the changes in keogram size above, between version 0.7 and 0.8?  The version 0.8 one seems to be scrunched up in width.

[2021-10-09 03:51] ssagerian opened #618 "With RPiHQ canera set, camera page still shows ZWO settings?"
When I set the camera type to RPiHQ and restart the GUI, the camera settings page still shows settings for ZWO
![allsky_editor_wRPiHQ](https://user-images.githubusercontent.com/3128943/136643302-af2ed072-7473-47f3-a66d-27a97013623e.png)
![allsky_camera_setting_ZWO](https://user-images.githubusercontent.com/3128943/136643310-0aed1a1d-ca8d-418d-a5ff-f7adc3ad7221.png)
.

[2021-10-09 15:05] maphilli14 commented on #417
Thanks @EricClaeys I seemed to have lost all camera ability.  Switching to daytime mode at the end of that night of troubleshooting left it timing out no matter what settings.  I tried refreshing the entire allsky from repo 2x times.  It's as though something stuck in the camera registers.  Even powering off for many minutes did not recover.  I will refresh again tonight and try the suggested cpp!

[2021-10-09 17:50] #612 closed

[2021-10-09 17:51] maserowik commented on #612
I reloaded the sd card and re did the allsky program.  Not sure what changed but the allsky program appears to be working correctly now.  Closing this issue

[2021-10-09 21:19] #567 closed

[2021-10-09 21:19] maserowik commented on #567
issue went away

[2021-10-09 21:22] maserowik opened #621 "Resize image on Website"
I set the following in the config.sh
[code]

and then restarted the allsky service

the image on the website has not resized.

Am I missing a step

[2021-10-09 21:31] maserowik opened #622 "endOfNight.sh Manual run"
So I tried a manual endOfNight.sh and received a few error messages
they are below
[code]

Mike

[2021-10-10 00:29] maserowik opened #623 "lftp_cmd.txt"
Trying to get a better understanding of the log files.  I am looking at the
lftp_cmd.txt file located in /allsky/tmp
[code]

the line that starts with the put ...  and mv ... is the echo a condition of it not working? or is it telling me the moved failed.
I check the server and I have a valid image on there.

Thanks
Mike

[2021-10-10 01:45] maphilli14 commented on #417
no sweat, I can but it's on the roof and raining, might be some time.... I have recovered basic, < 1s exp again.  I found in the logs I needed to manually specify zwo in the config.sh file.  All seems to work mostly, the cpp file complied but doesn't execute well...

[code]

[2021-10-10 01:50] linuxkidd commented on #392
@khobar95 hopefully the discussion has answered your questions.  I'll close this issue for now -- if you need more assistance or have other questions, don't hesitate to open another issue. :)

[2021-10-10 01:50] #392 closed

[2021-10-10 01:53] maphilli14 commented on #417
also fwiw i used to use the same setup with 4sec 250gain exposures for over a year as an allsky camera.  during that time i used the zwo sdk and oacapture to test things with prior, should I try that again?

[2021-10-10 02:20] linuxkidd commented on #623
Hi @maserowik
  I think @EricClaeys mentioned this in another issue, but I can't remember if it was you he was talking to.. so I'll repeat it here.

If you are logged into your Allsky pi as the `pi` user, and then enter the following:
[code]
Once there, you can copy/paste each of the commands from the lftp_cmd.txt file.  For the 'put' and 'mv' commands, stop right before the `||` and hit enter.

L