[2021-10-10 02:27] EricClaeys commented on #623
@maserowik Mike,
Glad you asked.  I just noticed something I need to fix.

the "put..." command tries to copy the "image.jpg" file from your Pi to a file called `SaveImageNight-25798` on your server, in the top-level directory.  I will change that to copy to the REMOTE_DIR you have specified in ftp-settings.sh (`/domains/n3bsq.com/public_html/allsky/image` in your case).
If the "put" fails, it exe

[2021-10-10 03:55] EricClaeys commented on #612
@maserowik The recent change to scripts/upload.sh should finally fix this.  The Pi I'm using is running the new upload.sh and is uploading files.  If you agree it's fixed, please close the issue.  Thanks Mike.   Using your Pi has allowed me to fix and test several things now.  Thanks again for letting me use it.

[2021-10-10 05:14] EricClaeys commented on #417
@maphilli14 After running `make capture` you need to run `sudo make install` to get it to copy the "capture" command to the correct directory.
What was CAMERA in config.sh before you set it to ZWO?  Blank?  We now set it to blank to force people to update the file since several names changed.

Definitely try with oacapture.  If it works and AllSky doesn't then it's something in AllSky.  If oacaptu

[2021-10-10 10:00] sebmueller opened #628 "using multiple cores for calculationg startrails / keogram"
hi,

i played around with the allsky software and had to run the startrail app often, to find a good brightness level.

there I found, that it was very slow. in htop I saw, only 1 core of my raspberry was used, 3 cores had nothing to do.

after investigating the code, I got the idea to run the mathematical part of startrails in more than 1 thread.

so I extended the code to 4 threads, controled by

[2021-10-10 14:24] #622 closed

[2021-10-10 14:25] maserowik opened #629 "New Git pull 10/11/2021 @ 10 AM EST issue #1"
So I did a new git pull and looking at the the software being installed I see two warning when it is making the sunwait and sunrise files.

![image](https://user-images.githubusercontent.com/25713782/136699886-480ed67c-7d31-4101-b083-f64b0ca27cb8.png)

If these are nothing to worry about please close.

Thanks
Mike

[2021-10-10 14:32] maserowik opened #630 "New Git pull 10/11/2021 @ 10 AM EST issue #2"
Once I did a new git pull I tried to open up the web gui(admin tool) and received this message

![image](https://user-images.githubusercontent.com/25713782/136700018-5c5e0b36-be00-4611-8939-5b51e13d186d.png)

I ssh's to the pi and went to the following directory /allsky/config and manually edited the config.sh and and added the auto to the camera saved it and  issued a sudo service allsky restart

[2021-10-10 14:44] maserowik opened #631 "New Git pull 10/11/2021 @ 10 AM EST issues #3"
looking at the /var/log/lighttpd/error.log  are there error something to worry about

[code]

[2021-10-10 23:46] #629 closed

[2021-10-11 00:21] EricClaeys commented on #630
@maserowik Mike, whenever you do a complete install now you need to update config.sh, which includes setting CAMERA.
Exactly what steps did you do?  I assume somewhere you ran allsky/install.sh?  What else?

@linuxkidd Michael, We should put a statement in allsky/install.sh (or elsewhere) telling people they need to update config.sh.  Once I know the steps Mike did, I'll create the PR.  In the mea

[2021-10-11 00:35] EricClaeys commented on #631
@maserowik Well this is embarrassing.  the errors about "No such file or directory" are my fault.  I deleted some files but didn't tell the script so it went looking for them.  I'll submit a bug fix.  Sorry about that.
The others I haven't seen before so I'll fix them as well.
Thanks for letting me know.

[2021-10-11 00:39] maserowik commented on #630
@EricClaeys

Here is what I do.  I am sure there are better way but this works for me.

sudo service allsky stop

backup current settings

mv ~/allsky ~/allsky.bak
sudo mv /var/www/html /var/www/html.bak
sudo mv /etc/raspap /etc/raspap.bak
sudo rm -rf /var/log/allsky.log
sudo rm -rf /var/log/lighttpd/error.log

install main program

cd ~
git clone --recursive https://github.com/thomasjacquin/allsk

[2021-10-11 00:45] maserowik commented on #621
@EricClaeys
As of right now using the pulI did today both  the image.jpg and liveview-image.jpg are the same.
I will keep a eye on the forum to see when the new updates are released and do a new pull then.

Mike

[2021-10-11 03:31] EricClaeys commented on #630
@maserowik Thanks for the info.  I added it to the Wiki and will update it as necessary.
We're going to have the "allsky" install.sh script prompt for camera type so what you experienced shouldn't happen again.  Also, I changed the error message displayed when CAMERA is empty to be more helpful, and since "auto" is no longer a supported CAMERA value, it also displays a message if it finds "auto".

[2021-10-11 03:33] EricClaeys commented on #631
The updates to remove these error messages is available in allsky-portal.
Also, debug statements at debug level 4 are now displayed when an image resize, crop, or stretch is done.

[2021-10-11 08:51] WirthmU opened #634 "Just a detail about wording"
When the installation finishes the script says:

[code]

The  "please issue 'sudo reboot'" command hint makes no sence since the script gives the choice anyway

[2021-10-11 08:58] WirthmU commented on #630
Same problem here - on a fresh install from the latest git.
The webUI says:

"Unable to determine camera type. Check /home/pi/allsky/config'/autocam.sh'W

[2021-10-11 15:47] #630 closed, assigned to nobody

[2021-10-11 18:11] ssagerian opened #636 "Install fails on fresh RPi"
After re imaging an SD card with the latest Rapian OS, and allowing it to update, I attempted to re install allsky. Following the instructions on the wiki for installing the allsky (not the instructions show on the left), bullet 1 (mkdir) and 4 (git clone) fail without a sudo command, but then later the build fails to compile. I believe the issue is that the folder which the git uses needs to be o

[2021-10-11 20:58] ssagerian commented on #636
just a follow up to my last comment, the camera is running. running command raspistill -o bob.jpg does work.
![bob](https://user-images.githubusercontent.com/3128943/136854671-d1c8f461-1e0e-4be3-b252-319d7f38e5e2.jpg)
.

[2021-10-12 00:13] #634 closed, assigned to linuxkidd

[2021-10-12 00:48] maserowik commented on #621
the image show to be  1304x796 according to the properties of the file.  guess I did not state the question correctly.  on the hosted side how can I get the image to fill full screen  image is small  I have attached a example of what I am asking.  There image on the hosted side does not fill up the whole screen.

![image](https://user-images.githubusercontent.com/25713782/136872041-6ff73d72-6ff0-4

[2021-10-12 00:58] maserowik opened #637 "Dark Frame question"
So this is more of a question on the dark frame option.  Currently on the pi there is dark images from -13 to 31. the number go from -13 to 31 in one step settings i have the dark frame option select in the config.sh.
'''
# Set to "true" if you want to enable dark frame subtraction on your night-time images.
# You must first create dark frames - see the README.md file for instructions./

DARK_FRAM

[2021-10-12 03:16] EricClaeys commented on #637
@maserowik No, the software will get the current sensor temperature from the `temperature.txt` file then find the closes file in darks/* to that temperature.  For example, current temp in temperature.txt is 21.  You have 3 darks:  17.jpg, 20.jpg, and 23.jpg.  The software will first look for an exact match with 21.jpg, but since it's not found it will pick 20.jpg because it's only 1 degree off fro

[2021-10-12 03:21] ssagerian commented on #636
Line 3 of the install tips doesnt set the permissions correct.
![install_tips_fail](https://user-images.githubusercontent.com/3128943/136885753-cc51476a-8237-4a81-8b6e-9f524869e278.png)
.

[2021-10-12 03:52] EricClaeys commented on #636
@ssagerian What's wrong with the permissions?  Doesn't it set the owner and group to "pi" and make it mode 664?

[2021-10-12 07:20] morzineIT opened #640 "Dark removal by average of surrounding Pixels (improvement request)"
When applying dark removal, the removed pixels go to black.
Whilst this is better than the white pixels,  the final image would be much better if the removed hot pixel was replaced with an average of the surrounding pixels; So that a grey sky area isn't peppered with black dots.

 It seems my asi120mm  has developed loads of hot pixels and the black removed pixels look nearly as bad as the white o

[2021-10-12 11:15] morzineIT opened #641 "Split Images on Capture"
I am getting some images which are split into 2 or 3 parts.
I suspect that the problem occurs when the image read is part way through a refresh ??

Is there something that I should do to avoid this ?

ZWO 120MM
Rasp Pi 3+

Images attached: 3 way split / Normal image / 2 way split

![3way](https://user-images.githubusercontent.com/8288866/136945636-42b6566d-a466-4a09-92e6-aa54ec882ed1.jpg)
![full](

[2021-10-12 11:21] techd51 commented on #637
Here are examples of the files I'm comparing, when I open them both up in Photoshop and create layers and compare the two I do see some of the hot pixels being removed but not all.
![43](https://user-images.githubusercontent.com/92370510/136946861-f118cd0c-29ee-4b61-bd03-076b6dd978ec.jpg
![image-20211011230427](https://user-images.githubusercontent.com/92370510/136946893-dc95537d-2d1c-4b2f-a8e3-aa

[2021-10-12 11:31] maserowik commented on #637
Thanks  I have a better understanding on how the darks work with the program.

Mike

[2021-10-12 11:36] maserowik opened #642 "new error in /var/log/lighttpd/error.log"
Is this something to worry about?

2021-10-12 02:29:40: (chunk.c.831) file shrunk: /home/pi/allsky/image.jpg
2021-10-12 02:29:40: (connections.c.456) connection closed: write failed on fd 8
2021-10-12 02:58:40: (chunk.c.831) file shrunk: /home/pi/allsky/image.jpg
2021-10-12 02:58:40: (connections.c.456) connection closed: write failed on fd 8
2021-10-12 03:59:40: (chunk.c.831) file shrunk: /home/p

[2021-10-12 12:04] shiner501 opened #643 "Website not tidy as All sky Admin Panel"
http://skycam.zapto.org/allsky/

I set to keep only last two days in config.  This is reflected in Admin Panel.  Yet on website above I have junk icons from long deleted videos...... How do I clean up this please?  This make GUI look messy.

Thanks, Steve

[2021-10-12 12:05] maserowik commented on #621
Thanks for the information.  I will leave it alone.

Mike

[2021-10-12 12:05] #621 closed

[2021-10-12 12:10] maserowik commented on #643
@shiner501
I believe you have to manually delete the files on you hosted side.  The gui only takes care of files local to you pi.

[2021-10-12 12:13] shiner501 commented on #643
Hi maserowik, the "site" is also hosted on the RPi - the one Thomas made.  When you connect to my URL above it got through my router and onto http server on the RPi.  So is this still a "site" and needs to be manually deleted?  The "time to keep" only applies to inside allskycam application?

[2021-10-12 12:57] shiner501 commented on #643
Confirmed.  You have to go into /var/www/html/allsky/keograms, /var/www/html/allsky/startrails, /var/www/html/allsky/videos and then delete the older ones.  i.e. the automation in the allsky application does not also delete them in the allsky website too.

I will set up a cron that runs at midday to delete all files in these directories older than the number of days I configure in the allsky appli

[2021-10-12 15:18] ckuethe commented on #628
No worries - you contributed some actual code and that's extremely helpful. This is also relevant to my interests, since I reprocess on my workstation with lots of cores and memory.

[2021-10-13 03:33] EricClaeys opened #644 "NIGHTS_TO_KEEP should clean up allsky-website"
AUTO_DELETE="true" and NIGHTS_TO_KEEP should clean out /var/www/html/allsky/{keograms, startrails, videos} if they exist.
Perhaps add a separate options for the website: WEBSITE_AUTO_DELETE="true | false" and WEBSITE_NIGHTS_TO_KEEP.

[2021-10-13 03:40] EricClaeys commented on #643
@shiner501 I just added issue #644 ("NIGHTS_TO_KEEP should clean up allsky-website") to clean up old files in /var/www/html/allsky.
You are correct that NIGHTS_TO_KEEP currently only applies to directories in ~/allsky/images.
When I implement the ability to clean up /var/www/html/allsky I'll probably add separate variables for the website so you can specify a different length of time.  The website

[2021-10-13 06:48] rabit9 opened #645 "FTP upload does not work"
can't upload pictures to my webspace with FTP!

[2021-10-13 07:46] morzineIT commented on #641
Thanks - I have already reduced the USB bandwidth and it did seem to be less common, although it is hard to quantify.
I'll try your point on "disabling continuous capture"

[2021-10-13 07:56] morzineIT opened #646 "Loading too many thumbnails in Local image viewer"
When I use the local Admin panel to view last night's images,
It loads the first page with thumbnails of all the photos ok.
Then when I click on one image, it tries loading 3000 thumbnails at the bottom of the page with forward / back / play etc.
The Pi hangs for a few minutes while it does this.

I think it should limit the loading to X number of images either side of the selected one.

I'm sure

[2021-10-13 09:10] rabit9 commented on #643
what do you have to set to see the current live image on the webserve. I always say Loading!

[2021-10-13 12:04] maserowik opened #647 "Update to Wiki question"
@EricClaeys
Very nice on the WIKI page for AllSky   So I see on the troubleshooting page there is a section call Uploads using FTP/SFTP fail  the first bullet called Certificate error in there is talk about modifying the lftprc file.  Since now in the ftp-settings.sh script there is a place to add it should this not be retracted on the Wiki?

Mike

[2021-10-13 12:14] maserowik commented on #641
I had ordinally started out with the 120 camera and returned it due to the same issue you are having.  Some user were able to get it working but I was not.  I returned it and got a 224 and so far the camera been performing as expected.

[2021-10-13 13:22] KH6JAG opened #648 "Version Number"
Question:  In which file is the version number displayed?
I'm trouble shooting across different RPi versions and multuiple SD cards.

[2021-10-13 13:23] EricClaeys commented on #636
@ssagerian Steve, that file is nothing but a pain in the butt.  It is initially created empty by `allsky.sh` then after camera detection completes the file is populated.  The newest allsky-portal doesn't use the file anymore.
If you set the CAMERA variable in config/config.sh using `nano` you can run allsky.sh once to populate the file.  You should the be able to use the WebUI.

[2021-10-13 13:38] ssagerian commented on #636
@linuxkidd @EricClaeys  The most recent instructions in the wiki install tips work, to the extend that the install scripts ran without error. When I opened the page for the first time it exited with a note indicating that CAMERA was not set and to manually update it. After manually updating the setting, and refreshing the browser the page came up correctly. Everything appears to be working correct

[2021-10-13 13:45] #647 closed, assigned to nobody

[2021-10-13 14:50] #648 closed, assigned to nobody

[2021-10-14 00:40] ckuethe commented on #641
ZWO's support site says that "[our] ASI120MM/MC camera is not compatible very well with Linux" and they give a link to https://bbs.astronomy-imaging-camera.com/d/6279-asi20mm-on-mac-and-or-virtual-machine-solved for some other things to try.

[2021-10-14 01:27] #576 closed

[2021-10-14 03:10] ssagerian commented on #636
In order to close this out, I think it still needs a mention in the wiki install tips to edit the config/config.sh file to add the camera type, as mentioned in the previous comment.

[2021-10-14 03:52] EricClaeys commented on #636
@ssagerian Steve, thanks for the suggestion.  Check out the first section in "02 Installation Tips" of the Wiki.  If it's sufficient, please close this issue.

[2021-10-14 04:11] #628 closed

[2021-10-14 05:32] EricClaeys commented on #460
Closing this Issue - the ASI_ERROR_TIMEOUT problem has been resolved as far as I can tell.

[2021-10-14 05:35] EricClaeys opened #650 "exposures past 1 sec fail with ASI_ERROR_TIMEOUT"
@maphilli14 is having problems with exposures greater than 1 second producing ASI_ERROR_TIMEOUTs.  This also happens with oacapture, which points to a hardware problem, not a problem with AllSky.

See also the end of [Issue 417](https://github.com/thomasjacquin/allsky/issues/417).

[2021-10-14 05:36] EricClaeys commented on #417
@maphilli14 I'm closing this issue since it's been resolved, and opened [https://github.com/thomasjacquin/allsky/issues/650](url) for the problem you're having.
Eric

[2021-10-14 05:36] #417 closed

[2021-10-14 05:42] EricClaeys commented on #644
@shiner501, I'm closing this Issue since it's an enhancement, not a bug, and I added it to the "Projects" list at the top of the page where we are tracking our "to do" items.

[2021-10-14 05:42] #644 closed

[2021-10-14 05:47] EricClaeys commented on #525
@WirthmU, did the updated `upload.sh` fix the issue?

[2021-10-14 11:49] robmorin opened #652 "How to find out what time night capture starts?"
Hey all...

Still trying to figure out all the subtleties of this cool program, one of them being start and stop times of night capture.
I am assuming  allsky knows where I am by the  Latitude & Longitude i entered under camera settings-->Other settings.

But how does it decide when it should start and or stop capturing? Based on sunset & sunrise times of my area?
If so what if I have no internet

[2021-10-14 12:30] robmorin opened #653 "scripts/timelapse.sh: line 102: : No such file or directory"
Seems $ALLSKY_TMP might not be created or in wrong place or empty variable?

I ran the below manually as I did not have TIMELAPSE= set to true
I do have a tmp dir within /home/pi/allsky dir

Output of  /home/pi/allsky/scripts/timelapse.sh 20211013

pi@allsky:~/allsky$ scripts/timelapse.sh 20211013
timelapse.sh: Not regenerating sequence because KEEP_SEQUENCE was given and 604 links are present
tim

[2021-10-14 12:53] #653 closed, assigned to EricClaeys

[2021-10-14 15:07] Tartouffe opened #655 "Error: one bright and one good image in alternation"
Fresh install today of v0.8.1 .. now got one bright and one good image in alternation for the first few images after reboot.
Then its fine for some images, but when a darker or little brighter one follows, it restarts again with these extreme exposures. Seems like the auto exposure value calculated from every image (physically stored somewhere?) is going nuts.

Hint: i use a -very- large resolutio

[2021-10-14 17:32] maserowik opened #656 "CPU Temperature in Admin Panel"
So I was trying to add some extra sensor to the AllSky I am using.  I searched google for a temp script and found this one
[code]

so I saved it and added the +x to make it executable.

so when the file from a ssh'd session I get the temp returned.
and here are the results
[code]

So when I got the Admin panel and select system I noticed the cpu temp is at 39.7 but in the above sample the temp for

[2021-10-14 20:53] bbillp commented on #652
Those $20 USB GPS found on ebay are not the best, sometimes they lock on the satellites in seconds and other times it takes an hour to lock onto the satellites.   If you know how to connect it use a Garmin GPS puck or an old hand held GPS, older models are often serial data while the newer models are USB .  The serial data connection is not that hard to setup and OH8STN has very good GPS instructi

[2021-10-14 21:18] Clutch57 opened #657 "No daily image directory today."
I took my camera outside this afternoon for its first attempt at the sky.  It has been off since the 10th of this month.
Live view is working but when I go to images, there isn't a 20211014 directory for today.  I tried making one but it didn't populate with current images so I deleted it and restarted everything.

What should I do?

I'll be out for a couple hours but will check when I get back.

[2021-10-15 03:12] EricClaeys commented on #652
@aleveilleVE2DTL Are you looking for sunrise/sunset or when the user has defined daytime and nighttime, which is what the Angle variable uses?  An Angle of 0 gives sunrise/sunset but most people use an angle of -6 or more to define when nighttime begins.

[2021-10-15 03:50] EricClaeys commented on #570
@maphilli14 The logs would tell you what is happening.  Look for "endOfNight.sh" after it starts daytime capture.  There should be entries for starting keogram, startrails, and timelapse if you have all three set up to be produced.  You shouldn't need to manually run endOfNight.sh.

[2021-10-15 08:41] rabit9 commented on #645
there is a Problem with the OpenSSL Cerzificat since 30.09.2021 an the FTP server from my webpage.

[2021-10-15 11:39] #656 closed, assigned to EricClaeys

[2021-10-15 12:42] ssagerian commented on #636
comment in 02 is clear, thanks

[2021-10-15 15:19] kenkolen-neal opened #658 "error on install of allsky"
This is a new raspberry pi device. I updated operating system update and an update of sudo.
I did a clean install of allsky and I can see install.sh in the directory.
I run sudo ./install.sh and I receive an error message "This script must NOT be run as root"

[2021-10-15 15:22] maserowik commented on #658
@kenkolen-neal
That is correct the developers change the install to **_not_** run the main AllSky as root.
if you install the Admin gui you **_still need to install it as root_**

[2021-10-15 15:43] kenkolen-neal commented on #658
Sorry I am new to this, can you walk me throgh what I need to do?I am fillowing Patriot Astro youtube video

Neal Kleinman
ReMax Advance Realty
Platinum Club, Hall of Fame
Southern Cross Astronomical Society
Board Member, established 1922

  On Fri, Oct 15, 2021 at 11:22 AM, ***@***.***> wrote:

@kenkolen-neal
That is correct the developers change the install to not run the main AllSky as root.
if

[2021-10-15 19:46] calberts opened #659 "ftp /scp to more than one host"
Is there a possibility to FTP to more than one host from the alls sky software
I was wondering if this is possible?

Chris

[2021-10-15 20:48] kenkolen-neal commented on #658
I installed the software but I cannot open it using a browser.

Neal Kleinman
ReMax Advance Realty
Platinum Club, Hall of Fame
Southern Cross Astronomical Society
Board Member, established 1922

  On Fri, Oct 15, 2021 at 4:04 PM, ***@***.***> wrote:

@kenkolen-neal, @maserowik is correct that installing allsky no longer requires sudo. Step 4 on the main page says to execute ./install.sh. I will ta

[2021-10-15 20:56] robmorin commented on #652
Thanks for the the info! My angle is set at the default, - 9 I shall change it to - 6

Just got my fisheye in today, so set is coming along.
Have a great weekend!

Rob Morin
Montreal, Canada
HTTP://1RADIO.CA

________________________________
From: EricClaeys ***@***.***>
Sent: Thursday, October 14, 2021, 08:59
To: thomasjacquin/allsky
Cc: Rob Morin; Mention
Subject: Re: [thomasjacquin/allsky] How

[2021-10-15 20:58] robmorin commented on #652
@Chris
Oooo, that's a cool idea!

Rob Morin
Montreal, Canada
HTTP://1RADIO.CA

________________________________
From: Chris Kuethe ***@***.***>
Sent: Thursday, October 14, 2021, 11:19
To: thomasjacquin/allsky
Cc: Rob Morin; Mention
Subject: Re: [thomasjacquin/allsky] How to find out what time night capture starts? (#652)

One other thing - you might want to add an I2C clock and/or a GPS so that yo

[2021-10-15 21:44] Clutch57 opened #660 "V 0.8 exposure"
Last night I used my ASI174MM camera and got some great imagery.  Today I wanted to try out my ASI178MC to get some color.  I ran into an issue where daytime exposure was bouncing around.

.34 ms
209.38 ms
.16 ms
30 s
.34 ms
1.05 s
.50 ms
 482,03 ms

I went into the advanced settings and found V 0.8 exposure and turned it on.  It is working great during day time.
I just wanted to give some feed ba

[2021-10-15 23:37] robmorin commented on #652
@EricClaeys
Ya sure let me know when you get a wiki going with that explanation.

A quick question is there a forum somewhere where we can discuss non software related topics rather than fill up the "issues" with non software related  talk?

Thanks, have a great evening.

[2021-10-16 00:38] maserowik opened #661 "reset to default"
on the web gui i wanted to reset the camera to the default settings.  So i select reset to default and got the warning message. I select yes and the setting on the camera did not return to the default.

thanks
mike

[2021-10-16 01:05] EricClaeys commented on #652
@maserowik Mike, for not being a programmer you did one heck of a nice job with your script!

@robmorin Rob, The "Allsky Camera" Facebook page at [https://www.facebook.com/groups/172438633343696](url) is an ok place to discuss non-issues.  It's not specific to Thomas' software so has people using Windows software as well.  I wish GitHub had a discussions forum because I prefer the "Issues" to be t

[2021-10-16 03:35] EricClaeys commented on #660
@Clutch57 Thanks for the feedback.  So you're saying that with `Version 0.8 Exposure` set to Yes the exposures don't jump around but with it set to No they do jump around?  That's very interesting.

If that's correct, I'd like to ask a favor.
Basically, you'll run both ways with debugging turned on, and send the log files to me:

During the day when it's clear or fully cloudy (so the brightness wo

[2021-10-16 05:14] EricClaeys commented on #290
If this is still an issue with the latest allsky, please create a new Issue and attach the allsky/tmp/lftp_cmds.txt and allsky/tmp/lftp_log.txt files (be sure to remove the username and password).

[2021-10-16 05:14] #290 closed

[2021-10-16 05:15] #249 closed

[2021-10-16 05:15] #229 closed

[2021-10-16 05:16] EricClaeys commented on #109
The Wiki also has some information on dark frames.

[2021-10-16 05:16] #109 closed

[2021-10-16 05:21] #363 closed

[2021-10-16 05:22] EricClaeys commented on #359
Closing issue.  preview doesn't work over VNC viewer.  It DOES work when logged in directly to the Pi.

[2021-10-16 05:22] #359 closed

[2021-10-16 05:24] EricClaeys commented on #357
Are both images taken at the same time, give or take a few seconds?  And are they taken during "daytime" or "nighttime"?

[2021-10-16 05:25] #356 closed

[2021-10-16 05:26] EricClaeys commented on #348
If this is still an issue with the newest version 0.8.1 release of allsky and the newest release of allsky-portal, please create a new Issue.  Also, take a look at /var/log/lighttpd/error.log for clues on what's wrong.

[2021-10-16 05:26] #348 closed

[2021-10-16 05:29] #346 closed

[2021-10-16 05:31] #340 closed

[2021-10-16 05:32] #339 closed

[2021-10-16 05:35] #337 closed

[2021-10-16 05:36] #341 closed

[2021-10-16 05:38] EricClaeys commented on #335
If the errors in "allsky error.txt" are still present in version 0.8.1, please create a new Issue and attach the log file.  It looks like your permissions are bad.  The new installation script should resolve that.

[2021-10-16 05:38] #335 closed

[2021-10-16 05:42] #322 closed

[2021-10-16 05:44] #319 closed

[2021-10-16 06:04] EricClaeys commented on #182
@robertpascale, @svego,
The current dark frame mechanism is temperature based, not exposure based. I'd guess the assumption is that most night-time shots have similar exposure times (except at the start and end of night, but those exposure times might be too short to warrant using dark frames), but different temperatures.

Can this issue be closed? If you still plan to propose implementing time-ba

[2021-10-16 06:09] EricClaeys commented on #104
The `allsky/variables.sh` file sets a variable called `ALLSKY_TMP` that by default is `allsky/tmp` but could be changed to point to a directory on a memory filesystem.  A future version of allsky will write the "image.jpg" file to $ALLSKY_TMP, and do all processing there, only copying the final version to $ALLSKY_IMAGES/date.  If $ALLSKY_TMP is a memory filesystem this will SIGNIFICANTLY reduce th

[2021-10-16 06:12] EricClaeys commented on #98
@ckuethe All the WebUI's settings are either in allsky/config or /etc/raspap.  Once we implement a single config file they'll all be in that file.
`allsky-website` has a couple configuration files in `/var/www/html/allsky` if it's on the Pi, or some other directory if it's on a different computer.  We could put those settings in the big, single file, and have `allsky-website` check if it's on a Pi

[2021-10-16 06:13] #408 closed

[2021-10-16 06:16] EricClaeys commented on #390
@koal01, any update?  The newest version 0.8.1 has a separate script (upload.sh) that does all the uploading of files.  It can be called directly to test uploads.  See the Wiki for more info.

[2021-10-16 06:17] #385 closed

[2021-10-16 06:21] EricClaeys commented on #375
@Dean027,
Are you still having this issue? Have you tried it with the newest allsky and `allsky-portal` packages?  Upgrade allsky first, then execute "cd allsky;  sudo gui/install.sh`

[2021-10-16 06:28] EricClaeys commented on #641
@morzineIT, are you running the latest version 0.8.1?  It produces an error message if the software tries to save an image while it's already saving one, so it doesn't overwrite anything.  And a copy of the image is processed (resized, cropped, etc.) which decreases the chance of an image getting overwritten.

[2021-10-16 06:30] #374 closed

[2021-10-16 06:32] EricClaeys commented on #367
@loloderu,
Would you please attach a sample keogram image so I can see what you are referring to?
Thanks - Eric

[2021-10-16 06:37] EricClaeys commented on #388
@Tartouffe,
any update on this?

[2021-10-16 07:27] calberts commented on #659
@ckuethe  Thanks, the aim is that I like to copy the  image.jpg to my OCS during the night to see that sky status and not endo of night anyway good to know how to use that script.

@EricClaeys  Thanks for the replay, happy that is on the backlog. I know also this kludgy solution by using the crontab and python script but I was just wondering. This threat can be closed

[2021-10-16 07:27] #659 closed

[2021-10-16 11:47] KH6JAG opened #665 "Image hover date and time info"
Where is the date and time information configuration data?
Examples of what I am seeing is shown below.
Live view shows: 20211016 07:31:16
Images folder: 20211015
Image hover info shows:  Tue Nov 16 2021 @ 06:55:26
Allsky.log shows: “image.jpg that started at 2021-10-16 07:31:06”
Using RPi Zero W – RPI date and time is correct
ZWO ASI120MC-S
Allsky SW v0.8.1

[2021-10-16 12:06] SBRCoach opened #666 "USB stick capacity allocated to the AllSky"
Hello

I have my AllSky configured on a 128 GB USB stick with a Raspberry 4

But in the system info of AllSky Administration Panel I have only 28.94 GB available for Thomas' system

Don't really understand ... How to increase the disk space allocated to my AllSky system

If anyone has an idea

Thanks

![2021-10-16_13-58](https://user-images.githubusercontent.com/80650074/137586618-4fa4fa67-fcf3-45

[2021-10-16 12:20] morzineIT commented on #640
Thanks

On Sat, 16 Oct 2021 at 08:26, EricClaeys ***@***.***> wrote:

[2021-10-16 12:24] KH6JAG commented on #665
The issue is that the Image hover shows the wrong day and month  "Tue Nov 16 2021"

[2021-10-16 13:09] Clutch57 commented on #660
Attached are two files.  Not 30 minutes long each but long enough I think you can see what is happening.  I'll do longer later today if you need them.

[allsky-0.7.log](https://github.com/thomasjacquin/allsky/files/7357611/allsky-0.7.log)
.
[allsky.08.log](https://github.com/thomasjacquin/allsky/files/7357612/allsky.08.log)

[2021-10-16 13:27] linuxkidd commented on #645
Hi @rabit9 ... In case this is related to the LetsEncrypt root certificate change, on the Pi, you may be able to resolve the certificate error with the following commands:

[code]

This causes the expired root to be ignored so the correct, new root certificate can be used for verification.

[2021-10-16 13:31] linuxkidd commented on #666
Hi @SBRCoach ... There are two likely culprits here.

1. The filesystem hasn't been expanded to the new, larger partition size.
2. The space is there, but consumed by data.

To confirm which is the issue, please provide the output from:

[code]

[2021-10-16 15:40] EricClaeys commented on #340
@fschuindt yikes!  I didn't know that closing an Issue would move it to Done in the related Project.  I will fix that since we haven't started working on it.  Thanks for asking.

[2021-10-16 15:50] SBRCoach commented on #666
Ok great

no risk of data loss ?

[2021-10-16 16:12] g8bhc opened #667 "mutex not declared"
Following a sudo apt update, sudo apt upgrade and reboot of my Pi3 I did a clean install (not sudo) and all went well until this:

2021-10-16 15:49:32 Building keogram program...
keogram.cpp:51:6: error: 'mutex' in namespace 'std' does not name a type
 std::mutex stdio_mutex;
      ^~~~~
keogram.cpp:51:1: note: 'std::mutex' is defined in header '<mutex>'; did you forget to '#include <mutex>'?
keog

[2021-10-16 16:32] macsmith opened #668 "how to change image directory"
I'd prefer not to be regularily writing images to the system sd card (in case it breaks) and would like to put the images on an external usb drive.

How do I change the image directory from ~/allsky/images to something like /media/pi/allSky/images ?

Thanks

[2021-10-16 17:28] linuxkidd commented on #666
Technically, there's always some risk.  However...
* `fsck` is a filesystem check, to make sure the filesystem is in good shape before you expand it.
* `resize2fs` only moves the end pointer -- takes only a few seconds and doesn't operate on the actual data itself.

So, in this instance... the risk is about as low as it gets.  In my 20+ years of linux experience, I've never experienced data loss f

[2021-10-16 18:51] ckuethe commented on #667
Out of curiousity, what version of GCC are you using?

[2021-10-16 18:56] ckuethe commented on #668
That would require changes to the source. Instead, consider mounting your image storage device on `$ALLSKY_HOME/images`, which is the approach I'm using:

[code]

Additionally, if you're looking to avoid other writes to the sd card, you might also want to have a look at `$ALLSKY_HOME/scripts/allsky_mfs.sh` which is what you see there. This causes all of the transient files produced by image captur

[2021-10-16 18:58] #668 closed, assigned to nobody

[2021-10-16 19:01] g8bhc commented on #667
Hi Chris,
Does this help? Found in bin/X11/X11.

Martin RH

[2021-10-16 19:03] ckuethe commented on #667
What is the output of `gcc --version` and `cat /etc/os-release`?

[2021-10-16 19:08] ckuethe commented on #640
Doesn't seem to be attached. You could upload it to gist.github.com and post a link to it. I'd be interested in seeing your approach and seeing how it compares to doing similar filtering in imagemagick

[2021-10-16 19:30] ckuethe commented on #667
Ah. Older compiler. That explains why you got the error and I didn't.

If you'd like to quickly fix it yourself before the patch is merged, edit `src/keogram.cpp` and add `#include <mutex>` on a new line after `#include <iostream>`

[2021-10-16 19:35] g8bhc commented on #667
Thanks, Chris,
Job for tomorrow now.
 Thank you for such a quick response and help.
Cheers

Martin RH

[2021-10-16 19:42] Jonk2 commented on #570
I've installed on the test PI whichever version was latest as of 15-10-21 (last night for me).

Most things are working as far as I can tell, including FTP to my NAS although setting to SFTP does not work.

I cannot test the exposure ramping on the PI indoors as the light doesn't change like it does outside.

There is an issue that I had this morning, and that was the keogram failed - here's the l

[2021-10-16 19:59] #652 closed

[2021-10-16 20:01] robmorin opened #671 "Not sure who to point this to, but I found this article on enabling discussions in github , can we enable it?"
Check this out:

https://docs.github.com/en/discussions/quickstart

[2021-10-16 20:02] morzineIT commented on #640
here it is with samples:
[averageHotPixels.py.txt](https://github.com/thomasjacquin/allsky/files/7358192/averageHotPixels.py.txt)
![blackPixels](https://user-images.githubusercontent.com/8288866/137600775-80d8ab39-8519-49f1-aab0-3961a85a9fa2.jpg)
![dark17](https://user-images.githubusercontent.com/8288866/137600776-61d3f6a8-5a2a-45de-aa9a-8a56615cda72.jpg)
![hotAveraged](https://user-images.github

[2021-10-16 20:20] ckuethe commented on #640
Cool, thanks. I'll see if I can turn that into the appropriate imagemagick commands since we're already using `convert` in the capture pipeline, and I would *guess* there is a way to do what your script does. I found a similar transform ...

https://legacy.imagemagick.org/discourse-server/viewtopic.php?t=19468

[2021-10-16 21:37] #667 closed

[2021-10-16 22:03] loloderu commented on #367
Hi, sorry for not answering sooner.
It is all working now but I can't remember exactly what was causing the problem: I remember I ajusted the sie of the vertical line et label size, but not sure it if it was the reason why it was not working.

[2021-10-16 22:35] ckuethe commented on #570
In general, when reporting issues can you please tell us which git revision you're working with (`git log --oneline | head -1`)? We're in different timezones so it's not helpful to say "whichever version was latest as of 15-10-21 (last night for me)". Git log tells us unambiguously exactly which commits you've got.

Try run it by hand... something like this:

[code]

That will run the freshly comp

[2021-10-16 23:20] ckuethe commented on #570
You'll definitely want to grab the latest commits from git. I added some additional tracing to endofnight so that the exact failed command is logged rather than `Aborted "${ALLSKY_HOME}/keogram" ${SIZE_FILTER} -d "${DATE_DIR}/" -e ${EXTENSION} -o "${UPLOAD_FILE}" ${KEOGRAM_EXTRA_PARAMETERS}` which doesn't tell me if any parameters might be causing problems

[2021-10-17 00:09] maserowik commented on #661
sorry about that  i got confused with three programs  allsky/allsky-website and allsky-portal.  will make note next time and hopefully pick the correct repository.

Mike

[2021-10-17 00:09] #661 closed

[2021-10-17 01:59] Clutch57 opened #674 "swscaler @ 0x5974c0] deprecated pixel format used,"
I can't create a timelapse tonight.  ASI174MC camera bin1.  Last night it worked but I think I was doing bin2.

[code]

From tmp/timelapseTMP.txt
[code]

[2021-10-17 02:07] ckuethe commented on #674
https://github.com/thomasjacquin/allsky/wiki/10-Troubleshooting:-timelapse

[2021-10-17 02:07] #674 closed

[2021-10-17 02:21] Clutch57 commented on #674
I went back to bin2 and things are working again.  I have a ASI224MC on order for permanent use.  Thanks for the response.

[2021-10-17 02:39] ckuethe commented on #674
I read somewhere on the internet (which is always right and never makes mistakes ... 🤣 ) that changing video codecs to x265 might help the memory usage. Try some experiments and let us know how it goes.

[2021-10-17 04:22] EricClaeys commented on #665
@KH6JAG There's a bug with the month showing in the hover being one month in advance, e.g., it shows November but the actual date is October.  I just submitted a fix for this so it should be available in a day or so.
In the current version the times don't match exactly - the time in the overlay is when the image started but the time of the file is when the image was written to disk.  In a future r

[2021-10-17 04:26] EricClaeys commented on #671
I just asked Thomas to enable Discussions.  I'd like to use it for questions and enhancement requests, so we can let the Issues list contain Issues, i.e., bugs.  Right now it's hard to know how many problems we have.

[2021-10-17 04:35] EricClaeys opened #676 "sunwait compiler warnings"
Just did an install of "allsky" and got this when Building sunwait:
[code]

I suggest we fix this before 0.8.5 to avoid confusing users.

[2021-10-17 04:55] ckuethe commented on #676
Not our bug. We no longer keep a copy of sunwait in our repo since @linuxkidd fixed the submodule.

[2021-10-17 04:55] #676 closed

[2021-10-17 04:56] EricClaeys commented on #661
@maserowik No problem.  The distinction is pretty blurry, especially since you install allsky-portal and allsky-website from "allsky".

[2021-10-17 04:57] EricClaeys commented on #671
@robmorin Thomas just enabled Discussion so I'm closing this Issue.  Thanks for the suggestion.  I hadn't realized GitHub had that feature, and wished it did.

[2021-10-17 04:57] #671 closed

[2021-10-17 05:08] EricClaeys commented on #666
@SBRCoach If this works for you, please close the Issue.  I added the steps to fix this to the Wike.

[2021-10-17 05:41] g8bhc commented on #667
Thanks. Did an edit last night and it worked. Just gave some errors about a variable not being used.

Martin RH

[2021-10-17 05:48] ckuethe commented on #667
Yep, that's from sunwait... not our source code. :)

[2021-10-17 07:11] EricClaeys commented on #676
@ckuethe
@linuxkidd
I don't agree that it's not our bug.  sunwait.cpp and sunrise.cpp were in the distribution I got a couple hours ago so from a user's point of view, the code is "ours" and so are the confusing warnings.  What is a user supposed to do with those warnings?
I can edit those files and fix the warnings.

[2021-10-17 07:13] EricClaeys commented on #676
I guess I can't edit the files, so can the Makefile do a `> /dev/null 2>&1` ?

[2021-10-17 07:14] ckuethe commented on #676
They're a submodule - they come from an entirely different repo owned by someone else.

[2021-10-17 07:44] SBRCoach commented on #666
@ EricClaeys
I just opened this post
Kindly, linuxkidd try to help me
Please let me at least test
Sincerely

[2021-10-17 09:13] rabit9 commented on #645
I installed the new certificate on the raspberry PI according to these instructions and, according to my professional who checked the CRT certificate, the new certificate is installed on the raspi. https://askubuntu.com/questions/73287/how-do-i-install-a-root-certificate

[2021-10-17 10:02] pimmoon opened #682 "installation issue. CAMERA type not defined. Please update 'home/pi/allsky/config.config.sh'"
Hi,

I have done a fresh install many time over the past couple of days and always got this following error when trying to access web interface.

CAMERA type not defined. Please update '/home/pi/allsky/config.config.sh'

[2021-10-17 10:18] Tartouffe commented on #655
@Tartouffe the limit only applies to auto exposure, not manual exposure.
Aaah. So when i turn autoexposure off i can use it up to 75s?
...wondering myself. Made screenshots of the settings screen before i made the update and there were autoexposure ON - and the 75s images worked. But when its only this option ... easy to switch off to get my 75s night images again. :)

Videos-Dir
Hm, then there mu

[2021-10-17 12:25] linuxkidd commented on #666
Correct, if an fsck was needed, it would have said so.

Glad we could help!  I'll go ahead and close this issue.  Clear skies!

[2021-10-17 12:26] #666 closed

[2021-10-17 16:23] laheller commented on #395
@EricClaeys

Update: Tried it using my RPI connected **directly** to display via HDMI cable.
The result is the same, command `./allsky.sh preview` gives an error.
From the error message I don't think that the problem is with the remote desktop because it clearly says that it's an OpenCV4 issue.
![kép](https://user-images.githubusercontent.com/5788998/137636005-66b1e5c8-9d38-48b2-a282-7a5ff9328f99.

[2021-10-17 16:28] macsmith commented on #668
many thanks

[2021-10-17 21:14] EricClaeys commented on #641
@morzineIT,
The error message about saving an image was put in a couple weeks ago, so you already have it.
Do you consistently get the split images?
What's your delay between images?  It's possible, but not likely, that a new image is created while still working on the prior one, and that's clobbering the file.  That's less likely in version 0.8.1 though.  Given what @maserowik said, it's also lik

[2021-10-17 21:18] EricClaeys commented on #682
@pimmoon we'll get this fixed.  We've been looking at ways to do it.

@linuxkidd We can fix this by prompting for CAMERA during the allsky/install.sh, before the reboot prompt (probably should do it at the beginning), then editing config.sh as soon as we create it.  CAMERA definitely needs to be set prior to the install.sh finishing cause it turns out people like to get into the WebUI right away.

[2021-10-17 21:29] maphilli14 commented on #650
It does seem to work on windows - https://youtu.be/IN2qUpWdckc

Also recorded in FC briefly:

![image](https://user-images.githubusercontent.com/6034105/137645610-212e1931-609c-45ff-ba6f-fa07cc80a698.png)

In the past I had used the SDK but was never proficient at installing them.  Please advise!

[2021-10-18 02:45] EricClaeys commented on #658
@kenkolen-neal,
How did you install the software initially?  You had to have been on the Pi somehow, either in via a monitor and keyboard, or via a remote interface like ssh or VNC client.
Use that same message to edit the `/home/pi/allsky/config/config.sh file, setting the CAMERA variable at the top to either ZWO or RPiHQ.

When prompted for your password using ssh, it won't display the character

[2021-10-18 06:21] morzineIT commented on #641
I've re-install all the latest this weekend and moved to an SSD, I'll do
some further testing..

On Sun, 17 Oct 2021 at 23:14, EricClaeys ***@***.***> wrote:

[2021-10-18 07:51] EricClaeys commented on #461
@DamoclesSword,
any update?  If you have things working with the newest code, please close this issue.

[2021-10-18 08:14] laheller commented on #359
@EricClaeys
No, it does NOT. At least on my RPI it throws the same error as above even when logged in directly.

[2021-10-18 18:16] #646 closed

[2021-10-19 01:21] kenkolen-neal commented on #658
I presume you guys are amateur astronomers?

Neal

From: EricClaeys ***@***.***>
Sent: Monday, October 18, 2021 9:03 PM
To: thomasjacquin/allsky ***@***.***>
Cc: kenkolen-neal ***@***.***>; Mention ***@***.***>
Subject: Re: [thomasjacquin/allsky] error on install of allsky (#658)

@kenkolen-neal <https://github.com/kenkolen-neal>
I'm in Naperville IL (30 miles west of Chicago). Michael and his wif

[2021-10-19 01:28] EricClaeys commented on #658
Michael and I are.  Not sure about Chris but I'm 99% sure he's not a profession astronomer.
I have a remote observatory in NM next to New Mexico Skies that Mike and Linda (?) Rice own.
Michal has an observatory in southwest NM that he's moving about 15 miles down the road.

[2021-10-19 04:06] EricClaeys commented on #665
@KH6JAG, the fix has been posted in allsky-portal.  Its the `includes/images.php` file.  The month is now correct.

[2021-10-19 04:06] #665 closed

[2021-10-19 12:39] maserowik opened #691 "Time on Raspberry pi vs log file"
Greetings,
I had to redo my sd card dur to user error.  so upon redo I make sure my time was set correctly.
 as you can see in the screen scrape below it is set correctly
![image](https://user-images.githubusercontent.com/25713782/137910343-8926b329-2b88-43a7-9622-ec23bc7e9ca9.png)

on the web admin portal the time is set correctly.
![image](https://user-images.githubusercontent.com/25713782/13791

[2021-10-19 20:38] maphilli14 commented on #570
My errors are as follows was there any expectation that the latest git contains more debug to the root of the errors?

[code]

[2021-10-19 20:40] maphilli14 commented on #650
Also worth noting the oacapture messages as seen

https://user-images.githubusercontent.com/6034105/136716511-81053340-1d2a-4f9b-a076-ea8ebe759c8a.png

Transcribed to
`
ASIGetExpStatus returned status 3`

[2021-10-19 23:42] maserowik commented on #691
I reboot my the pi and now the date is correct.

[2021-10-19 23:42] #691 closed

[2021-10-20 01:43] EricClaeys commented on #650
@maphilli14, ASIGetExpStatus doesn't return error 3 (ASI_ERROR_INVALID_CONTROL_TYPE, which means the camera was asked to do something it can't, like gamma, which most cameras don't support), so that might be a bug in oacapture.  The message above about "AutoExpMaxGain" are error 3.

Anyway, it works in Windows, and works in FireCapture (on the Pi, or Windows?), but does not work in oacapture and A

[2021-10-20 05:01] EricClaeys commented on #570
@Jonk2, Jon, grab the latest scripts/endOfNight.sh.  It will expand the variables so you can see EXACTLY what arguments were passed to the keogram and startrails programs.  We should then be able to reproduce the problem and fix it.

Also, do you have the latest src/startrails.cpp and src/keogram.cpp?  If not, please grab them and put them in the allsky/src directory.  Then run:
[code]

My guess i

[2021-10-20 10:12] int48 opened #698 "ALLSKY_HOME not found when new install on raspi"
when the install starts with install.sh a error message appears that allsky_home path is not set. I help myself by adding the path on variables.sh on a new Raspi os installation. I found out a another way is to store the path for allsky_home in file called bashrc but this have no effect on intall.sh. What is the correct solution or what is to do, i a am new on linux shell scripting.

[2021-10-20 12:52] shiner501 commented on #698
I have same issue after doing a reinstall:
Pull it down from GitHub, cd to allsky then ./install.sh and I get:

**install.sh: ERROR: ALLSKY_HOME not set!  Exiting...**

[2021-10-20 20:17] EricClaeys commented on #497
@sebmueller,
Where did you get the raspistill.c program?  It doesn't have all the options as the one that comes on the Pi.  And your startnightview.sh has several options that aren't in your raspistill.c program.

On line 1659, "sig" is never set.  It's commented out on line 1655.  Is that a bug?
What sends SIGUSR[12] to raspistill?  Something other than the Allsky software?  If so, what regulates

[2021-10-20 21:35] ckuethe commented on #570
That's perfectly normal git output which summarizes lines/bytes added and removed.

Note that I said `src/keogram ...` - that'll run the program out of the source directory without installing. We're pretty confident that the state of the tools is currently better than whatever you've currently got installed, so you may as well `make install`.

Also, when grepping for endofnight or timelapse in the

[2021-10-21 06:06] sebmueller commented on #497
@EricClaeys
Some options of raspistill are defined in RaspiCommonSettings and other files

[2021-10-21 06:14] EricClaeys commented on #698
We posted a new allsky/install.sh that fixes this issue.  It sets the ALLSKY_HOME variable at the top of the script.
Let us know if you still have an issue with this.

[2021-10-21 06:14] #698 closed

[2021-10-21 12:00] NeilBuc007 opened #706 "Cannot run the WebGUI"
Trying the latest 0.8v out on my other RPi4b. I did an update of Raspabian first with apt. Then followed the wiki update instructions . However from the RPi and Chrome I cannot access the WebGUI. I t keeps telling me to sudo /gui/install.sh --update to access it  and  that doesn't work. No errors in the logfile either. Any ideas?

[2021-10-21 13:11] jryd2000 commented on #706
It looks like when the command "sed -i "s;XX_ALLSKY_HOME_XX;${ALLSKY_HOME};" functions.php save_file.php" is run from the install script and updates functions.php it is not only updating the define direction on line 13 but also the condition statement on line 19.

If you want to manually fix, edit the includes/functions.php file and replace line 19 back to the original value:

if (ALLSKY_HOME == "

[2021-10-21 13:37] lOrand0m opened #707 "RPiHQ camera daylight exposure"
When using a Raspberry Pi HQ camera, is there any way to change the daylight exposure settings, or might there be a future release that will allow this?

[2021-10-21 13:45] maserowik opened #708 "New Git Pull 10/21/2021 @ 9 AM EST"
I did a new git pull and received the following error on opening the Admin Gui

![image](https://user-images.githubusercontent.com/25713782/138289630-d7fa379d-64d4-4856-be11-076cb52cdfa6.png)

there is no file called _install_ only _install.sh_ so I assumed it should be sudo gui/install.sh --install
issued that command in a ssh's session and after a refresh in the web browser it still  displays th

[2021-10-21 14:01] #708 closed, assigned to nobody

[2021-10-21 17:57] techd51 commented on #637
I know the issues I was having have been resolved.

[2021-10-21 18:05] #706 closed, assigned to nobody

[2021-10-21 18:47] Wischi1 opened #709 "Cannot run the WebGUI"
Hi all, as I have same problem as NeilBuc007 since  today, but without much knowledge, can someone please help/ assist on this matter?
I assume I need to use „nano“ to edit the file? If so, where is this file?
The original topic has been closed (saw this a bit to late)
Thx in advance
Sven

[2021-10-21 18:47] NeilBuc007 commented on #706
Hi. You will find functions.php  in the directory /var/www/html/includes/

Just right click the file and select Text Editor.  Or use nano from command shell.

Cheers

Neil

[2021-10-21 19:00] Wischi1 commented on #706
Line 19 shows me:
if (ALLSKY_HOME == „/home/pi/allsky“) {

[2021-10-21 19:09] Wischi1 commented on #709
Thx a lot for your effort!
Finally I solved it with assistance of this group!
Sven

[2021-10-21 20:14] #709 closed, assigned to nobody

[2021-10-21 22:42] EricClaeys commented on #650
@maphilli14,
This camera USED to work on **this** Pi, right?  Did anything change with the Pi?  Do you have access to a different one you can try?

If the camera did used to work on this same Pi, the only thing I can suggest is to try it with this version of the capture program, which is the version 0.7 one that knows about the newer options.  If THIS also doesn't work, it could be a problem with

[2021-10-22 02:45] EricClaeys commented on #641
@morzineIT, any update?

[2021-10-22 02:48] #614 closed

[2021-10-22 03:02] linuxkidd commented on #645
Closing this issue as it seems it was related to a local root cert that was needed for proper SSL verification.  If there are further issues, please feel free to re-open this ticket.

[2021-10-22 03:02] #645 closed

[2021-10-22 06:00] mil-cha opened #718 "Unable to open UI"
after installing UI (sudo gui/install.sh - run without errors)I am not able to open the Webpage (allsky.local).  I onlyget this message:
_Please  run the folowing from the 'allsky' directory before using the WebUI: sudo gui/install --update._
Of course i run the command in the Terminal and got "Modifying locations in web files" - no errors.
After returning back to Browser - allsky.local - I get th

[2021-10-22 15:14] maserowik opened #719 "Startrails Question"
In my config.sh the following is set

[code]

when I try to produce a startrail from the command prompt this is the result.

endOfNight.sh: ===== Generating Startrails
thread 1/4 processing files 0-2 (3/13)
thread 3/4 processing files 6-8 (3/13)
thread 4/4 processing files 9-12 (4/13)
thread 2/4 processing files 3-5 (3/13)
[7/13] image-20211022090110.jpg 1.000
[10/13] image-20211022090203.jpg 1.00

[2021-10-22 17:19] arakeis opened #720 "First exposure fine, second and everafter : dark (like super dark)"
Hi, when using auto exposure on daylight
the first image is always correctly exposed but the later are way too dark

how can I help debugging this issue ?

[2021-10-22 18:00] andjones132 opened #721 "Unable to connect to FTP server after latest update"
I just downloaded the latest version of allsky and installed it on a fresh intall of RasbianOS. I also installed the Web Gui. I updated the ftp-settings.sh file usin the Editor in the web gui and input the exact same setting that I used with a previous install of allsky, but now I cannot get the files to write to my Synology NAS.

If I I look at the upload_log.txt in the allsky/tmp directory, I am

[2021-10-22 19:02] EricClaeys opened #722 "startrails.cpp: usage wrong"
The  `-S` option isn't listed in the usage statement, and the `-s` option doesn't show `<width>x<height>`.
It looks like you can have EITHER -b and -o OR -s but not both (there's a "|" between them).  I assume it should be:
`[-b <brightness>] [-o <output>] [-S] [-s <width>x<height>]` ?

[2021-10-23 00:54] linuxkidd commented on #395
This is likely due to PR #507 ...

Sounds like there are some changes needed to the `Display()` function..

[2021-10-23 03:43] #722 closed, assigned to ckuethe

[2021-10-23 05:09] #707 closed, assigned to EricClaeys

[2021-10-23 20:46] #718 closed, assigned to nobody

[2021-10-24 01:45] linuxkidd commented on #359
This is likely related to PR #507

[2021-10-24 02:43] EricClaeys commented on #720
@trohol, please do the testing during the day - that's when the brightness code is running.

[2021-10-25 02:05] Blueshawk opened #727 "Suggest using builddir"
I would like to suggest changing the makefile and install script to work in a different folder from git to enable easier updates.

[2021-10-25 06:25] hoetzgit opened #728 "i don't understand this error message in startrails.cpp"
i don't understand this error message in startrails.cpp:

endOfNight.sh: ===== Generating Startrails
Output file '/mnt/qnap01/Daten/allskycam01/images/20211024/startrails/startrails-20211024.jpg' is missing extension (.jpg or .png)

Usage: startrails [-v] -d <dir> -e <ext> [-b <brightness> -o <output> | -S] [-s <WxH>] [-Q <max-threads>] [-q <nice>]
Source directory and file extension are always re

[2021-10-25 16:01] #728 closed, assigned to linuxkidd

[2021-10-26 01:43] #721 closed, assigned to EricClaeys

[2021-10-26 16:52] CBaker007 opened #733 "Crop Offset Cuts off Overlay Info"
I am trying to do two things, reduce my image size to save space and crop my images to remove some black space on the left of my image (saving space too).  So I set the following options (my camera original size is 3096x2080):
[code]

My Image resize should be the same ratio as my original, and then I set the offset on the left to move in 20 pixels, maintaining the height.  So my final image won't

[2021-10-26 20:48] EricClaeys opened #734 "keogram and startrails fail with images of different channels"
The keogram program failed with the following error when the day's images directory had both color and mono images.
It's interesting that it didn't display any messages about different number of channels.

Also, keogram sets the verbose level to ALLSKY_DEBUG_LEVEL; I suggest not doing this since config.sh has KEOGRAM_EXTRA_PARAMETERS which people can use to set the keogram verbosity level.

[code]

[2021-10-26 20:49] #733 closed, assigned to nobody

[2021-10-27 09:28] WirthmU opened #737 "endOfNight errors"
I am using the latest commits and a ZWO ASI385MC camera and the GUI version.

While I am using the same ftp parameters as before I do not get timelapse, startrails nor keogram transferred to my website.

In the images folder of my RPI4 I can see the pictures of the night - however in the GUI if I go for the images for the Day it says "20211026
There are no images for this day."

Also I did endOfNi

[2021-10-27 13:06] g8bhc opened #738 "Text colour limited to black/white"
I used to be able to edit the text colour in Camera Settings ( /etc/raspap/camera_options_ZWO.json) to give yellow text (BGR = 20,255,255) which was readable on white or dark background (e.g. when the Moon is present in that area of the image). Now it just changes the text  colour from white to black.

[2021-10-28 14:37] andjones132 opened #739 "endOfNight script not writing Timelapse or StarTrails"
I have noticed with the recent AllSky update from Oct 21 that the TimeLapse and StarTrails files are no longer being generated and uploaded to my ftp server. The Image and Keograms are working and being uploaded. When I run the endOfNight.sh script manually I am getting the following error messages:

[code]

The first issue with the StarTrails appears to be because the threashold for sky brightnes

[2021-10-29 08:36] #738 closed, assigned to EricClaeys

[2021-10-29 18:46] EricClaeys commented on #737
@WirthmU,
Try this file.  Copy it to /var/www/html/includes.
The issue is that the name of your images have "resize-" in them, normally they are like `image-20211027185949.jpg`.
This fix (which should be available in GitHub soon), allows additional characters between the "-" and the first "2".

For your comment

Do you see lines in /var/log/allsky.log that contains `endOfNight.sh:` ?  There should

[2021-10-29 23:30] #727 closed

[2021-10-30 09:07] EricClaeys commented on #395
@laheller, you should set Locale in the WebUI, near the bottom of the page.  It's used by more than just darkCapture.sh.

[2021-10-30 15:06] linuxkidd commented on #84
This will be easy to add in a future release.  I'm working on a full replacement for all [post-processing in python](https://github.com/linuxkidd/allsky/blob/python-post/scripts/post-processor.py) that uses a [recipe](https://github.com/linuxkidd/allsky/blob/python-post/config_repo/postprocessing_night.json.repo) + [modules](https://github.com/linuxkidd/allsky/tree/python-post/scripts/modules) sys

[2021-10-31 05:59] EricClaeys opened #749 "src/Makefile keeps remaking unchanged files"
The Makefile in the `allsky/src` directory keeps remaking the capture*, startrails, and keogram executables even if nothing's changed.  It didn't used to do this.

[2021-10-31 08:30] calberts opened #750 "Nice to have Request"
Hoi

I have a question regards new features to be added

1. on the website of the allssky I like to have the last video/images displayed first and , is this already possible
2. Create a notification message (with MQTT) when it's clear, I think it should be possible (The user should be able  to select box (and size) where this will be measured.
https://www.semanticscholar.org/paper/Cloud-Detection-

[2021-10-31 13:29] maserowik opened #810 "Issue using Outline Font"
@EricClaeys
I added the outline font option here is a snippet from the allsky.log
![image](https://user-images.githubusercontent.com/25713782/139585756-60e46163-3fdf-4268-bce4-6fc61c4d76a0.png)
here is a snippet from the webui
![image](https://user-images.githubusercontent.com/25713782/139585806-bf211d33-79ca-4d87-af2e-2960f070ea69.png)
here is what showing on my website
![image](https://user-imag

[2021-10-31 13:42] maserowik commented on #750
@calberts
Check out the following and see if this answers you first question.
https://github.com/thomasjacquin/allsky-website/issues/54

@EricClaeys
Can this be added to the wiki if not there
https://github.com/thomasjacquin/allsky-website/issues/54

[2021-10-31 15:03] calberts commented on #750
The suggestion didn;t work

thomasjacquin/allsky-website#54

Chris

[2021-11-01 00:27] EricClaeys commented on #750
@calberts, @maserowik,
The ability to sort is on our [Project "to do"](https://github.com/thomasjacquin/allsky/projects/37/edit) list.

[2021-11-01 02:38] #395 closed

[2021-11-01 10:17] Timburgess1 commented on #739
I have a similar issue here, if I try to manually run “generateForDay” I see the message “<output file location> Is missing extension (.jpg or .png) this is the same if I manually try to run startrails

[2021-11-01 14:59] jsanchez73 commented on #655
Hello,

I am having  the same issue here. Any updates on how to fix it?

[2021-11-01 18:26] EricClaeys commented on #655
@jsanchez73 try the version of capture.cpp we just uploaded.  If that still gives problems let me know (and include the log file).  I'm working on a version that dampens the changes by implementing an "aggression" setting.  Foe example, it will only make half the expected change in brightness rather than the full change.  I'm also trying to detect wild swings in brightness and deal with them.

[2021-11-01 18:37] EricClaeys commented on #739
@Timburgess1 can you paste the exact generateForDay.sh command you are running and the exact output?
Put 3 tildas on a line ab@Timburgess1 can you paste the exact generateForDay.sh command you are running and the exact output?
Put 3 tildas on a line above the command and output and then three tildas on a line after the output.
[code]
It makes it easier to view and doesn't leave anything up for int

[2021-11-01 22:18] EricClaeys commented on #720
@trohol Something weird is going on.  The first exposure maxed out at 10 seconds (which is what the daytime auto exposure max is set to in the code), but had of mean brightness of only 19 out of 255, which is really dark.
The initial attempt at the next exposure, also taken at 10 seconds, had a mean of 253 which is almost pure white.  The 1st attempt at 7 seconds had a mean of 38 - a huge decrease

[2021-11-01 22:24] EricClaeys commented on #750
@calberts, I added the "send message when clear" to our Project list as well, so we'll track both requests there.  Hence, I'm closing this Issue.

[2021-11-01 22:24] #750 closed

[2021-11-02 10:35] Timburgess1 commented on #739
@EricClaeys Thanks for the pointers...

I have retried running endofnight.sh
[code]
The Keogram runs fine, but when we get to the startrails this is seen
[code]
Does this help?

[2021-11-02 11:32] maserowik commented on #719
this is working kind of soft of.  I believe it where my camera is.  It use to be on my roof but currently it is ground level.  I have outside lights around my backyard.  I should have the camera back in the air in a few weeks.

[2021-11-02 11:32] #719 closed

[2021-11-02 12:48] maserowik opened #755 "Appear to be a issue on my end with Videos"
I just noticed this a few day ago and thought it was due to the position of my camera.  On my timelapse videos they appear to flicker.
Here is a sample of the issue I am seeing
http://n3bsq.com/allsky/videos/allsky-20211031.mp4
attached my settings
[settings_ZWO.json.txt](https://github.com/thomasjacquin/allsky/files/7460758/settings_ZWO.json.txt)
[config.sh.txt](https://github.com/thomasjacquin/a

[2021-11-02 14:34] Tartouffe commented on #655
Trying out the updated capture.cpp. But it is (very) bad weather. Had to wait for sun, to reach some brightness level. Could go a few days until I have a result. (Note: version 0.8 expure has the same problem)

[2021-11-02 14:42] trohol commented on #720
@EricClaeys Oops, I was playing with the settings and had turned off the V0.8 exposure. Enabled 0.8 now and it seems to be working fine. I have never seen the ASI_ERROR_TIMEOUT. Still testing the camera indoors, but it was quite dark in the room last time. Today's test is in an illuminated room. Attached today's log file before I change the capture file (only enabled V0.8).
[allsky.log](https://gi

[2021-11-02 15:00] Tartouffe opened #756 "Confusing menu option text"
At the  Configure Camera Settings  it says as first:
_DAYTIME SETTINGS
50 - 160. Changes the amount of light in the image.Low value = dark; high value = bright. **Only works with auto-exposure.**_

The phrase _Only works with auto-exposure_ should be complemented with '(enable hidden option to change)' or something like this. Otherwise, not so familiar with allsky and the existence of a hidden opt

[2021-11-02 15:03] trohol commented on #720
@EricClaeys Have tried the latest capture.cpp file and it still works fine. Nicely exposed image. Attached log file after the change.
[allsky.log](https://github.com/thomasjacquin/allsky/files/7461709/allsky.log)

[2021-11-02 17:03] EricClaeys commented on #756
4rr4n NB bbbbbbb NB j BBC
.b uh
o.if
N
________________________________
From: Tartouffe ***@***.***>
Sent: Tuesday, November 2, 2021 10:01:44 AM
To: thomasjacquin/allsky ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [thomasjacquin/allsky] Confusing menu option text (Issue #756)

At the Configure Camera Settings it says as first:
DAYTIME SETTINGS
50 - 160. Changes the amount of light in the ima

[2021-11-02 17:51] EricClaeys commented on #739
@Timburgess1 thanks for the update.  It helps a lot.
I'm 99.9% sure this was updated 8 days ago - the update was called "Fixed extension check logic".

Please make sure you have the latest `src/startrails.cpp`.
Once you get it, do the following:
[code]

Eric

[2021-11-02 17:55] Tartouffe commented on #756
??
I think your cat has occupied the keyboard 😂

[2021-11-02 17:58] EricClaeys commented on #756
@Tartouffe sorry about that.  I think it was my butt...

Thanks for the feedback.  It will help make the software and documentation better.

[2021-11-02 20:44] Timburgess1 commented on #739
Fantastic! Thanks for sharing the solution!
All seems to be working now!

[2021-11-02 21:24] EricClaeys commented on #739
@andjones132, if you are using IMG_RESIZE then the images stored in allsky/images/DATE are the resized size, not the full size.

Ate your timelapse videos working now?  If so, please close this Issue.

If not, you can look in the Wiki for troubleshooting tips.

[2021-11-02 21:28] EricClaeys commented on #720
@trohol, so if you run with version 0.8 exposure OFF you get swinging exposures, but with version 0.8 ON things look fine?

[2021-11-02 21:58] EricClaeys commented on #655
@Tartouffe, are you saying version 0.8 is causing your bad weather?????  We are working on a cloud-removal filter :-)

Are you running with the version exposure mon ON or OFF?

Selse reported good results with 0.8 exposyee ON, but I realize not everyone can run with it ON.

[2021-11-02 22:00] trohol commented on #720
@EricClaeys Yes it looked like that, but when you asked I changed back to 0.7 again and now it still looks good. Started with brightness of 100 and then changed to 50 in the middle of the test. Attached new log file. Can't see the swinging exposures anymore.
[allsky.log](https://github.com/thomasjacquin/allsky/files/7464210/allsky.log)

[2021-11-02 22:11] EricClaeys commented on #755
@maserowik, all the flickering is at night when the software uses ZWO's exposure mode, so there's nothing we can currently do about it.  We may eventually use our own exposure algorithm at night as well, but I wouldn't expect that anytime soon.

A fun test would be to set "angle" to either 23.9 or -23.9 to effectively make the whole day "daytime" as far as the software is concerned. This would cau

[2021-11-02 22:15] EricClaeys commented on #719
@maserowik moving the camera could **definitely** impact your overall brightness and hence what you need to set BRIGHTNESS_THRESHOLD to.  Glad you figured it out.

[2021-11-02 22:37] trohol commented on #720
@EricClaeys Ok during the last test I had chosen bin2, and then it worked ok at both 0.7 and 0.8. On the other hand, when I chose bin1 it still worked well with 0.8, but not with 0.7. The picture became very dark. At bin2, of course, the histogram box makes up a much larger part of the image, and captures the ceiling light in the room. Has not resized this box. At bin1, the ceiling light comes jus

[2021-11-02 23:00] trohol commented on #720
Attached two log files for 0.7, bin1 (not ok, dark picture) and bin2 (ok)
[allsky_bin1_0.7.log](https://github.com/thomasjacquin/allsky/files/7464444/allsky_bin1_0.7.log)
[allsky_bin2_0.7.log](https://github.com/thomasjacquin/allsky/files/7464445/allsky_bin2_0.7.log)

[2021-11-02 23:15] trohol commented on #720
@EricClaeys Attached two log files for 0.8, bin1 and bin2 (both ok)
[allsky_bin1_0.8.log](https://github.com/thomasjacquin/allsky/files/7464481/allsky_bin1_0.8.log)
[allsky_bin2_0.8.log](https://github.com/thomasjacquin/allsky/files/7464482/allsky_bin2_0.8.log)

[2021-11-03 01:58] Hydrazine2501 commented on #720
In my experience (multiple cameras on multiple RPis) the brightness setting doesn't work, period.  Your choices are to set it to 50 or to use hard coded exposures.

[2021-11-03 02:01] EricClaeys commented on #720
@Hydrazine2501, have you tried brightness with AllSky version 0.8, especially the newer files?  I had it working on the ZWO camera during the day fairly well with our histogram algorithm.  At night it uses ZWO's algorithm and I'm not sure how it works, if it works at all.

[2021-11-03 02:03] EricClaeys commented on #720
@trohol, another capture file if you don't mind.  Try at bin 1 with 0.7 and 0.8.
The 0.8 probably won't change much, if at all.  The 0.7 _should_ be better, but I'm not sure yet by how much.
I think with the 0.7 method we're running into ZWO's bug and I'm not sure we can work around it.  It's just too bizarre.

[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7464899/capture.cpp.txt

[2021-11-03 04:05] Hydrazine2501 commented on #720
Yup, first thing I tried was upgrading when I had this problem on my older system.  I have two-  The latest one is a brand new install as of a couple of days ago.  Both setups are current.

[2021-11-03 06:00] Hydrazine2501 commented on #720
BTW if you tell me what log files you need I can get it to you from both an asi178mm and asi290mm installations (completely different systems).

[2021-11-03 08:22] trohol commented on #720
@EricClaeys New log files attached, couldn't see any difference. 0.8 ok and 0.7 still a dark image.
[allsky_bin1_0.7.log](https://github.com/thomasjacquin/allsky/files/7466147/allsky_bin1_0.7.log)
[allsky_bin1_0.8.log](https://github.com/thomasjacquin/allsky/files/7466148/allsky_bin1_0.8.log)

[2021-11-03 08:29] JosWennmacker opened #757 "lighttpd.conf for gui has /home/pi hard coded"
I run allsky on Ubuntu 21.10 using user allsky.
The lighttpd.conf for gui has /hom/pi/allsky and /home/pi/allsky/images hard coded on lines 27 and 28, so neither 'Live View' nor 'Images' nor 'Editor' work. Changing pi to allsky on both lines and restarting lighttpd things are ok.

[2021-11-03 09:00] hoetzgit opened #758 "Make error in capture.cpp Ubuntu 20.04"
The following error occurs when compiling the actual release under Ubuntu 20.04. Can this be corrected? I use a powerful virtual machine to create startrail, keogram and video. Many thanks

pi@allsky:~/allsky01$ make -C src all
make: Entering directory '/home/pi/allsky01/src'
2021-11-03 09:49:13 Building capture program...
capture.cpp: In function ‘void* SaveImgThd(void*)’:
capture.cpp:298:18: err

[2021-11-03 15:54] EricClaeys commented on #757
@JosWennmacker Line 73 of gui/install.sh should convert `/home/pi/allsky` to whatever directory your `gui` directory is in, so if you have allsky in `/home/allsky/allsky` it should use that.

Did that not happen?

[2021-11-03 16:01] EricClaeys commented on #720
@Hydrazine2501 `/var/log/allsky.log` is the log file.
When testing it helps to stop the AllSky service, then truncate the log file via `sudo truncate -s 0 /var/log/allsky.log`, then ser the Debug Level to 3 in the WebUI.  This way, the log file will only contain entries for the time being tested.

[2021-11-03 18:42] Tartouffe commented on #655
"Version 0.8 Exposure" was OFF, now ON.

Had tested this (set ON) with the version before, no difference.
Lets see what the latest capture.cpp will produce over the day tomorrow with now switched on.

[2021-11-03 21:02] EricClaeys commented on #655
@Tartouffe, please increase your `Debug Level` to 3 in the WebUI.  It will give me much-needed information, like what was happening with the dark/bright images.

The "stutter" in your GIF is because some images were being skipped due to ASI_ERROR_TIMEOUTs even though you are using the older version 0.7 exposure algorithm.  Try decreasing your `USB Bandwidth` to 40.

The strangest image is the one

[2021-11-03 23:46] JosWennmacker commented on #757
Obviously not. But I removed the gui and installed it again. Now it did change the directory. Problem solved.

[2021-11-03 23:49] #757 closed

[2021-11-04 03:38] linuxkidd commented on #758
Hi @hoetzgit ... Sorry for the issue... Would you be able to test the following tweak and see if the compile succeeds:
[code]

Thanks!

[2021-11-04 09:06] hoetzgit commented on #758
Thanks very much! With this adjustment, it works.

pi@allsky:~/allsky01$ sed -i -e 's/cvGetTickCount/cv::getTickCount/g' src/capture.cpp
pi@allsky:~/allsky01$ make -C src all
make: Entering directory '/home/pi/allsky01/src'
2021-11-04 10:04:02 Building capture program...
2021-11-04 10:04:33 Done.
2021-11-04 10:04:33 Building capture_RPiHQ program...
2021-11-04 10:04:40 Done.
2021-11-04 10:04:40 Bu

[2021-11-04 11:15] andjones132 commented on #739
@EricClarys I will retest this weekend and close issue if resolved.

[2021-11-04 14:18] dbainbridge opened #760 "Night capture failed in middle of night"
Last night right at the peak of aurora activity the image captures stopped :(.  Am using version from about week ago (can get commit later).  Any ideas what may have happened?  Did not run out of disk space.

Commit that I have checked out:
Date:   Tue Oct 26 19:50:06 2021 -0700

    Merge pull request #736 from thomasjacquin/Clarify-cropping

    Clarify cropping

[2021-11-04 14:37] Tartouffe commented on #655
First debug level 3 run with the parameters: USB Bandwidth: 40 / debug Level 3 / Version 0.8 Exposure: YES
A too bright image was shot at timecode 15:17:59. Only one. I had to run it on brighter sky (when your "clear sky automation" is working error free ;) ).

I noticed when a bright image was produced, an image in the set Intervall is missing!
E.g. every 1min one picture, the bright image is 2 m

[2021-11-04 15:18] WirthmU commented on #737
Changing the name of the current picture to image-* did resolve the problem.

[2021-11-04 15:18] #737 closed

[2021-11-04 15:23] EricClaeys commented on #760
@dbainbridge please attach your log file `/var/log/allsky.log` and let me know the date and time capture stopped so I know where in the file to look.
Have you checked the ~/allsky/images/DATE directory to see if the files are there?  That would help determine if capture stopped versus the web page stopped.

[2021-11-04 18:57] dbainbridge commented on #760
yes, checked the image directory and they were not there.  Will check for logs later.

[2021-11-04 19:03] dbainbridge commented on #760
Last logs (the integer expression did not cause the issue since they were in all the previous log statements as well):

Nov  4 02:07:21 allsky allsky.sh[5652]: STARTING EXPOSURE at: 2021-11-04 02:07:21
Nov  4 02:07:23 allsky allsky.sh[5652]: /home/pi/allsky/scripts/upload.sh: line 90: [: l: integer expression expected
Nov  4 02:07:53 allsky allsky.sh[5652]:   > Saving image 'image.jpg' that starte

[2021-11-04 23:57] #758 closed

[2021-11-05 00:26] #571 closed

[2021-11-05 00:47] dbainbridge commented on #760
Seems to be continuing tonight but got some actual errors in logs:

Nov  4 19:37:08 allsky allsky.sh[19805]: STARTING EXPOSURE at: 2021-11-04 19:37:08
Nov  4 19:37:12 allsky allsky.sh[19805]: /home/pi/allsky/scripts/upload.sh: line 90: [: l: integer expression expected
Nov  4 19:38:13 allsky allsky.sh[19805]:   > ERROR: Failed getting image, status = 11 (ASI_ERROR_TIMEOUT #1 (with 0.8 exposure = Y

[2021-11-05 00:48] dbainbridge commented on #760
Appears like there is some USB issue going on?

[2021-11-05 01:04] dbainbridge commented on #760
I think I figured it out:
`vcgencmd get_throttled`
is returning` throttled=0x50005`

People should be able to install that command with `pip install vcgencmd`
My value is indicating under voltage and throttling has occurred and is currently happening.

Might by helpful to install that python package as well so would be easier to rule out if users are having this issue.

[2021-11-05 01:51] dbainbridge commented on #760
More concerning is why am I getting this under voltage to begin with.  Have a DC to DC converter which is stepping down a 56V power supply to the 5V for the Pi.  The converter is no more than 2ft away from the Pi and have been using this setup for a couple years.. Will have to do further checks tomorrow to see.

[2021-11-05 01:54] #749 closed

[2021-11-05 02:17] EricClaeys commented on #760
@dbainbridge, what are the last few lines of your allsky/variables.sh file?
If the last file is not this, please upgrade the software:
`ALLSKY_DEBUG_LEVEL=${ALLSKY_DEBUG_LEVEL:-0}`
I believe the "integer expression expected" errors are because the ALLSKY_DEBUG_LEVEL variable isn't defined so upload.sh is comparing a null string to a number.

A fair number of people get `ASI_ERROR_TIMEOUT ` errors.

[2021-11-05 02:26] dbainbridge commented on #760
I believe the CPU frequency is being throttled in order to reduce amp draw to help increase the voltage back to a safe level.  I also wonder if this is more prevalent with the 0.8 exposure mode because if I recall that version is now turning the camera on and off in order to "reduce camera heating".  Maybe this is causing unintended side affects from the the surge of camera going on and off consta

[2021-11-05 03:08] linuxkidd commented on #758
Great to hear this resolved the compile issue.  We've modified our code to include this fix.  Thanks for helping us make Allsky better!

[2021-11-05 03:17] EricClaeys commented on #760
@dbainbridge, clearly the version 0.8 exposure mode is having side effects, like causing ASI_ERROR_TIMEOUTs for some people.  Why it's doing that is anyone's guess.  I've been communicating with someone at ZWO who says they are working on the ASI_ERROR_TIMEOUTs but it's unclear if they'll every do anything.

Funny, when we were working on 0.8, all 4 of us were able to resolve the ASI_ERROR_TIMEOUT

[2021-11-05 03:33] EricClaeys commented on #758
@hoetzgit, you can grab the updated src/capture.cpp which includes the fix.  Or not, since you already patched your file.

[2021-11-05 03:40] EricClaeys commented on #755
@maserowik, Mike, @linuxkidd pointed out my mistake saying "23.9 or -23.9.  I was thinking hours when "angle" is an angle.  Try +/- 89.9 degrees.  Basically you want everything to be "daytime".  Note I haven't tested this myself...

[2021-11-05 12:22] rchadgray opened #766 "RPiHQ stops taking pictures"
Hello!  I have been getting what i think it a lock up or failure of the software.  I have not found a reason.  Some nights it works fine and takes all the images.  Some nights it locks up at 10pm. I restart the raspberry pi if i realize it locked up.  Then 3am.

Ack... sorry i posted and the text is not easy to read.  Let me see if i can fix it.  I attached it as a txt document.

Let me know what

[2021-11-05 12:31] linuxkidd commented on #760
The stop and start commands should be:
[code]

And
[code]

[2021-11-05 15:19] linuxkidd commented on #766
Hi @rchadgray ... Can you provide the following output:

[code]

Thanks!

fwiw, I have a lock up of RPiHQ captures as well...  It seems the `raspistill` call is hung for some reason.
[code]

NOTE: This is locked from Oct 30th.  Last `allsky.log` lines:
[code]

@EricClaeys -- Maybe we should wrap the `raspistill` call with a timeout.  Say double exposure time, or exposure time + 30 seconds, whichev

[2021-11-05 15:20] linuxkidd commented on #766
Oh, another theory -- maybe interference in the camera CSI cable?  ( mine is only being used for testing, so it's laying across a power strip -- 60hz noise is definitely being injected. )

[2021-11-05 15:44] rchadgray commented on #766
I attached the output of the ps command.

As far as cabling and interference my setup is in a 3D printed weather station i am building.  You can see the routing of my camera cable.
https://photos.app.goo.gl/PP7afRsiqYc3Ch549

I should say i do have POE Hat on my Raspberry pi.  That may have some interference on the camera cable??  Just a guess.

[new 8.txt](https://github.com/thomasjacquin/allsky/

[2021-11-05 15:53] dbainbridge commented on #760
I may have addressed my power issue by attaching a https://lifepo4wered.com/lifepo4wered-pi.html and have 12V attached to it.  It no longer is showing active under voltage or throttling.  Also provides other benefits to make the entire system more reliable.  I'll update if I run into anything related to this but the attached file and instructions you provided would probably be helpful  for others

[2021-11-05 16:13] rchadgray commented on #766
Oh wow i am swapping my hardware over to a new enclosure and looked at my camera cable.  I am going to replace this with a new one and test again tonight.

https://photos.app.goo.gl/3xGc2W2RYE9tRsxc7

[2021-11-05 17:32] EricClaeys commented on #760
@linuxkidd, what's the difference in `sudo systemctl start allsky` and `sudo service allsky start`?  I use the latter, and it works fine.

[2021-11-05 18:02] andjones132 commented on #739
@EricClaeys I just tried running the ```scripts/generateForDay.sh -t 20211104``` and I am still getting the following error. I followed the instructions above for downloading and installing the startrails.cpp file, but it did not seem to make any difference. Where is the varaible 960x719 stored? Maybe I can just go in and directly change it to 960x720?

[code]

[2021-11-05 19:22] EricClaeys commented on #739
@andjones132, 960x719 isn't stored anywhere.  Since you are using `IMG_RESIZE` to create 960x720 files, check the actual size of one of the files in `~/allsky/images/20211104` to see if it's 960x720 or 960x719.

You can ignore the `deprecated pixel format...` message.  It's meaningless.

[2021-11-05 19:49] andjones132 commented on #739
@EricClaeys Ok that is weird. I just checked the size of one of my images in ```~/allsky/images/20211104```  and it does show to be 960x719, not 960x720. However, here are my '''IMG_RESIZE''' settings in Config.sh:

[code]

Here are the native resolutions for the ZWO ASI224MC:

Supported resolution
10bit ADC / 12bit ADC
1304×976 150fps / 64fps
1280×960 152.4fps / 65fps
800×600 241.2fps / 102.9fps

[2021-11-05 22:18] EricClaeys commented on #739
@andjones132, to make sure we can reproduce it, do the following:
[code]
look at the dimensions of xyz.jpg.  It should be 960x719.  If so, it's a bug in the `convert` command which is not part of AllSky.  I seem to recall seeing a post somewhere about that, so will see if I can find it.

[2021-11-05 22:47] andjones132 commented on #739
@EricClaeys Yes, when I resize an image using the ```convert FULLSIZEIMAGE
-resize 960x720 xyz.jpg``` script it returns an image of 960 x 719. So it
does appear to be an issue with the convert command. I will try tonight
with the 1280 x 960 which uses the same W X H ratio and see how it goes.

Thanks for all your help!! Really appreciate it.

On Fri, Nov 5, 2021 at 5:19 PM EricClaeys ***@***.***>

[2021-11-06 00:09] linuxkidd commented on #766
Interesting!  I'd love to know if the condition clears after replacing the cable.  I too am using a POE hat, so I'm hope'n that the cable is the fix... not the POE hat. :)

[2021-11-06 00:12] linuxkidd commented on #760
The `service` command is the old way... and is being deprecated.  Currently, it's mapped through and ultimately uses the `systemctl` commands.  So, at some point in the future, the `service` command won't work at all.  ( honestly, I thought it was the case already.. which is why I commented above ).

[2021-11-06 00:21] rchadgray commented on #766
Yeah i think the cable was affected by some rain on the camera.  I never checked it for crustys and damage after i left the camera and raspberry pi out in the rain.

It is taking pictures now.  I will report back if it is successful over the weekend.

[2021-11-06 02:11] maphilli14 commented on #650
Just getting back to trying this again, it fails as follows:

[code]

[2021-11-06 02:17] maphilli14 commented on #650
Some things I tried ....

[code]

[2021-11-06 03:32] EricClaeys commented on #739
@andjones132, you can also disable resize via `IMG_RESIZE="false"`, then set
[code]
and see how that goes.  That will create a smaller timelapse (but it'll be the size you would have gotten with smaller images).

[2021-11-06 04:40] EricClaeys commented on #298
@ennui2342, Mark, any update?

[2021-11-06 04:50] EricClaeys commented on #739
@andjones132, you can also run `identify xyz.jpg` on one of the full-size images and see what it says the size is.
This is what I get for one of my ASI290MM images:
`image-20211025182643.jpg JPEG 1936x1096 1936x1096+0+0 8-bit Gray 256c 179522B 0.000u 0:00.000`

[2021-11-06 12:23] rchadgray commented on #766
Locked up again at 1am.

I ran the ps command while in it locked up state.  The OS is responsive, the allsky website is responsive.  It seems it is just the picturing taking part that has stopped.

I will leave it in it's current state if there are other debugging things i can try.

[new 52.txt](https://github.com/thomasjacquin/allsky/files/7490431/new.52.txt)

[2021-11-06 17:35] kenkolen-neal opened #769 "Where are the images and timelapse stored?"
Where are the images and timelapse stored?

[2021-11-06 17:40] EricClaeys commented on #769
@kenkolen-neal The image-DATETIME.jpg files are stored in allsky/images/DATE.
The timelapse, startrails, and keogram files are in subdirectories of allsky/images/DATE.

[2021-11-07 00:29] Hydrazine2501 commented on #720
K, I'll try to get a couple of log files for you.  Sorry I've been out of pocket the last few days.

[2021-11-07 02:14] EricClaeys commented on #766
@rchadgray Chad, please check the Wiki.  This behavior is usually resolved by upgrading the camera firmware.

[2021-11-07 02:24] rchadgray commented on #766
Thanks Eric..  i will check it out.  Looks like it is updating the packages in APT and installing them.

I am doing that now and will report back.

https://github.com/thomasjacquin/allsky/wiki/Troubleshooting:-other

[2021-11-07 05:05] EricClaeys commented on #769
@kenkolen-neal, if this answers your question, please close the Issue.  Thanks.
Going forward, when you have a question please click on the Discussion link and add it there, rather than creating an Issue.

[2021-11-07 05:06] EricClaeys commented on #766
@rchadgray, yea, I think I should have said "by upgrading the Pi firmware".  Either way, that's fixed the problem for everyone else.

[2021-11-07 05:07] EricClaeys commented on #760
@dbainbridge, David, if your problem is resolved would you please close the Issue?  Thanks

[2021-11-07 05:10] dbainbridge commented on #760
Yes.. Was just making sure after few nights the hardware change fixed the issue which it so far appears it has.  Would be good if there was way to detect the low voltage issue which I'm betting people are having but blaming the software.

[2021-11-07 12:12] rchadgray commented on #766
Thanks Eric!  My camera ran the entire night.   Before updating it would stop working about 3 out of 7 nights.  We will see if this improves.

I will update this thread this week if i run into it again.

Chad

[2021-11-07 14:58] Tartouffe commented on #655
Eric, you know what? NOT A SINGLE overexposed picture since the modified parameters 3 day ago. I think the default USB value of 80 (if i remember right?) causes these bright images. Now with 40 the images are how they should be. Also no frames were missing.
Had to prove this on bright weather. Will keep you updated (waiting for bright sky/sunshine).

[2021-11-07 17:39] EricClaeys commented on #655
@Tartouffe, that's great to hear.

The brightness of the sky appears to have been changing quite a bit.  The mean brightness of the picture before 15:17:59 was 81 which is below the acceptable range, then the 15:17:59 picture's mean was 129 which is inside the acceptable range.  The next several pictures had mean of 124 - 134 which are all in the allowed range.
If those pictures were way too brigh

[2021-11-07 17:40] EricClaeys commented on #766
@rchadgray, Chad, that's exactly what other people say.  Glad the firmware update appears to have helped.  Let's hope it continues.  If it does, would you please close the Issue?  Thanks.

[2021-11-07 17:42] EricClaeys commented on #760
@dbainbridge, does running the `vcgencmd get_throttled` command tell you that?

[2021-11-08 01:07] EricClaeys commented on #650
@maphilli14, you want to copy the capture.cpp file to the `allsky/src` directory, and run "make capture" from within that directory, then run "make install".

The `WARNING: currently saving an image; can't save new one.` message is one I added in version 0.8.  It usually indicates your delay isn't long enough, so the system is still writing one image when the next one is ready to write.

Before tr

[2021-11-08 01:24] andjones132 commented on #739
@EricClaeys I ran ```identify``` on one of my images and it show that it is correctly sized. For some the camera stopped creating images last night around 7pm, but that may have been due to another issue. I restarted the pi today so let see if it works tonight.

```image-20211107182653.jpg JPEG 960x720 960x720+0+0 8-bit sRGB 173723B 0.000u 0:00.000```

[2021-11-08 01:32] andjones132 commented on #739
@EricClaeys let me play around with this for a few more days. I will close the issue for now and reopen a new one if I can't get it working. Thanks again for all your help.

[2021-11-08 01:32] #739 closed

[2021-11-08 02:34] dbainbridge commented on #760
Yes, sorry.. Was thinking would be useful to dump to logs when there is camera error especially that ASI_ERROR_TIMEOUT one which is what I was getting and no longer am getting once I fixed my power issue.

[2021-11-08 12:33] maserowik commented on #755
@EricClaeys

Not sure what happened.  but the flickering went away.  Closing this issue.

[2021-11-08 12:33] #755 closed

[2021-11-08 14:23] rchadgray commented on #766
Another successful night.  I will close the issue in a few days if this continues.

Thanks again!

[2021-11-09 15:14] maserowik opened #774 "New error in allsky"
getting this in my allsky log.  any ideas?

Nov  8 17:39:57 Pi-AllSky allsky.sh[4864]: === Starting nighttime capture ===
Nov  8 17:39:57 Pi-AllSky allsky.sh[4864]: ==========
Nov  8 17:39:57 Pi-AllSky allsky.sh[4864]:   xxxx Adjusting NIGHT gain by 0 on next picture to 50; will be gain change # 1 of 90.
Nov  8 17:39:57 Pi-AllSky allsky.sh[4864]: Buffer size: 954528
Nov  8 17:39:57 Pi-AllSky allsk

[2021-11-09 17:04] EricClaeys commented on #774
@maserowik, what version of capture.cpp do you have?  It'll be in the log file.
Does it do this every time?
Try the attached version and see if it does it.

[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7506658/capture.cpp.txt)

[2021-11-09 18:01] maserowik commented on #774
@EricClaeys
So I did a sudo service allsky restart and the day light appears to be working.  Looking at the message it appear to have started when the allsky switches from daytime to nighttime.

I also reenable remote access to my pi.  same url and password as before if you like to jump on

Mike

[2021-11-09 18:18] maserowik commented on #774
also getting the lines in the text

![image](https://user-images.githubusercontent.com/25713782/140981526-75afefac-090a-4193-ac4d-4cf402cfd960.png)

[2021-11-09 22:05] EricClaeys commented on #774
@maserowik, did you get the Segmentation fault just once?
What did you do last time to get rid of the lines?  Or did they magically disappear on their own?
Do they go away if you don't display the date, or don't display the sensor temperature, or don't display the extratext ?

[2021-11-09 22:56] maserowik commented on #774
It starts as soon as the night capture starts
During the day it works fine

Michael A. Serowik

Sent from my iPhone

[2021-11-09 23:57] EricClaeys commented on #774
@maserowik, can you try the attached file?  It's been working for me.  Set Debug Level to 4.

[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7508722/capture.cpp.txt)

[2021-11-10 00:24] EricClaeys commented on #774
@maserowik, for the lines, in [port issue 75](https://github.com/thomasjacquin/allsky-portal/issues/75) you said you restarted the service and the lines went away and "not quite sure what that has todo with anything but I do have the Use Outline Font turned on not sure what I should be seeing."
If you restart the service (you can simply click on the "Save changes" button in the WebUI without makin

[2021-11-10 00:36] maserowik commented on #774
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: ==========
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: === Starting nighttime capture ===
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: ==========
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: STARTING EXPOSURE at: 2021-11-09 19:35:21
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]:   > Exposure set to 10000000 us (10000.00 ms)
Nov  9 19:35:32 Pi-AllSky allsky.sh

[2021-11-10 00:57] EricClaeys commented on #774
@maserowik Would you please set Debug Level to 4?
If you start the service after nighttime (rather than letting it transition), do you still get the Segmentation fault?  I don't get it either way.

[2021-11-10 01:04] maserowik commented on #774
@EricClaeys

![image](https://user-images.githubusercontent.com/25713782/141030630-8768d830-0e1f-4a41-829a-8f296b3c02f9.png)

Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: ==========
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: === Starting nighttime capture ===
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: ==========
Nov  9 19:35:21 Pi-AllSky allsky.sh[14485]: STARTING EXPOSURE at: 2021-11-09 19:35:21

[2021-11-10 01:10] maserowik commented on #774
They are in every photo.  but as soon as I drop to a ssh session and issue the stop and start the lines go away.

[2021-11-10 01:48] maphilli14 commented on #650
With capture.cpp.txt compiled...

[code]

[2021-11-10 02:37] maphilli14 commented on #650
the 0.7 with 08 args does this...

[code]

[2021-11-10 02:37] maphilli14 commented on #650
FYI this is a mono camera, LMK if the settings should be changed at all...

[2021-11-10 02:50] Hydrazine2501 commented on #720
The only place to set the debug level is in config.sh Stock it shows:

ALLSKY_DEBUG_LEVEL=${ALLSKY_DEBUG_LEVEL:-0}

Setting it to "3" generates an error about old config files.  Setting it to -3 results in debug =1 when the application is started.

You say "in the WebUI.  Where in the webUI is this set?

[2021-11-10 02:53] EricClaeys commented on #720
@Hydrazine2501, sorry, in the WebUI you need to go to the bottom of the "Camera Settings" page and click on the "Show Advanced Settings" button.  The "Debug Level" setting is near the bottom.  Don't change the config.sh variable.

[2021-11-10 03:00] Hydrazine2501 commented on #720
Here's a log of night capture bouncing around.  It's cloudy and it's constantly moving between too dark and too light
[allsky.log](https://github.com/thomasjacquin/allsky/files/7509480/allsky.log)
.

[2021-11-10 03:02] EricClaeys commented on #774
@maserowik, can you try the version of capture.cpp I posted a few hours ago?
[code]

[2021-11-10 03:23] EricClaeys commented on #720
@Hydrazine2501, would you please try the attached file?  I've made quite a few changes I hope will help the issue.  To use it, do the following:
[code]

[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7509562/capture.cpp.txt)

[2021-11-10 03:38] EricClaeys commented on #650
@maphilli14, it shouldn't matter that it's a mono camera.  Try running `vcgencmd get_throttled` - it will give a code that states whether or not your Pi has low voltage, which could be the issue with your camera.

Can you attach (don't copy/paste) the complete /var/log/allsky.log file from the 0.7 with 08 args run?  You can do this:
[code]
It's very interesting that you go the "Segmentation fault"

[2021-11-10 03:40] EricClaeys commented on #774
@maserowik, someone else just reported the "Segmentation fault" problem, but he has the old version 0.7 capture.cpp file that knows about version 0.8 arguments.  That's likely a latent bug that's appearing now for some reason.

[2021-11-10 03:58] Hydrazine2501 commented on #720
Big difference
[allsky.log](https://github.com/thomasjacquin/allsky/files/7509733/allsky.log)
!

[2021-11-10 04:13] Hydrazine2501 commented on #720
Off to upgrade my second system!

[2021-11-10 04:42] Hydrazine2501 commented on #720
Ya both systems are MUCH better now.  Very very stable.  Thank you!

[2021-11-10 05:30] EricClaeys commented on #720
@Hydrazine2501, great, let's see how it does during daylight and during day/night and night/day transitions.

[2021-11-10 05:53] Hydrazine2501 commented on #720
A couple of things that should be called out about this-  The system needs time to both save the image and create the histogram.  The "delay" setting appears to go from the _start_ of the image acquisition rather than the end.  So if your image is 5sec and your delay is 1sec it will take images every 5sec because it's 5 seconds _after_ the image acquisition started.  I can open a separate problem

[2021-11-10 06:41] EricClaeys commented on #720
@Hydrazine2501,  Files are saved in a separate thread to keep the main thread from hanging, and to keep the time between exposures consistent.
The delay _does_ start after the image has been successfully taken, as you suggest.  After the image has been taken the "save image" thread is started, then the delay begins.  If the save takes a long time it's possible the next image will begin, and potent

[2021-11-10 07:56] EricClaeys commented on #650
@maphilli14, another thing to try if you can.
Stop the service.
In your home directory is a subdirectory called `.ZWO` (with a leading period).  It's hidden by default so you'll need to show the hidden files by pressing CTRL-H when in the explorer window.
Enter the .ZWO directory and open `ASIconfig.xml`, then change DebugPrint’s value from 00 to 01.
Then restart the service.  This will add a bunc

[2021-11-10 12:27] maserowik commented on #774
@EricClaeys

so the software stopped again on the night capture.  I just did a restart on the service and it is no in daylight capture mode and working fine.
 but I now have the lined on the txt messages.
![image](https://user-images.githubusercontent.com/25713782/141112805-cf3840a8-ddae-45dd-97e4-85dbfe0e5804.png)

i did a restart on the services and the lines went away
![image](https://user-imag

[2021-11-10 12:28] maserowik commented on #774
also is there a way to have allsky be ticked into it being night time?

[2021-11-10 12:41] ennui2342 commented on #298
@EricClaeys Apologies, my allsky has been out of commission due to a waterlogged power supply. Once it's back up and running I'll do an upgrade and try the new parameter.

You are right in that the resolution of the 224mc is as you state and an even number. But the images generated by allsky which are used for the timelapse are 885x754 (width and height in settings are 0 for max so I'm not sure wh

[2021-11-10 15:50] rchadgray commented on #766
No hicups so far!  I will close this out.

[2021-11-10 15:50] #766 closed

[2021-11-10 18:02] EricClaeys commented on #774
@maserowik, sure, you just have to set the Angle to (I believe) a high value like 89.9.

[2021-11-10 18:03] EricClaeys commented on #774
Were you able to try the version of capture.cpp from last night?

[2021-11-10 18:14] maserowik commented on #774
i set my angle to 89.9
![image](https://user-images.githubusercontent.com/25713782/141169735-5189f2c9-b937-4e00-9a77-fa13d98c8a1c.png)

as soon as the night time capture started i got the following
![image](https://user-images.githubusercontent.com/25713782/141169917-0f48ec1a-680e-4959-9f9c-810c3fc34c33.png)

yes I am using the capture.cpp from lastnight.

[2021-11-10 18:20] EricClaeys commented on #774
@maserowik, can you set Debug Level to 4 and try nighttime again, please?

[2021-11-10 18:22] maserowik commented on #774
Level 4
![image](https://user-images.githubusercontent.com/25713782/141170895-6dbae047-df33-4340-b138-c73ee81a9c6f.png)

error in log
![image](https://user-images.githubusercontent.com/25713782/141171131-026ad904-9d17-4c58-bc25-c76046cded6a.png)

[2021-11-10 18:25] maserowik commented on #774
![image](https://user-images.githubusercontent.com/25713782/141171507-e7296188-e60b-4cc3-8562-73dd78b2ccdc.png)
the lines came back.

[2021-11-10 18:29] EricClaeys commented on #298
@ennui2342, sorry to hear about your power supply.  The 224MC has a native resolution of 1304x976.  You have "width" and "height" set to 0 in the WebUI, correct?
Would you please attach (don't copy/paste) your config/config.sh file?

[2021-11-10 23:23] Clutch57 commented on #660
Do you want me to use V7 or V8 settings.  Likely won't get to trying it until Friday.

[2021-11-10 23:34] EricClaeys commented on #660
@Clutch57, please try Version 0.8 Exposure first, and only set it to "No" if you get ASI_ERROR_TIMEOUTs with it On.

[2021-11-11 00:05] Stef682 opened #778 "Error: dayOrNight isn't DAY or NIGHT, it's ''"
Hi,

I installed AllSky a long time ago and everything worked perfectly.

Since I had an old version I decided to delete the program and install the latest one.

Unfortunately now it no longer works. On the live view it is indicated that there is an error and that I must see the log file.

Here is the log file:
[code]
Apparently there is a problem with "dayfOrNight". I searched through the differe

[2021-11-11 04:07] maphilli14 commented on #650
I will try some of the other items  you suggested but here's what the capture0.7with0.8arguments.zip is doing for me tonight....
[allsky-20211110.log](https://github.com/thomasjacquin/allsky/files/7517662/allsky-20211110.log)
.

[2021-11-11 08:44] hoetzgit opened #780 "make error - mode_RPiHQ_mean.cpp - Ubuntu 20.04"
The following error occurs when compiling the actual release under Ubuntu 20.04.

[code]

I fixed the error with these adjustments, but I don't know if that's correct:
[code]

[code]

[2021-11-11 11:15] AndreasLMeg commented on #780
Maybe a opencv version problem? I will check this.

[2021-11-11 11:23] EricClaeys commented on #778
@Stef682, sorry you are having a problem.  Would you please attach (don't copy/paste) your settings_ZWO.json file?  If you installed the WebUI it will be in /etc/raspap, otherwise it's in ~/allsky or allsky/config.

Eric

[2021-11-11 12:00] maserowik commented on #778
@EricClaeys
Could this be the same issue I have?

log file look very similar.

Mike

[2021-11-11 12:30] Stef682 commented on #778
Thank you for your reply.

I am using the WebUI, so the file is in /etc/raspap.

Please find attached the requested file. When I tried to attach it, it told me that this type of file is not supported, so I had to put it into a zip file.
[settings_ZWO.zip](https://github.com/thomasjacquin/allsky/files/7520385/settings_ZWO.zip)

[2021-11-11 12:57] greg-the-maker commented on #780
I'm getting a similar error on Rasbian Lite with an RPi Zero 2.

`pi@allskyz:~/allsky $ ./install.sh

**********************************************
*** Welcome to the Allsky Camera installer ***
**********************************************

* Dependencies installation

make[1]: Entering directory '/home/pi/allsky/src'
2021-11-11 12:52:58 Installing build dependencies...
Hit:1 http://archive.ras

[2021-11-11 15:37] linuxkidd commented on #780
Hello all,
  Yes, as @AndreasLMeg theorized, this is due to a change in api when moving from OpenCV 3 to  OpenCV 4.  We'll get this patched up and posted to the repo shortly.

In the interim, the commands provided by @hoetzgit will allow compilation until the changes are made and merged into the repo.

[code]

Thanks!

[2021-11-11 15:49] EricClaeys commented on #778
@maserowik, Mike, I'm not aware of you every having the `ERROR: dayOrNight isn't DAY or NIGHT, it's ''` error, have you?

@Stef682, I used to zip files for the same reason you did, but recently have simply been appending ".txt" to the file name.  It's quicker than zip / unzip.
I'll look at the log.  Thanks for attaching it (much easier to read than long copy/paste).

[2021-11-11 16:03] EricClaeys commented on #778
@Stef682, please run the following command and let me know what it returns:
`sunwait poll angle -6 47.34N 7.30E`

Eric

[2021-11-11 16:13] EricClaeys commented on #734
The latest allsky/src/keogram.cpp fixes the original issue posted.
The same issue exists in allsky/src/startrails.cpp, and will be fixed soon.

[2021-11-11 16:54] #780 closed

[2021-11-11 16:54] AndreasLMeg commented on #780
https://github.com/thomasjacquin/allsky/pull/783#issue-1051174612

[2021-11-11 17:06] EricClaeys commented on #650
@maphilli14, 50005 means throttling and low voltage are currently happening, and happened in the past.
If you move the attached file (without the .txt on the end) to /var/www/html/includes, then go to the "System" link in the WebUI you'll see the throttle status.

If you are getting under-voltage, [this power unit](https://lifepo4wered.com/lifepo4wered-pi.html) may help.  Or use a more powerful po

[2021-11-11 17:19] Stef682 commented on #778
Sorry but nothing happens when I enter this command.

Did you think the problem could be with latitude and longitude? In the camera settings I clicked on "reset to default values", but even with the original coordinates (60.7N and 135.05W) the problem persists. Personally I don't think it comes from there.

Perhaps the easiest would be to uninstall the AllSky program and reinstall it. I had moreov

[2021-11-11 17:30] linuxkidd commented on #778
@Stef682 -- to be clear, when you run the command, does it just return to the prompt with no output?  Or does it say something like 'command not found' or.. ??

When I run it on my allsky box, I get:
[code]

Thanks!

[2021-11-11 17:46] EricClaeys commented on #778
@Stef682 I also got results when I tried with tour settings.
Try executing `type sunwait`.  It should return the full path name.  You can also ececute the command and then immediately execute `echo $?`.  That will give the exit code of the command.

Lastly you can try `strace sunwait poll angle -6 47.34N 7.30E` and share the output with us.

[2021-11-11 18:40] Stef682 commented on #778
When I run sunwait poll angle -6 47.34N 7.30E I have no answer, not even an error message (it just returns to the prompt).

When I run only sunwait it shows me explanations (apparently how to use this command).

When I run type sunwait it returns sunwait is /usr/local/bin/sunwait.

I have to execute echo $? after which command? When I run it after sunwait poll angle -6 47.34N 7.30E I get 3, and af

[2021-11-11 18:45] linuxkidd commented on #778
It looks like `sunwait` is having trouble getting the current time.  Can you try the following process:

[code]

The `dpkg-reconfigure` command should prompt you to select your timezone.  Technically, this shouldn't cause the problem you're experiencing, but a complete lack of actual current time on the box may.

The two date commands ( one above, one below ) should show us more about what's going

[2021-11-11 18:58] Stef682 commented on #778
I followed your procedure, but the date and time are correct:

pi@allsky:~ $ date
jeudi 11 novembre 2021, 19:53:25 (UTC+0100)
pi@allsky:~ $ sudo dpkg-reconfigure tzdata

Current default time zone: 'Europe/Paris'
Local time is now:      Thu Nov 11 19:53:50 CET 2021.
Universal Time is now:  Thu Nov 11 18:53:50 UTC 2021.

pi@allsky:~ $ date
jeudi 11 novembre 2021, 19:53:54 (UTC+0100)

[2021-11-11 18:59] linuxkidd commented on #778
Huh...  It's interesting too, that `sunwait` exit code 3 represents `NIGHT` when I reviewed the code.  Lemme dig through it a bit more.

[2021-11-11 19:11] linuxkidd commented on #778
Ok, is there any chance you can attach the `~pi/allsky/src/sunwait-src/sunwait.cpp` file for us to review?  It looks like it's skipping the part where it prints 'NIGHT', but the exit code is reported properly.   Looking at the upstream code, I don't see a reason this would happen, so I'm hoping the local code on your Pi holds the key.

Thanks!

[2021-11-11 19:28] Stef682 commented on #778
Please find attached the requested file:
[sunwait.cpp.txt.txt](https://github.com/thomasjacquin/allsky/files/7522819/sunwait.cpp.txt.txt)

[2021-11-11 19:29] Stef682 commented on #778
Please find attached the requested file:
[sunwait.cpp.txt](https://github.com/thomasjacquin/allsky/files/7522825/sunwait.cpp.txt)

[2021-11-11 20:03] linuxkidd commented on #778
Ok, the source is identical.  In comparing the `strace` output of your execution to mine locally, there is a missing `gettimeofday` call in yours, that mine does perform.

Can you try running `sunwait` with sudo?
[code]

[2021-11-11 20:07] Stef682 commented on #778
Even putting sudo in front of sunwait poll angle -6 47.34N 7.30E nothing happens, it returns to the prompt.

[2021-11-12 00:02] maserowik commented on #774
@EricClaeys
the fix you provided solved my issue with the software stopping.
mike

[2021-11-12 01:18] linuxkidd commented on #778
Hi @Stef682 ... this is a real head scratcher... I have to think it's some library / compile anomaly.  In hope that is the case, can I ask that you try the following process:
[code]

If that works, you can install this newly compiled version with:
[code]

Let us know the outcome.

[2021-11-12 01:47] EricClaeys commented on #778
@Stef682, you can also try:
`sunwait poll angle -6 47.34N 7.30E > /tmp/xzy; cat /tmp/xyz`
This will run the command and put the output (which so far there hasn't been any) into a temporary file, then display the contents of that file.  This is for the unlikely chance that sunwait doesn't like the device you're on so isn't printing output.

[2021-11-12 01:58] Stef682 commented on #778
I followed your procedure and got this:

pi@allsky:~ $ cd ~pi/allsky/src/sunwait-src
pi@allsky:~/allsky/src/sunwait-src $ make clean
rm -f *.o sunwait
pi@allsky:~/allsky/src/sunwait-src $ make all
gcc -c -Wall  sunwait.cpp -o sunwait.o
sunwait.cpp: In function ‘int main(int, char**)’:
sunwait.cpp:665:62: warning: value computed is not used [-Wunused-value]
     if (arg[0] == '-' && arg[1] != '\0'

[2021-11-12 02:01] linuxkidd commented on #778
Woo hoo!  glad to hear it.  I'll go ahead and close this issue since it seems like just an odd library / compile issue that was resolved with the the update/recompile.  Thanks for sticking in there while we worked through it!

[2021-11-12 02:01] #778 closed

[2021-11-12 02:03] Stef682 commented on #778
Thank you to you and the other members for your help.

[2021-11-12 02:35] EricClaeys commented on #778
@linuxkidd, should we update the code to get rid of the compiler warnings (which I could have sworn I did...)?

[2021-11-12 02:44] linuxkidd commented on #778
These warnings are from upstream code ( sunwait )... the best option would be to submit a PR to the sunwait repo to fix them.

[2021-11-12 03:23] EricClaeys commented on #778
Ah, I thought it looked familiar.  I submitted a PR weeks ago.  Looking at the Issues and PRs against sunwait, I don't think it's being actively maintained.

[2021-11-12 08:23] Hydrazine2501 commented on #720
Now both of my systems are ignoring the max exposure I've set and are using some sort of default of 20 seconds.

[2021-11-12 11:25] maserowik commented on #774
@EricClaeys
I know the issue is currently fix on the Pi I am using.  When I do a new git pull will the fix be there or have they yet been merged into the code?

Sorry to reopen the ticket.
Mike

[2021-11-12 12:54] EricClaeys commented on #774
@maserowik, the fix is NOT yet in Git.  It only impacts the src/capture.cpp file so you're safe to grab any other updates.
Keep bugging me until I put the fix in and have it merged.

[2021-11-12 13:08] EricClaeys commented on #720
@Hydrazine2501, the last exposure in the log file was for 11.3 seconds.  Where are you getting the 20 seconds from?

FYI, your .png files are taking a little over 3 seconds to save.  With a 3 second daytime delay you run the risk of skipped images when it tries to save a file when it's already saving one.  You may want to increase the delay slightly.
Are you saving the files to SD card?  I have a

[2021-11-12 18:45] Clutch57 commented on #660
The sky was clear with some clouds so I worked my way though the instructions.  The weather turned to solid clouds and rain while I was preparing the test.  I'm not sure if this is a good test case as the sky is currently a close approximation of a grey card.

[allsky.log](https://github.com/thomasjacquin/allsky/files/7529748/allsky.log)

I can run this again on a nicer day.

Thanks,

[2021-11-12 23:08] EricClaeys commented on #660
@Clutch57, can I see the video created from the images taken that the log file is from?  Basically 1 pm - 2 pm today.
One way to do this is the create `allsky/images/test` and copy files from allsky/images/20211112 taken between 1 - 2 pm to the "test" directory.  Then run `scripts/generateForDay.sh -t test`.  When done the timelapse video will be in allsky/images/test.

It shouldn't be that big so

[2021-11-12 23:20] Hydrazine2501 commented on #720
I assumed that since it's ignoring the max exposure in the settings file it was using this as max value:

Nov 12 01:26:52 allsky-cam02 allsky.sh[6002]: - Exposure:
Nov 12 01:26:52 allsky-cam02 allsky.sh[6002]:    - MinValue = 32
Nov 12 01:26:52 allsky-cam02 allsky.sh[6002]:    - MaxValue = 2000000000
Nov 12 01:26:52 allsky-cam02 allsky.sh[6002]:    - DefaultValue = 10000
Nov 12 01:26:52 allsky-cam

[2021-11-12 23:23] Hydrazine2501 commented on #720
I'm ignoring daytime results for the moment, until I get nighttime results to be consistent since that's what I care about.  I'll push out the delay to cover the daytime save though.

I'm using an SD card with a pi4/8gb.  I have a small SSD I could try swapping in as well, but last time I tried that I ran into trouble locating the software anywhere but /home/pi/allsky.  I haven't tried to run it f

[2021-11-12 23:53] Hydrazine2501 commented on #720
Does anything the system does depend on thumbnails?  I don't ever need them so I commented out the line that does the conversion.

[2021-11-13 00:44] Hydrazine2501 commented on #720
Ok, I have reinstalled and I really don't understand how the settings work.  I have this:

   "nightmaxexposure":"4000",
   "nightdelay":"4000",

and it's taking images every four seconds and the exposure is bouncing all over the place, and isn't respecting the max night exposure:
[allsky.log](https://github.com/thomasjacquin/allsky/files/7531122/allsky.log)

[2021-11-13 05:12] eat-sleep-code opened #788 "Can not login to portal after following upgrade instructions in Wiki"
I followed the upgrade instructions in the Wiki.    I am to the part where after reinstalling the server and the portal UI I and rebooting, I am supposed to login.

I go to http://192.168.1.11

I get prompted to enter username and password and enter the default "admin" and "secret" it says I am to use, but I keep getting prompted over and over, and the UI never loads.

[2021-11-13 07:42] EricClaeys commented on #720
@Hydrazine2501,  I suggest you install and use the WebUI to make all your setting changes.  It describes what the fields are and has more meaningful labels.  I couldn't remember what "nightmaxexposure" was so had to look it up.  It's the "Maximum nightime auto-exposure time in ms (1000ms = 1 sec)" and is only used when auto-exposure is set.  A value of 4000 is only 4 seconds which seems extremely

[2021-11-13 13:21] adibu opened #789 "RPiHQ camera not found error (raspistill depreciated on Raspberry Pi OS Bullseye?)"
Had an installation as of thee weeks ago was running stable. Decided to reinstall it from scratch (new sd card, new git clone, new install).

Executing /allsky.sh now I am getting:  "***** Starting AllSky ***** RPiHQ Camera not found. Exiting."

Executing libcamera-hello -t 0 works nicely and outputs a video stream so it cannot be the camera hardware itself.
Is this an error or how can I debug fur

[2021-11-13 13:46] AndreasLMeg opened #790 "allsky install: capture.cpp:1:28: fatal error: opencv2/core.hpp"
Hello erveryone !

Would make a 2nd testsystem, took an old RP3 and installed allsky.
Got this message: capture.cpp:1:28: fatal error: opencv2/core.hpp: Datei oder Verzeichnis nicht gefunden

Pi Model 3B incompatible / wrong libopencv version ?

Apparently there is a difference between Raspi3 and Raspi4.
Has this been observed or corrected before?
Before I look around for a long time, I'd rather a

[2021-11-13 14:38] trohol commented on #720
@EricClaeys Have tested my setup (0.8) a few days outdoors now, and it works fine except that it never chooses an exposure time longer than 30s, even though I have chosen nightmaxexposure to 45s (the bug?). Daytime exposure does not work so well, the camera stays at 15s exposure all the time while gain is set to 0. Image is quite overexposed, but we are approaching the dark season here on Svalbard

[2021-11-13 15:23] EricClaeys commented on #720
@trohol I would need to see your log file to determine what's happening. Try using the file I attached here earlier today.  The instructions were posted 4 days ago.  Set Debug Level to 3.

[2021-11-13 15:44] EricClaeys commented on #789
@adibu do you enable the camera port using raspi-config (or is it config-raspi?).
Look in allsky.sh for how it's looking for rhe camera.  It uses the vcgencmd command, and try thoe commands manually.   Sorry, I am not on my PC right now.

[2021-11-13 18:09] Fredooo51 opened #791 "Raspberry camera always in autoexposure"
Hi.

Following upgrade to 0.8.1 from 0.8.0, night images were all captured with autoexposure ON.

I find a woarkaround by commenting out capture_extra_parameters from allsky.sh. Before that, these two parameters were always added to arguments list (looking at capture_args.txt): --mean-value 0.3 -autoexposure 1

[2021-11-13 21:26] EricClaeys commented on #791
@Fredooo51 I assume you meant config.sh, which is where the variable is defined?
Where you having a problem with the autoexposure?  @AndreasLMeg improved the algorithm a couple days ago.

[2021-11-14 00:57] Hydrazine2501 commented on #720
Glad it was a bug.  I was starting to doubt my sanity.  LMK when the PR gets merged and I'll try the new version and give feedback.

[2021-11-14 02:25] AndreasLMeg commented on #791
Sorry, for the parameter in config.sh. It's a BUG to set these default values. Only for RPiHQ users it should be the way to activate the the new  improved algorithm.

I will fix this.
@Fredooo51 : thx for the response.

[2021-11-14 02:38] AndreasLMeg commented on #791
made pull request  https://github.com/thomasjacquin/allsky/pull/792 to fix this bug,

[2021-11-14 02:44] AndreasLMeg commented on #791
@Fredooo51,
could you give a feedback ? - with activated parameter the "mean" algorithm for RPiHQ is active - do you have keogram and timelapse - this would be very important for me.

[2021-11-14 03:16] maphilli14 commented on #650
I'm happy to play with the hardware a bit more but it's confusing to me why the same hardware used to work and now does not.  could the camera be at any fault?
`
Throttle Status | Not able to get throttle status:sudo: no tty present and no askpass program specified
`

[2021-11-14 04:21] EricClaeys commented on #650
@maphilli14, to get the WebUI to correctly display the throttle status, download the latest `includes/system.php` from `allsky-portal` and the latest `gui/sudoers` from `allsky`.  Then:
`sudo cp gui/sudoers /etc/sudoers.d/allsky`

I don't know why things used to work but don't now.  One possibility is they didn't always work, but the software didn't tell you and the problems weren'tusually bad eno

[2021-11-14 04:30] EricClaeys commented on #650
@maphilli14 Are you sure you were running the version 7 with 8 arguments code when you got the Segmentation fault?  The was a bug introduced in 0.8 that caused a segmentation fault, but it wasn't in 0.7.
Could you do me a favor and set Debug Level to 4 and run with that version for a minute, then attach the log file?
Thanks

[2021-11-14 05:55] rodrigoluk commented on #791
Hi,
So, I also discovered that capture_RPiHQ would end up taking very short exposures so I changed the variable to "". If mode mean is available now, how do I turn it on? What files do I need to change?
Thanks 😊

[2021-11-14 06:58] AndreasLMeg commented on #791
@rodrigoluk

1. config.sh: CAPTURE EXTRA PARAMETERS="-mean-value 0.3 -autoexposure 1"
2. GUI: Activate "Auto-Gain"

please give me feedback (allsky.log, image, url, keogram).

[2021-11-14 07:17] AndreasLMeg commented on #791
some background infos: #794

[2021-11-14 08:41] Fredooo51 commented on #791
Hi Andreas.

Yes, it was in config.so. I have Keogram and Timelapse active. Autoexposure issue occurred in night mode where I set manually exposure to 25s, it was not taken into account since autoexposure was on whatever I set.

Thanks for your support.

[2021-11-14 09:01] adibu commented on #789
Hi Eric - many thanks also for the guidance on where to start investigating! And I think I found what is wrong ...

a) yes it is enabled
b) libcamera is able to capture (libcamera-hello -t 0) without any issues
c) vcgencmd get_camera shows supported=0 detected=0 though
d) faking the condition on camera detection to true (1) I can run allsky.sh and it then log what it is using to capture as:
"nice

[2021-11-14 10:26] adibu commented on #789
https://downloads.raspberrypi.org/raspios_armhf/release_notes.txt
  * New camera demo applications (libcamera-still and libcamera-vid) have replaced raspistill and raspivid

[2021-11-14 16:49] adibu commented on #789
@EricClaeys After re-installation to the last Buster release I can confirm:

- raspistill is depreciated with the latest Raspberry OS release Bullseye as of end of October - the new command is libcamera
- it works like a charm once switched back to Raspberry OS release Buster which still has raspistill included

Many thanks for your input the hint what allsky.sh does (I am not a developer but can

[2021-11-14 17:17] rodrigoluk commented on #791
This is daytime -after enabling mean mode (with debug level 1):

CAPTURE_EXTRA_PARAMETERS="--mean-value 0.3 -autoexposure 1"
Auto-Gain = yes

Nov 14 14:26:37 allsky allsky.sh[23230]: Capturing & saving image...
Nov 14 14:26:37 allsky allsky.sh[23230]: Capture command: nice raspistill --nopreview --thumb none --output image.jpg --burst -st --mode 3 --exposure auto --analoggain 1 --awb off --awbgain

[2021-11-14 17:45] AndreasLMeg commented on #791
@rodrigoluk

With
1. **debug level 3** and
2. **CAPTURE_EXTRA_PARAMETERS="-mean-value 0.3 -autoexposure 1"**
I got this messages (only the important)

[code]

Can you send me you allsky.log file for checking ?

[2021-11-14 18:19] rodrigoluk commented on #791
Oh! Actually, the images coming are quite dark so, I disabled Auto-Gain. Below you can see the difference:
![image-20211114181436](https://user-images.githubusercontent.com/32520382/141693422-a87eba8d-698b-451c-b19b-b063c43c47a6.jpg)
![image-20211114181629](https://user-images.githubusercontent.com/32520382/141693424-351eda82-c428-4d0e-b1ae-2a5fdb5d0be3.jpg)

[2021-11-14 18:30] AndreasLMeg commented on #791
first i want to check the logging - to be sure the "mean mode" is running, then we can check the images and the mean value.

[2021-11-14 18:59] AndreasLMeg commented on #791
for me it only makes sense to work with autogain, so I did not consider this situation. I have already found the cause of the wrong texts (only in this situation), but I still have to come up with a solution ...

Autogain active: please change the mean value to 0.5 or more, if the image is to dark for you.

[2021-11-14 21:56] EricClaeys commented on #789
@adibu is raspstill on the Bullseye release or did they remove it?

[2021-11-14 22:07] maphilli14 commented on #650
I pulled the setup off the roof and put it into the lab.  Yanking the uSD from the Pi3 and putting into a Pi4 with proper power supply on the wall, I find some odd behavior.  The issues of no exp >1s are consistent with the Pi4 and a new USB3 cable on the ASI174mm.  The issue goes away after replacing with an ASI290.  I'll test more but I'm thinking it's either drivers/config or hardware/camera is

[2021-11-15 01:20] EricClaeys commented on #650
@maphilli14, pretty strange.  The ASI174 works fine in Windows but not on either Pi using oacapture OR AllSky, which implies it's not a Pi hardware issue (although it could be).  It's very possible an issue with ZWO drivers.

[2021-11-15 03:04] maphilli14 commented on #650
That is my guess as well, this is long and extensive but likely no resolution since June 2021?   https://bbs.astronomy-imaging-camera.com/d/12315-libasicamera2-for-aarch64/58  I'll keep searching but that....
`
Exposure Status: 3`

sounds similar to what I had as well.  I wonder if some change in Buster made it malfunction beyond >1sec?

[2021-11-15 03:17] maphilli14 commented on #650
https://github.com/OpenPHDGuiding/phd2/issues/936
what's all this mean?

[2021-11-15 08:18] rodrigoluk commented on #791
Ok. Andreas - I'm very grateful youare looking into this. Please see a compress log from yesterday and today.
Much appreciated.
[allsky.log.gz](https://github.com/thomasjacquin/allsky/files/7536985/allsky.log.gz)

[2021-11-15 13:05] adibu commented on #789
Yes that is yet an unsolved mystery for me - fact is it now works under Buster while id didnt under Bullseye.

The change note mentions for the latest Bullseye release:
  * New default camera subsystem based on libcamera
  * New camera demo applications (libcamera-still and libcamera-vid) have replaced raspistill and raspivid
  * Legacy camera subsystem removed from 64-bit RPi OS (still available

[2021-11-15 14:29] maphilli14 commented on #650
Just catching a daytime crash too....

[code]

[2021-11-15 16:21] linuxkidd commented on #790
[code]
^^ That's a very old version of OpenCV.. running on Debian 9 ( Stretch ).  I don't think there's any plan to support that old of a release.. best to upgrade to newer Raspberry Pi OS version.

Thanks!

[2021-11-15 16:30] EricClaeys commented on #790
@linuxkidd, @ckuethe,
this brings up an important topic.  What versions of the operating system will we support?
Stretch?  Debian version 11 (bullseye) that came out a couple weeks ago (and that doesn't work with the RPiHQ camera)?
We should probably state this in the README.md file.

[2021-11-15 16:35] EricClaeys commented on #789
@adibu looks like our development team has some work ahead of us, to get AllSky to work on Bullseye.  Thanks for bringing this to our attention.

[2021-11-15 17:56] AndreasLMeg commented on #791
@rodrigoluk
I have now made an adjustment (not merged) so that no incorrect values ​​are displayed.

But I have to consider: mean control works DAY and night with the same parameters.
1. autoGain active: (1 ... Gain), otherwise always with Gain
2. autoExposure active: (1µs ... Exposure) otherwise always with Exposure

That means it only makes sense to set both values ​​to AUTO.

[2021-11-15 17:58] AndreasLMeg commented on #791
I need a logging with activated mean control. (+autoExposre +autoGain)

[2021-11-15 18:23] AndreasLMeg commented on #790
Thanks for the information.
Yes, this is a very old Raspi that I found there ;-)
I will take a look at the update on the weekend and report my findings if necessary

[2021-11-15 22:57] rodrigoluk commented on #791
Somewhere after 17:04 I changed to the parameters you recommended and then
at 18:15 I switched them off as I was getting short dark images anyway.
Exposure was 60s but the gain seems to be stuck at 1. I switch back on at
22:43 for the rest of the night but now all exposures where too fast (like
10s). I've always saved the settings to ensure the software restarts.

Tonight we have a clear night her

[2021-11-15 23:04] rodrigoluk commented on #791
Hi,

I'm confused here. There is no autoexposure setting for the RPiHQ camera in
the software. That seems to be missing.

Kind regards and thanks for your help again.

R.

On Mon, 15 Nov 2021, 17:56 AndreasLMeg, ***@***.***> wrote:

[2021-11-16 00:03] EricClaeys commented on #790
@AndreasLMeg please note that if you install the latest Raspberry OS then raspistill isn't there and the RPiHQ camera won't work.
We're going to need to use libcamera-still instead, and make sure it supports all our options.

Longer term we should use the libcamera library instead of their command, at which point the ZWO and RPiHQ code can be a lot closer to the same.

[2021-11-16 03:07] EricClaeys commented on #650
@maphilli14, Would you please attach the version of capture.cpp you are using, that's giving the errors?  I want to make a change and have you try it.

The OpenPHDGuiding/phd2#936 stuff is an issue in PHD2, not in AllSky.  They are calling some ZWO functions but not checking the return status.  I added a lot of that status checking in version 0.8.

I'm reading through the long ZWO post to see if t

[2021-11-16 03:16] maphilli14 commented on #650
I sure can!  I did a fresh git clone when I switched to the Pi4....
[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7543087/capture.cpp.txt)

[2021-11-16 03:27] EricClaeys commented on #650
@maphilli14 thanks Mike.  Would you please try with this file.  All I did was change the timeout of a capture to "wait forever", and changed the version string to include "timeout=-1" so we know which version you are running.
Please stop the service, run `sudo truncate -s 0 /var/log/allsky.log`, then compile this and copy allsky/src/capture to allsky.  Then post a log.

[Mike's capture.cpp.txt](ht

[2021-11-16 04:50] maphilli14 commented on #650
seems to fail even at <=1sec still, but all day it was stable on oacapture with same hardware!  :(
[allsky-log-20211115.txt](https://github.com/thomasjacquin/allsky/files/7543479/allsky-log-20211115.txt)

[2021-11-16 04:52] maphilli14 commented on #650
what are these?
[code]

[2021-11-16 04:56] maphilli14 commented on #650
[code]

[2021-11-16 06:21] AndreasLMeg commented on #791
[code]

`(li-Fri Nov 12 13:39:58 2021)` : this is the compile timestamp, very useful for me and my tests.
`--exposure auto`: looks like, the the parameters are not correct. Is "-autoexposure 1" set? You have to use CAPTURE_EXTRA_PARAMETERS, setting is not available in GUI

**Please check parameters and GUI setting (autoGain active) und please send me allsky.log**
  CAPTURE_EXTRA_PARAMETERS="-mean-

[2021-11-16 06:58] EricClaeys commented on #650
@maphilli14, Hi, the log file you recently posted isn't from `Mike's capture.cpp.txt`; it's from the version you had been running.  After you do a `cd src; make capture` you need to `cp capture ..` then restart the service.  Sorry I forgot to mention that.  So the commands would be:
[code]
If you run "make capture" in the "allsky" directory it tries to make everything under the sun.
The version di

[2021-11-16 12:35] rodrigoluk commented on #791
Hi Andreas, Please see attached the log from last night. I had a power failure at one point (close to midnight).
CAPTURE_EXTRA_PARAMETERS="--mean-value 0.5 -autoexposure 1" (config.sh) and Auto Gain =yes are both set.
Note changes at 17:02, 22:39 and 23:26 (CAPTURE_EXTRA_PARAMETERS=""). The image below shows the thumbs from when the night exposures start at 16:48 and to 19:22.

When I change to CA

[2021-11-16 14:15] maphilli14 commented on #650
I feel like a n00b for compiling, I've been doing it since slackware 2.4, but still don't get it all right!  😔
I think I did it right but don't see timeout=-1 in the logs...
it seemed to do a daytime capture for a bit longer than normal, but did eventually die.
I feel like there something underlying for libraries or drivers that is causing a difference between the 174 and the 290 on buster.  Both

[2021-11-16 14:51] AndreasLMeg commented on #791
quick review:
[code]
I think  --mean-value is not supported, -autoexposure is set

maybe that is the reason:  use "-mean-value" instead of "--mean-value"
`
"-mean-value 0.3 -autoexposure 1"
`

[2021-11-16 15:00] rodrigoluk commented on #791
I will give that a try, Makes more sense now. Thanks! I will report as soon as it gets dark.

Manythanks!

[2021-11-16 15:57] EricClaeys commented on #791
@AndreasLMeg FYI, the example in config.sh has "--mean-value" (two minus signs).
I suggest we add that setting to the WebUI and config.repo/settings_RPiHQ.json.repo, then remove the comment from config.sh.repo.

[2021-11-16 16:13] EricClaeys commented on #650
@maphilli14 Try `cd src; grep "Allsky Camera" capture.cpp` and see if it has the correct version.

If you do another run, please set the Debug Level to 4.  It was 0 in your last run which hides almost all the output I need.

Thanks.

[2021-11-16 17:28] AndreasLMeg commented on #790
@EricClaeys
I close the issue, because of the very old Raspberry Pi OS....

[2021-11-16 17:28] #790 closed

[2021-11-16 20:30] EricClaeys commented on #791
@AndreasLMeg I'm running with auto-exposure on with the libcamera changes.  So far it's running fine although I haven't tested it much.

Attached is the .cpp file I used.  You'll see a bunch of comments with "xx" in them - those are lines I commented out that don't work in libcamera.  We'll want to remove them going forward.

libcamera doesn't have a digital gain setting.  Instead, if the gain is

[2021-11-16 20:34] rodrigoluk commented on #791
Changing the "--mean-value" to "-mean-value" has done the trick. Now I'm
getting exposure values as expected 😁

Yes, it would make sense to restore this setting to the WebUI.

Thank you!

R.

On Tue, 16 Nov 2021, 15:58 EricClaeys, ***@***.***> wrote:

[2021-11-16 20:42] EricClaeys commented on #791
@Fredooo51 if this fixes the problem for you, would you please close the Issue?
Thanks.

[2021-11-16 20:47] maphilli14 commented on #650
printf("%s *** Allsky Camera Software v0.8.1b |  2021 ***\n", KGRN);
and it seems pretty stable right now

[2021-11-16 21:05] rodrigoluk commented on #791
Done.

[2021-11-16 22:53] maphilli14 commented on #650
[allsky-log-20211116b.txt](https://github.com/thomasjacquin/allsky/files/7550400/allsky-log-20211116b.txt)

with failure

[2021-11-17 02:46] EricClaeys commented on #650
@maphilli14, The "grep" for the file you want will return
`printf("%s *** Allsky Camera Software v0.8.1b, timeout=-1 |  2021 ***\n", KGRN);`
I attached that file.
[maphilli14-capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7551283/maphilli14-capture.cpp.txt)

[2021-11-17 02:51] EricClaeys commented on #650
@maphilli14, if the file I just attached doesn't help, something you can try is to add `swiotlb=131072` to end of the line (NOT on a new line) in `/boot/cmdline.txt`, then reboot.

[2021-11-17 06:55] AndreasLMeg commented on #791
@EricClaeys
I'll check the changes over the weekend. Isn't it a good time for a new version BEFORE we make the libcamera adjustments?

[2021-11-17 12:29] maserowik commented on #774
@EricClaeys
Just checking to see if you were able to get the "FIX" added to the git yet?.  I like to do a new git pull but do not want to break what you fixed.  not sure how to just grab the updates?  Is there something in the wiki i can follow?

Mike

[2021-11-17 15:28] maphilli14 commented on #650
I hope I didn't confuse myself with capture.cpp and capture.txt in the src directory... I think i have the right one this time...

![image](https://user-images.githubusercontent.com/6034105/142229804-2d582b65-9779-4b15-bc91-ca1dd601cc81.png)

[2021-11-17 18:04] maphilli14 commented on #650
3hrs and stable for daytime!  🤞

[2021-11-17 18:13] EricClaeys commented on #650
@maphilli14 woo-hoo!  This is the best it's ever done, right?
Can you send me the log file?

[2021-11-17 18:49] Amenophis54 opened #805 "allsky-website installation"
Hello,

I can't clearly find the installation steps to get the allsky-website.

Indeed, all the steps for the allsky-portal are very well described but I cannot understand how to install the website on my RPI 4.

I do not have a website and I access my allsky via the IP address of the Raspberry Pi .

Thank you very much.

[2021-11-17 19:19] EricClaeys commented on #805
@Amenophis54 On [the main Git page](https://github.com/thomasjacquin/allsky) search  for the heading **Show your sky on your own website**.  There's not much to do to install allsky-website.
Once you've installed it, look at the descriptions of the settings on the [allsky-website page](https://github.com/thomasjacquin/allsky-website).

If this answers you question, please close this Issue.  Thanks

[2021-11-17 19:32] Amenophis54 commented on #805
Thank you very much for your answer.

I saw this section, but when it says:
"download the source files from this repository: https://github.com/thomasjacquin/allsky-website.git."

How to save the requested files?
Do I have to download them one by one?
Are there any commands to run in the terminal?

Then, as I want to save the website on my raspberry, I have to type the command:
website / install.s

[2021-11-17 19:41] maphilli14 commented on #650
[allsky-log-20211117.txt](https://github.com/thomasjacquin/allsky/files/7557543/allsky-log-20211117.txt)

[2021-11-17 19:43] EricClaeys commented on #805
@Amenophis54, the documentation isn't as clear as it could be.
You can host the website on a different machine or on the Pi.
If on a different machine you need to "download the source files..."
If on the Pi, you just need to execute `website/install.sh` then set up the variables as shown so it copies the startrails and other files to the website.  Then update the settings per the allsky-website pa

[2021-11-17 19:47] Amenophis54 commented on #805
Thank you very much for your reply.
I will try to feel that way with your details.

[2021-11-17 19:47] #805 closed

[2021-11-17 19:48] EricClaeys commented on #805
@Amenophis54 My pleasure.  If you have any other questions, please add them to the Discussions link, not an Issue.  Thanks much.

[2021-11-17 19:58] trohol commented on #720
@EricClaeys Tried the last file you attached. Still the same result, will not exceed 30s exposure. The camera was completely covered during the test.
[allsky_v0.8.1g.log](https://github.com/thomasjacquin/allsky/files/7557602/allsky_v0.8.1g.log)

[2021-11-17 23:32] maphilli14 commented on #650
[allsky-log-20211117b-nighterr.txt](https://github.com/thomasjacquin/allsky/files/7558631/allsky-log-20211117b-nighterr.txt)

now it just seems to stop new captures once it hits an error.  It doesn't error out, just holds the last known good image

IE froze on frame 18:28:45 and kept displaying that instead of any new ones and also didn't display the red stopped in liveview

[2021-11-17 23:33] loykastj opened #807 "Old copy of buster lite to use with allky and RPiHQ cam?"
Like others, I can't get the RPiHQ camera to work with the Bullseye release.

I downloaded an old copy of Raspbian buster lite, and followed the steps to install allsky.

I'm still getting an error when loading the GUI screen that the pi camera isn't setup correctly.

Can anyone point me in the direction of a known working buster lite file that I can use with the RPiHQ cam and allsky?

[2021-11-18 04:40] EricClaeys commented on #807
@loykastj, I see you noticed the Discussion article about this, and I replied.
I'm closing this Issue since we can track it in the Discussion.

[2021-11-18 04:40] #807 closed

[2021-11-18 04:42] EricClaeys commented on #789
@adibu, I added a [Discussion item](https://github.com/thomasjacquin/allsky/discussions/802) about this, so will close this Issue.
I have a version of the capture program that works with libcamera, but need people to test on Bullseye.

[2021-11-18 04:42] #789 closed

[2021-11-18 04:44] EricClaeys commented on #788
@eat-sleep-code, please see [this Wiki page](https://github.com/thomasjacquin/allsky/wiki/Troubleshooting:-WebUI-and-Website).  If that doesn't work for you, please re-open this Issue.

[2021-11-18 04:44] #788 closed

[2021-11-18 04:44] EricClaeys commented on #769
Closing - no user response.

[2021-11-18 04:44] #769 closed

[2021-11-18 04:46] EricClaeys commented on #774
@maserowik, not yet, although I did create a [Pull Request](https://github.com/thomasjacquin/allsky/pull/800) with the change, but it's waiting to be approved.

[2021-11-18 06:55] eat-sleep-code commented on #788
Thanks this resolved it.

[2021-11-18 12:29] maserowik commented on #774
@EricClaeys
Thanks  I will close the issue once the Pull Request gets approved.

Mike

[2021-11-19 03:20] EricClaeys commented on #650
@maphilli14, the change I made in the file was to have it wait forever for the camera to return an image.  This was on the off-chance that the ASI_ERROR_TIMEOUTs you were seeing were really timeouts.

What happened when you ran it is that all the sub-second pictures worked fine, but once it tried a picture > 1 second the camera never returned.  It went for about 1 hour 8 minutes, then I assume you

[2021-11-19 07:02] EricClaeys commented on #720
@trohol,
Hmmm.  Nothing in the log file jumps out.  Would you please increase the Debug Level to 4 and try with the attached file?
As before, do the following:
[code]

Also, can you look in the `allsky/darks` directory to see if the nine files are 0 length?  The log file said they were and they should have been deleted, but the message about them appeared after every shot, implying there were not

[2021-11-19 09:49] EricClaeys commented on #641
@morzineIT, any update?

[2021-11-19 10:56] EricClaeys commented on #655
@Tartouffe, is it still working well?  If so, would you please close this issue?  Thanks.

[2021-11-19 11:00] EricClaeys commented on #650
@maphilli14, try this version AFTER your current version with "Version 0.8 exposure" OFF.
The timeout in this newer version is back to normal

[capture.cpp.txt](https://github.com/thomasjacquin/allsky/files/7569737/capture.cpp.txt)

[2021-11-19 11:03] EricClaeys commented on #570
@Jonk2, I believe the latest keogram file works and will resolve the problem you were having.
If this Issue is resolved, would you please close it?  Thanks.

[2021-11-19 11:14] EricClaeys commented on #739
@andjones132, I may have found the issue with the 720 versus 719.  The resize command tries to keep the original aspect ratio of the image.  At 1304x976 the aspect ratio is 1.336.  The aspect ratio of 960x720 is 1.333.  That tiny difference is probably 1 pixel.

Try setting `TIMELAPSEHEIGHT="720!"` in the config.sh file.  Make sure you include the quotes.  The "!" should force the resize command t

[2021-11-19 12:49] morzineIT commented on #641
I'm a little confused.  I updated the software and the problem seemed to
still be the same,
Then, I left it a few days and then it seemed to have mostly gone away.
I think that now I've upgraded to an SSD it maybe is less likely to have a
read clash as it's much quicker.

I get split frames on average about 1 in 50 now sometimes more sometimes
less.

I think I will upgrade to a Pi4 and see what th

[2021-11-19 12:53] EricClaeys commented on #641
@morzineIT, did you check if you updated the camera's firmware?

Are there any messages in `/var/log/lighttpd/error.log`, or any messages in `/var/log/allsky.log` about not being able to save a file because one is already being saved?

[2021-11-19 13:54] greg-the-maker opened #811 "raspistill & libcamera-still"
I have been trying to get AllSky to work with the raspberry pi zero 2 and HQ camera.

I have the latest Lite (31/10/21) and this distribution doesnt have raspistill, it seems that everything has / is in the process of, swapping to libcamera (https://www.raspberrypi.com/documentation/accessories/camera.html#libcamera-and-libcamera-apps). As a consequence I get errors with allsky.

`Nov 19 13:29:26

[2021-11-19 14:02] morzineIT commented on #641
https://www.dropbox.com/s/jmngwcku7ku74e2/ALLSKYlOGS.zip?dl=0

On Fri, 19 Nov 2021 at 14:51, Lee Massey ***@***.***> wrote:

[2021-11-19 14:08] AndreasLMeg commented on #811
@greg-the-maker bullseye not supported, but they try to solve it. Please read this: "RPiHQ cameras on Bullseye" #802

[2021-11-19 15:18] AndreasLMeg commented on #811
I understand you. I also had to learn it a few days before ;-)

[2021-11-19 16:11] maphilli14 commented on #650
Will do, I'm eclipse tired today, hope to try this weekend!  Thanks much @EricClaeys

[2021-11-19 21:40] Clutch57 commented on #660
I wasn't saving daylight files.  I started getting black lines in the images that were being captured and thought I had water getting into my camera so I brought it in.  Last night I put it back out to capture the eclipse and I still had the lines even though I didn't see lines when I had my camera inside and looked at it using Sharpcap.  I copied in the capture program I was using before this tes

[2021-11-19 21:40] #660 closed

[2021-11-20 12:33] trohol commented on #720
@EricClaeys Hi, none of the images in allsky / darks are 0 in length. They are all in size 600-750kB. Attached dark at 5 ° as an example. The result after executing your command in result.txt. Testing the new capture.cpp file now.

[Result.txt](https://github.com/thomasjacquin/allsky/files/7574529/Result.txt)

![ 5](https://user-images.githubusercontent.com/93006904/142726129-66650e12-1c71-4194-ac

[2021-11-20 16:42] andjones132 commented on #739
Hi @EricClaeys. Thanks for following up. I used this resize method with the "!" and it worked.

[code]
I don't have any images right now in the the original (default) format of 1304×976. I can change it back tonight to the default and see how it goes.

Do I need to reinstall to get the new resize method with the "!" or just update one of the scripts?

[2021-11-20 16:54] trohol commented on #720
@EricClaeys Yes, the camera now uses the maximum exposure time (45s). Thanks! Attached log file.
[allsky.log](https://github.com/thomasjacquin/allsky/files/7574855/allsky.log)

[2021-11-20 16:55] EricClaeys commented on #739
@andjones132 That's good news!
You only need to set `TIMELAPSEHEIGHT="720!"` in the config.sh file. Make sure you include the quotes.

[2021-11-20 16:57] Tartouffe commented on #655
Sunny weather didn't happend these days, so i can't proof it by 100%. But with reduced USB bandwidth no more brigthness issues. It has to be that.
Thanks for the patience identifying this issue. :)

So if you got some too bright images, reduce the USB bandwidth.
I will close here.

[2021-11-20 16:57] #655 closed

[2021-11-20 18:44] andjones132 commented on #739
It is working with the 1304x976 images as well.

[code]

[2021-11-20 18:45] Skippyinspace opened #813 "updated allsky software, now cand access pi"
The usual if it can go wrong it will go wrong has happened. Ive updated the allsky software through VNC using the instructions on the wiki.
I  was given the allsky.local or IP of 169.254.167.220 and rebooted the pi which seemed to take a long time and I didn't get back in through VNC.
Ive tried allsky.local and the IP address and my PC browser just times out.
Ive tried VNC and it also times out.
I

[2021-11-20 19:45] EricClaeys commented on #813
@Skippyinspace An IP address that begins with 169.254 is what computers give themselves when they are not connected to a network.  For example, if you turn off Wifi on your laptop and reboot it will have an address like that.

What gave you the 169.254.167.220 address?
Have you tried usuing the 192.168.1.250 or 192.168.1.6 addresses?

The Allsky software doesn't change your network settings as far

[2021-11-20 19:51] EricClaeys commented on #811
@greg-the-maker, do you have the most recent `allsky/install.sh`?  It should have given you a message saying the RPiHQ camera isn’t supported on Bullseye, and pointed you to a GitHub page.
I have a version of the program that works with Bullseye.

[2021-11-20 19:54] Skippyinspace commented on #813
Thanks for the response. my answers below

What gave you the 169.254.167.220 address? - The pi  when the GUI was
updated.
Have you tried usuing the 192.168.1.250 or 192.168.1.6 addresses? yes I
did.and it just timed out

I think Ill take the pi from the Observatory tomorrow and give it a try in
the radio room computer monitors etc and see what happens with that

Thanks again

Ian

<http://www.avg.

[2021-11-20 22:58] greg-the-maker commented on #811
I did a git clone as per the instructions. I can't recall seeing a message about it, but I could have glossed over it. Although I did install 4 or 5 times during my learnings....

[2021-11-20 23:01] EricClaeys commented on #720
@trohol That's good news.
I'm still concerned about the messages saying it's removing dark files.  The first few shots had dark subtraction but as soon as the exposure hit 45 seconds it started giving those errors.
Would you please make sure you have the latest files from Git's "scripts" directory, then try again and post the log?
Thanks much!

[2021-11-20 23:33] EricClaeys commented on #739
@andjones132 Great.  Thanks for checking.
The timelapse was the only program that was complaining about height not being divisible by 2, correct?
I want to make sure I fix the offending command.

[2021-11-21 00:11] EricClaeys commented on #813
@Skippyinspace Interesting.  When you got the 169.254.167.220 address were you on the Pi's keyboard/monitor, or connected via LAN or WiFi ?

[2021-11-21 00:15] andjones132 commented on #739
@EricClaeys Yes, it was just the timelapse that was throwing the error.

[2021-11-21 09:11] Skippyinspace commented on #813
connected by wifi via vnc

On Sun, 21 Nov 2021, 00:11 EricClaeys, ***@***.***> wrote:

[2021-11-21 11:08] Skippyinspace commented on #813
Moved pi inside to radio room and all works fine, moved back to the
observatory and again wont connect to IP address so its clearly a wifi
issue.

Will see what happens as I have a meteor camera to install later this week
early next week in the same location.

Quite annoying as I have a BT Mesh disk in the Observatory saying its
connected to the wifi net work.

Thanks for the help.

Ian

<http://w

[2021-11-21 14:55] Skippyinspace commented on #813
After some investigation I discovered the wifi at the back of the house was
on a different channel to that at the front of the house. have now managed
to do the update etc,
So now to get the setting right for the ZWO178 and update the FTP settings.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.a

[2021-11-21 15:22] trohol commented on #720
@EricClaeys Replaced all the files in the "scripts" directory with new ones from Git and started the test during daytime exposure, and let it run until it had run a few minutes in nighttime exposure mode. Looks like the error messages is still present, but when looking in the "darks" directory, all the .jpg files displayed in the log file are marked with single quotes. Does it matter? Attached scr

[2021-11-21 22:03] Jonk2 commented on #570
Ok, I'm closing this as the keogram is produced and ftp is working ok at the moment.
I'm still unsure why every time a new piece of code is added you can't up the build number? Maybe a dicussion for another thread.

[2021-11-21 22:13] Jonk2 opened #818 "Feature request: Set camera cooler on when 'nighttime' starts, off when 'daytime' starts"
I have a ZWO ASI 178MC-Cool and I've noticed something that I think would be a wise thing to do.

During the day, short exposures are used and the sensor temperature doesn't get that high with respect to the ambient temperature. unless of course the sun's up in which case the camera sensor can get very high, and above the operating range of the cmos sensor.

The noise and any hot pixels aren't app

[2021-11-21 23:16] EricClaeys commented on #720
@trohol You found a bug.  Thanks for pointing it out.
The darkCapture.sh program was creating dark files with  leading space - the "ls" command will put single quotes around files with spaces in them, like all your single-digit temperature darks.
You'll want to fix those:
`mv ' 1.jpg'   01.jpg`
and so on for the other 8 files.  Since the sensor temperature isn't in the single digits yet, it hasn't

[2021-11-21 23:18] EricClaeys commented on #720
@arakeis, are you still seeing the problem you originally posted about? I haven't heard back from my suggestion on October 22.

[2021-11-21 23:47] trohol commented on #720
@EricClaeys Ok, thanks for the information! Will rename the files.

[2021-11-22 09:36] g8bhc commented on #641
I've occasionally had this split image effect with my ASI120MM connected to a Pi3. Changed the power supply to a genuine Raspberry Pi wall wart (2.5A) but low power warning persisted. Problem solved by connecting the camera via a powered usb hub.

[2021-11-22 10:08] morzineIT commented on #641
Thanks, that is very interesting as I have actually upgraded to an official
Pi3 charger - but if it is at it's limit (and I have extended the cable)
then that may explain the problem
My sudden improvements may have been related to the upgraded power supply -
it never occured to me that it may be power related

I have swapped out the Pi3/ ASI120 for a Pi4/ASI224MC  to compare and found
that it too

[2021-11-22 16:50] EricClaeys commented on #641
@morzineIT I don't see the attachment you referred to.

[2021-11-22 17:04] maphilli14 commented on #650
I had some initial good success <1s but it seems it might have died at some point... I am restarting and will try again tonight <1s and then later with >1s.... logs are 0bytes :(  stay tuned

[2021-11-22 20:59] morzineIT commented on #641
[image: image-20211122084129.jpg]

On Mon, 22 Nov 2021 at 17:51, EricClaeys ***@***.***> wrote:

[2021-11-23 15:45] maphilli14 commented on #650
I retested last night with exp=999 after finding I had set the exp to 1999ms and it failed... woke up this am to find it's in a "Allsky software is not running" state.  With logs.  I'm tempted to redo the entire uSD with fresh raspbian and use my old methods of pulling down the SDK and testing with oacapture before any allsky git clones..
[allsky-log-20211123a.zip](https://github.com/thomasjacquin

[2021-11-24 08:50] Amenophis54 opened #820 "Saturated image from the start of the day"
Hello,

I am currently having a problem because at the end of the night / start of the day I get a saturated image.

The exposure time is blocked on 15s whereas normally I am in automatic exposure.
The gain is 0 and the histogram is 254.

To solve the problem, I go back to the camera settings tab. I don't make any changes, I just click on the "Save change" button

Thank you in advance for your hel

[2021-11-24 09:32] EricClaeys commented on #820
@Amenophis54, I'll need a copy of your log to be able to help.  See [this page](https://github.com/thomasjacquin/allsky/wiki/Reporting-Issues) for instructions.

[2021-11-24 10:05] EricClaeys commented on #650
@maphilli14, it was in the "Allsky software is not running" state because as soon as daytime came, the "night max exposure" of 999 you set didn't apply so it quickly tried to take a picture over 1 second and died due to ASI_ERROR_TIMEOUTs.
Attached is a version of the camera_options_ZWO.json file that supports a daytime max exposure.
Copy it to /etc/raspap (will need sudo), then in the WebUI go to

[2021-11-24 10:21] Shand359 opened #821 "Camera Image blank"
I am once again struggling with the setup....

I updated the software to the newest version but when i reboot the RPi the liveview screen is totally blank...

[2021-11-24 10:31] EricClaeys commented on #821
@Shand359, can you attach (don't copy/paste) your config/config.sh and config/ftp-settings.sh files?  You may need to append ".txt" to their names.
Make sure to blank out any sensitive data in ftp-settings.sh.

You can also try pressing F12 in the web browser, then click on the "Network" link and refresh the browser window.  It should show what the name of the file is that it's trying to display.

[2021-11-24 10:48] Amenophis54 commented on #820
Thanks for your feedback. Here is the .log file
https://we.tl/t-R9iT1jbiAU

[2021-11-24 11:24] Shand359 commented on #821
Thank you for your quick reply..... this is so annoying as i had it working with a previous version.... both files you asked about have been attached...

[ftp-settings.sh.txt](https://github.com/thomasjacquin/allsky/files/7595216/ftp-settings.sh.txt)
[config.sh.txt](https://github.com/thomasjacquin/allsky/files/7595217/config.sh.txt)

[2021-11-24 11:33] Shand359 commented on #821
ok, from what i can see and figure out, it is trying and failing to load the liveview-image.jpg file....

[2021-11-24 12:49] maserowik commented on #774
@EricClaeys
I see you fix still has not been merged into the files
[https://github.com/thomasjacquin/allsky/pull/800](url)

Not to rush but any idea when it will be merged?

Miek

[2021-11-24 16:59] Shand359 commented on #821
Nov 24 16:29:41 raspberrypi allsky.sh[688]:      ***** Starting AllSky *****
Nov 24 16:29:42 raspberrypi allsky.sh[688]: RPiHQ Camera not found. Exiting.
Nov 24 16:34:05 raspberrypi allsky.sh[746]:      ***** Starting AllSky *****
Nov 24 16:34:05 raspberrypi allsky.sh[746]: RPiHQ Camera not found. Exiting.
Nov 24 16:37:50 allsky allsky.sh[781]:      ***** Starting AllSky *****
Nov 24 16:37:51 alls

[2021-11-24 17:01] EricClaeys commented on #821
@Shand359 That'll do it.
What do you get when you run `vcgencmd get_camera`  and `grep -i "VERSION_CODENAME=bullseye" /etc/os-release` ?

[2021-11-24 17:03] EricClaeys commented on #821
@Shand359, Did you keep restarting the service, or did it do that automatically?
After printing the "not found" message, it's supposed to stop the service.

[2021-11-24 19:17] EricClaeys commented on #820
@Amenophis54, please make sure you follow the instructions [here](https://github.com/thomasjacquin/allsky/wiki/Reporting-Issues).  Your Debug Level isn't 4 so there's no useful information in the log file.  Also, please attach the log file to your reply instead of using a 3rd party service.

A couple other things to check:
* Make sure you have the latest capture.cpp file from GitHub.  It should be

[2021-11-24 19:35] Shand359 commented on #821
it was probably me resetting and restarting the rpi

[2021-11-25 05:29] EricClaeys commented on #821
@Shand359
What do you get when you run `vcgencmd get_camera`  and `grep -i "VERSION_CODENAME=bullseye" /etc/os-release` ?

[2021-11-25 13:16] Shand359 commented on #821
pi@allsky:~ $ vcgencmd get_camera
supported=1 detected=0
pi@allsky:~ $ grep -i "VERSION_CODENAME=bullseye" /etc/os-release

[2021-11-25 18:17] samuelvoltarius commented on #821
Look vor 2020-02-13-raspbian-buster-full
on this it will run.

[2021-11-25 18:28] Shand359 commented on #821
I found a copy of buster and got it running like before on it. Thank you for that....

[2021-11-25 20:22] Shand359 commented on #821
I had to go back to an older RPi3 as the 4 kept crashing or freezing.... One day things will just work as intended.... lol

[2021-11-25 21:00] Shand359 commented on #811
Eric do u have a link to this updated file for the HQ camera in Bullseye OS...?

[2021-11-26 04:04] EricClaeys commented on #821
@Shand359 A possible hardware or power issue?  Were you running Allsky when the Pi 4 crashed and froze?

If your original problem has been resolved would you please close the iseue?

[2021-11-26 04:07] EricClaeys commented on #813
@Skippyinspace, if your problem has been resolved, and it sounds like it is, would you please close the Issue?
Thanks.

[2021-11-26 04:17] EricClaeys commented on #811
@Shand359, others,
For a TEST version of capture_RPiHQ that works on Bullseye, see my post around the middle of the page [here](https://github.com/thomasjacquin/allsky/discussions/802).
This version also supports most of the overlay options that are in the ZWO version (time, exposure, brightness, etc.).

Feedback, both good and bad, is appreciated.

[2021-11-26 07:34] EricClaeys commented on #811
@greg-the-maker, the message about "RPiHQ not supported on Bullseye" would have been in /var/log/allsky.log.  When Allsky runs it outputs all messages there.

[2021-11-26 12:36] greg-the-maker commented on #811
@EricClaeys I'll give the test version a try over the weekend.

I didn't think to look in the logs, I'd have had no idea where to look anyway. For people who know these things stuff like this is obvious, However, as this is all unknown and confusing nothing is obvious.

[2021-11-27 03:21] Apennine2 opened #828 ""nightmaxexposure" value ignored"
Hello,

I have a new issue where no matter what value I enter for "nightmaxexposure" (30s), the camera ramps up to a greater value (~60s).

I recently after changing multiple settings and configs in allsky reverted to the stock 0.8.1 version via a clean install, except with the update capture.sh v0.8.1g passed along by @EricClaeys .

Now, no matter what I set "nightmaxexposure" to, the camera goes

[2021-11-27 06:08] EricClaeys commented on #720
Closing - no update from original poster in over a month.

[2021-11-27 06:08] #720 closed

[2021-11-27 06:10] EricClaeys commented on #641
@morzineIT, the image didn't come through.  Unfortunately you need to attach it on the GitHub web page, it won't accept attachments when replying via email.

[2021-11-27 13:23] Pedritoprint commented on #821
I have the same Problem with my "**Raspberry Pi 4**", newest OS since days. After complete installation and configuration of OS with Windows "Raspberry Pi Imager" and the "allsky"-SW with your instructions here, the Liveview-Screen is also totally blank; only a small Icon in the top-left corner. I totally formatted the SD-Card 3-times without success, always same issue.

_**vcgencmd get_camera**_

[2021-11-27 17:15] Shand359 commented on #821
almost identical to my issue after a fresh clean install... I dont know enough about Rasbian/Linux or RPi software to play around with settings.... I can only follow the instructions that other people have typed....

[2021-11-27 20:15] EricClaeys commented on #821
@Shand359, @Pedritoprint, the command we use to determine if a RPiHQ camera is attached works differently in Bullseye so unfortunately the Allsky software thinks there is no camera when there actually is one.  So the software stops and you don't get any pictures.

We will fix, but in the meantime I posted a workaround in another discussion.   In allsky/allsky.sk there is a line that uses "vcgencmd

[2021-11-27 23:36] Shand359 commented on #821
Nov 27 23:35:52 allsky allsky.sh[28556]: [0:28:22.924995929] [28558] ERROR DelayedControls delayed_controls.cpp:87 Delay request for control id 0x009e0901 but control is not exposed by device /dev/video0
Nov 27 23:35:52 allsky allsky.sh[28556]: [0:28:22.926533469] [28558] ERROR DelayedControls delayed_controls.cpp:87 Delay request for control id 0x00980911 but control is not exposed by device /dev

[2021-11-28 10:03] Pedritoprint commented on #821
Thanks a lot, here my logfile after changing value to "1":
Nov 28 10:42:21 PedroSky allsky.sh[941]:      ***** Starting AllSky *****
Nov 28 10:42:22 PedroSky allsky.sh[941]: CAMERA: RPiHQ
Nov 28 10:42:22 PedroSky allsky.sh[941]: CAMERA_SETTINGS: /etc/raspap/settings_RPiHQ.json
Nov 28 10:42:22 PedroSky allsky.sh[941]: Starting allsky camera...
Nov 28 10:46:46 PedroSky allsky.sh[941]: ***
Nov 28 10:

[2021-11-28 16:02] Shand359 opened #829 "Website access..."
Stupid question here.....

Im having a brain fart dsy today.... I have the website installed on the RPi4 currrently.... How do I access this website now?

[2021-11-28 16:16] #829 closed

[2021-11-28 16:16] Shand359 commented on #829
figured it out

[2021-11-28 21:54] Shand359 commented on #821
I re-opened this simply to state that the allsky camera with the RPiHQ camera is now fully operational, running Bullseye OS on an RPi4.,....

Thank you to everyone who gave ideas and pointers...

[2021-11-28 21:54] #821 closed

[2021-11-30 18:47] morzineIT commented on #641
![image-20211122084129](https://user-images.githubusercontent.com/8288866/144108858-20684200-90f7-4ff2-8407-3ba17094ae77.jpg)

[2021-11-30 19:26] EricClaeys commented on #641
@morzineIT That banding is usually a USB issue.  Try adjusting the USB Bandwidth in the WebUI, and turning the Auto USB on and off.
Does this happen with every image, or just occassionally?

[2021-11-30 19:33] EricClaeys commented on #641
@morzineIT
[code]
Did an external power supply help?
Another thing to try would be a powered USB hub.  It's possible the camera is taking too much power.
If you have the latest WebUI code you can click on the "System" link and see if your Pi is throttling or has low power.

[2021-12-02 18:15] maphilli14 commented on #650
I tried a fresh copy of raspbian and the SDK with oacapture, which didn't recognize the camera as it usually did for me in the past.  I grabbed the openastro libasi-xxx.deb and then oacapture did find the camera.  NO allsky git clones at all.  Same issue.  I think this is a libASI problem and not sure where to take it next, but likely not related to allsky per se.

[2021-12-02 18:56] maphilli14 commented on #650
Trying the ASI forums - https://bbs.astronomy-imaging-camera.com/d/13593-asi174mm-stopped-working-on-pi34

[2021-12-02 22:33] EricClaeys commented on #510
@Jonk2, there's a new option to the keogram program that causes it to always create an image that's as wide as your sensor, so you shouldn't get images like below.
I think it's the --extend option, but run `./keogram --help` to be sure.

![image](https://user-images.githubusercontent.com/77614536/136629051-02e8ef6e-07f1-412d-a29c-5c7dd0b81a5d.png)

[2021-12-03 15:50] EricClaeys commented on #811
@greg-the-maker, any luck?

[2021-12-03 15:57] greg-the-maker commented on #811
@EricClaeys Sort of, I found the basic issue with the camera is Bullseye itself and specific bugs related to the Zero 2 and cameras. I found a thread here on the subject | https://github.com/thomasjacquin/allsky/discussions/802#discussioncomment-1727420 | I did follow the instructions as suggested with the new cpp files, but run into problems again.

`* Compile allsky software

make[1]: Entering d

[2021-12-03 17:13] EricClaeys commented on #811
@greg-the-maker, We JUST posted an updated Allsky that _should_ work with Bullseye.  Please grab it and let me know how it goes.
Thanks - Eric

[2021-12-03 17:32] maserowik opened #833 "new git pull 12/03/2021 @ 12:29 eST"
I am not running a RPiHQ camera but during the install I see the following I have a ZWO camera but wanted to share what I see.

capture_RPiHQ.cpp: In function ‘int main(int, char**)’:
capture_RPiHQ.cpp:829:14: warning: variable ‘ImgExtraText’ set but not used [-Wu

[2021-12-03 18:35] maserowik commented on #774
@EricClaeys
I did a fresh pull today and will check on the allsky tonight.

Mike

[2021-12-03 20:29] greg-the-maker commented on #811
@EricClaeys works a treat, fantastic job!  Thank you everyone :)

[2021-12-03 20:29] #811 closed

[2021-12-03 23:15] EricClaeys commented on #774
Sorry it took a while.  Other team members have been busy.

Eric

[2021-12-04 00:30] EricClaeys commented on #833
@maserowik, thanks Mike.  The "extra text file" hasn't been fully implemented in the RPiHQ version.  These message aren't an issue, but I just created a fix to eliminate the messages as I realize they can be concerning to people.

[2021-12-04 00:32] EricClaeys commented on #791
Closing - no response from original poster in almost 3 weeks.

[2021-12-04 00:32] #791 closed

[2021-12-04 13:12] AndreasLMeg opened #840 "buster / RPiHQ / raspistill: Invalid command line option (--info-text)"
My raspistill version doesn't support any option (--info-text). This is probably a bug that came in through the libcamera/overlay text conversion.

[code]

For me works this source code change
[code]
![2021-12-04 14_10_10-Window](https://user-images.githubusercontent.com/85451655/144710700-96c9dea5-2c86-4200-abbc-f2adad54d7df.png)

[2021-12-04 14:49] Pedritoprint commented on #840
and in my case, after update to newest version from yesterday (2021-12-03) following error in "allsky.log":
 Capture command: LIBCAMERA_LOG_LEVELS='ERROR,FATAL' libcamera-still --output 'image.jpg'

[2021-12-04 15:59] AndreasLMeg commented on #840
@Pedritoprint  can you send me the entire command line AND the following 5 lines.
Then I can verify if that is the same error.

btw: Schöne Grüße in die Schweiz

[2021-12-04 18:20] #833 closed

[2021-12-04 19:17] AndreasLMeg commented on #840
works for me.
after:  capture_RPiHQ.cpp: fix info_text #843

[2021-12-04 19:18] #840 closed

[2021-12-05 10:05] Pedritoprint commented on #840
After completly new istallation, i have no Errors in log. Sorry couldn't reproduce what's happened.
Grüsse nach Österrreich, Peter

[2021-12-06 00:19] maserowik commented on #774
the update solved my issue closing the ticket

[2021-12-06 00:19] #774 closed

[2021-12-07 07:03] ptson92 opened #848 "My allsky is overexposed during the day"
Hello
My allsky during the day it will have a few normally exposed photos, then one will be overexposed.
I checked the allsky log and it got the following error:
Dec  6 11:14:42 allsky allsky.sh[11232]: WARNING: ASISetControlCaps() for control 1, value=18605 failed: ASI_ERROR_GENERAL_ERROR (16)
Dec  6 11:14:47 allsky allsky.sh[11232]:   > ERROR: Failed getting image: ASI_ERROR_TIMEOUT #1 (with 0.8

[2021-12-07 07:06] ptson92 commented on #848
Dec  6 11:12:25 allsky allsky.sh[10884]: STARTING EXPOSURE at: 2021-12-06 11:12:25   @ 120 us
Dec  6 11:12:25 allsky allsky.sh[10884]: === next exposure: old way=215, new way=206 (multiply by 1.721) [last_exposure_us=120, minAcceptable=122, mean=78]
Dec  6 11:12:26 allsky allsky.sh[10884]: === next exposure: old way=370, new way=352 (multiply by 1.721) [last_exposure_us=205, minAcceptable=122, mea

[2021-12-07 07:10] ptson92 commented on #820
I have the same problem as you. If you update to the new version, it will fix it

[2021-12-07 07:47] EricClaeys commented on #820
Closing issue. Possible resolution given, plus no user response in 2 weeks.

[2021-12-07 07:47] #820 closed

[2021-12-07 07:58] EricClaeys commented on #848
@ptson92, please make sure you havr the lasted files from GitHub.  We just updated several a few days ago.
Also see the Wiki page for reporting Issues and follow those instructions.

Your English is great.  I would not have known it wasn’t your native language if you didn't mention it.

Thanks

[2021-12-07 08:20] ptson92 commented on #848
Thank you very much.
I just updated yesterday.
Before that, I had a problem when switching from night to day the exposure time was locked at 15s.

[2021-12-08 23:17] Apennine2 commented on #828
Hello,

I have updated to 0.8.2c and it has fixed the issue, thank you!

-Chris

[2021-12-09 08:27] EricClaeys commented on #828
Issue resolved with newest release.

[2021-12-09 08:27] #828 closed

[2021-12-09 14:31] maphilli14 commented on #570
I have a fresh pull from a few days ago and mine is doing this now too...

[code]

[2021-12-09 20:16] EricClaeys commented on #570
@maphilli14 there's likely a corrupted file in /home/pi/allsky/images/20211208, or the image size or number of colors changed.  The keogram program should have caught it, but obviously not.
I would like to see the corrupt file(s) so if you could post them I would appreciate it.
Create a directory called images/test and copy all the images from 20211208 there.  Then run scripts/removeBadImages.sh 2

[2021-12-10 16:07] maphilli14 commented on #570
I lost that dataset when I freshened my install again due to some boot issues.  I had a keogram and startrail but a short/corrupt, but I don't seem to have the runForDay.sh script in the folder, it's all brand new clone from yestereday....
[code]

[2021-12-10 16:52] EricClaeys commented on #570
@maphilli14 sorry, it's called `generateForDay.sh`.
Eric

[2021-12-10 18:17] maphilli14 commented on #570
Hah!  NP, why did this happen to remove bad images?

`
pi@allsky:~/allsky $ /home/pi/allsky/scripts/removeBadImages.sh  /home/pi/allsky/images/20211209
/home/pi/allsky/scripts/removeBadImages.sh: line 93: /usr/bin/which: Argument list too long
/home/pi/allsky/scripts/removeBadImages.sh: line 131: /usr/bin/egrep: Argument list too long
/home/pi/allsky/scripts/removeBadImages.sh: line 139: /usr/bin/

[2021-12-11 04:56] linuxkidd commented on #813
Appears to be resolved, closing issue.  Please re-open if it's not working still.

Thanks!

[2021-12-11 04:56] #813 closed

[2021-12-11 06:51] EricClaeys commented on #570
@maphilli14 how many images do you have in the 20211209 directory?  I would guess many thousand and the code is hitting a limit of the number of files allowed on a command line.

Until I'm able to fix it you can move, for example, half the files to a new directory in allsky/images, e.g., 20211209b, and run removeBadImages.sh on each directory.  Then when done, move all the files from 20211209b bac

[2021-12-11 15:15] maphilli14 commented on #570
Do I have too sensitive a camera?  I'm using the 290 not the 174 we've been testing in BugID = 650
[code]

[2021-12-11 19:03] Bra1nsen commented on #848
is there a command to check the allsky version?

[2021-12-11 20:03] EricClaeys commented on #848
@Bra1nsen look in /var/log/allsky.log for the word "Software".

[2021-12-11 21:21] Bra1nsen commented on #848
thanks Eric.

maybe not the right place, but youre definitely the right person to ask:

in addition to the skycam, i also connected a couple of weather sensors (temp, wind, radiation) to my raspi. I wrote a simple python script in which I send the data to my server via mqtt. apparently this interferes with the allsky software, since both apparently don't run at the same time. can that be so? And i

[2021-12-11 22:14] linuxkidd commented on #848
There's really no reason your sensor python and the allsky code shouldn't coexist.  The allsky `capture` app doesn't use any ports itself, and the WebUI is on port 80 ( via lighttpd, could be changed in `/etc/lighttpd/lighttpd.conf` if desired ).

The only potential issue would be resource exhaustion... memory or processor.. but as long as your sensor python code isn't doing anything crazy.. you s

[2021-12-11 22:41] Bra1nsen commented on #848
ok i will check that. in any case, after activating my python script, the allsky service no longer worked. but your answer calms me down. Thank you Sir

[2021-12-12 00:36] EricClaeys commented on #848
@Bra1nsen can you be more specific when you say "the allsky service no longer worked"?
Did you get any messages in /var/log/allsky.log?

[2021-12-12 00:43] EricClaeys commented on #570
@maphilli14 I don't think there is a camera that's too sensitive.  Sensitivity is good.
You just have a whole lot of pictures in one directory and it's hitting a limit in bash.  I won't be able to fix anything for a couple weeks.  Can you try what I suggested in my last post?

Going forward you could try increasing your delay between pictures, especially during the day.  That will decrease the num

[2021-12-12 01:11] Bra1nsen commented on #848
Yep, something is wrong. and it is definitely due to the prallel running python script.
the log show immediately after I run my script:  "***** Stopping AllSky *****"

[2021-12-12 01:13] Bra1nsen commented on #848
I mean I could share the script, but it's an absolutely basic program that publishes simple strings

[2021-12-12 01:15] linuxkidd commented on #848
@Bra1nsen let's create a '[new issue](https://github.com/thomasjacquin/allsky/issues/new/choose)' for this... then, please do share the name of your script, as well as the code, and the `/var/log/allsky.log` file.

Thanks!

[2021-12-12 01:31] Bra1nsen opened #854 "Allsky stops while running mqtt python script"
weather_mqtt.py
---------------------------------
[code]
--------------------------------------
![Screenshot 2021-12-12 022400](https://user-images.githubusercontent.com/58213050/145697057-89eb2ba4-dad6-4706-9141-013ddab4c19c.png)
[code]

--------------------------------------------

Maybe the problem is not in the script at all. I remember reading something about the allsky service while installi

[2021-12-12 01:50] Bra1nsen commented on #854
![Screenshot 2021-12-12 024950](https://user-images.githubusercontent.com/58213050/145697448-e09682b3-d003-4b1a-af01-85bec8d2f221.png)

[2021-12-12 01:55] Bra1nsen commented on #854
![Screenshot 2021-12-12 024950](https://user-images.githubusercontent.com/58213050/145697498-c0389f3f-8d9c-433b-a472-8c99760e09a9.png)

okay i guess heres the problem, but how can i fix that?

[2021-12-12 02:48] linuxkidd commented on #854
The mosquitto bit seems likely to be a misconfig in `/etc/mosquitto/mosquitto.conf`, but the logs don't give enough detail on that.  It's definitely unrelated to Allsky exiting.

And, the script definitely has nothing to do with Allsky exiting.

From the log line `now wait 30000 seconds`, it seems a night delay is set to 30000 seconds... instead of 30 seconds.  Please check in the webUI (assuming

[2021-12-12 03:46] EricClaeys commented on #854
@Bra1nsen please update Allsky.  The issue with waiting 1000 times longer than requested was fixed a long time ago.  Look in the Wiki for tips on how to upgrade.

[2021-12-12 03:53] EricClaeys commented on #854
@Bra1nsen thanks for the compliment. We enjoy using and improving AllSky and helping others enjoy it.

[2021-12-12 03:57] EricClaeys commented on #848
@ptson92 Any update?

[2021-12-12 04:42] ptson92 commented on #848
I have updated to the latest version. It still has the same error.  I tried turning the 0.8 exposure on and off, but still the same error. Now that I'm using manual exposure, I don't get the error anymore.

[2021-12-12 08:12] EricClaeys commented on #848
@ptson92 Please see the Wiki page for reporting Issues and follow those instructions.  I will take a look at your log file.

[2021-12-12 09:00] ptson92 commented on #848
Thanks
This is my log file.
[allsky.log](https://github.com/thomasjacquin/allsky/files/7698394/allsky.log)

[2021-12-12 19:59] Bra1nsen commented on #854
Ok, I'll do the update, hoping that I won't break everything. My SkyCam is designed for the day, as I photograph clouds (solar industry), so I intentionally set the delay so high for the night.

There must be a connection between my py script and allsky, otherwise the allsky service wouldn't stop.

[2021-12-12 20:00] Bra1nsen commented on #854
GNU nano 3.2                                           mosquitto.conf

# Place your local configuration in /etc/mosquitto/conf.d/
#
# A full description of the configuration file is at
# /usr/share/doc/mosquitto/examples/mosquitto.conf.example

pid_file /var/run/mosquitto.pid

persistence true
persistence_location /var/lib/mosquitto/

log_dest file /var/log/mosquitto/mosquitto.log

include_dir /et

[2021-12-12 21:05] Bra1nsen commented on #854
to autostart the script i use /etc/rc.local - could there be a connection?

[2021-12-12 21:05] Bra1nsen commented on #854
this is crazy!

[2021-12-13 02:40] linuxkidd commented on #854
The mosquitto MQTT broker should stay running unless a config parameter isn't set properly.  I would expect if you look at `journalctl -u mosquitto`, there may be more information about the crash there.

If what you posted above is the exact contents of your config file, I'd make sure that all the stuff before `pid_file ... ` is commented ( preceded by a # sign ).. otherwise, it wouldn't be valid

[2021-12-13 02:45] linuxkidd commented on #854
Here's the stock mosquitto config:
[code]

[2021-12-13 15:53] maphilli14 commented on #570
What's the actual limit?  I split in 2 and it still doesn't run :(

[code]

[2021-12-13 15:54] maphilli14 commented on #570
I only record at night and it's using the default delay between photos and a 4s sub exp :(

[2021-12-13 16:01] maphilli14 commented on #570
I'm pruning them by hand to test....
![image](https://user-images.githubusercontent.com/6034105/145845844-f10587f9-6a92-4312-9da2-91616f6d316e.png)

[2021-12-13 16:45] linuxkidd commented on #570
Hi @maphilli14 ...  You can run the following command to get the argument list limit:
[code]

Note that the value returned is the character length of the command and is enforced by the operating system ( not the shell ).  Since it is a character count limit, the path for each file is included in the limit.   With that in mind, you may be able to get the script to run with the following:
[code]

Th

[2021-12-13 22:25] maphilli14 commented on #570
I split it into quarters, or closely... but .... Damn, it's really punchy!
![image](https://user-images.githubusercontent.com/6034105/145898633-177ea085-e2c5-41b8-8f25-13aebd936491.png)

GOOD

BAD
![image](https://user-images.githubusercontent.com/6034105/145898551-225aba7e-e311-4f8f-8288-c13595f0fb1e.png)

[2021-12-13 22:27] maphilli14 commented on #570
actually those total file counts are reversed, the 2528 was too long and gave errs but the 2505 processed fine and removed 23 additional bad files above and beyond the small file size i pruned by hand.  Why am I the only one with so many files?  I backed off the default inter 'frame' capture from 10ms to 100ms to abate the bad file issues.... honestly I was hoping that at 4s subs it would be less

[2021-12-14 14:47] maphilli14 commented on #570
Changing the delay from 10 to 100 didn't result in a successful timelapse for the recent end of night...

this still confuses me...

![image](https://user-images.githubusercontent.com/6034105/146020716-881b8207-d91d-4353-8cd5-fcb4a38313f6.png)

[2021-12-14 16:55] linuxkidd commented on #570
Hi @maphilli14
  I think others don't experience this because they have a much longer exposure time and daytime delay.  My 'night' collections ( with 0 degree horizon offset ) only have 1494 exposures.

My settings:
- Night max exposure: 34000
- Night delay: 10

My other system only generates up to 804 exposures:
- Night max exposure: 60000
- Night delay: 10

There can be some code changes in the

[2021-12-14 16:55] #570 closed

[2021-12-14 18:51] linuxkidd commented on #854
Hi @Bra1nsen, any luck with this?

[2021-12-15 00:09] orangemaze commented on #74
Is there an idiot's guide for the current version? I apparently have no idea what I am doing. I have read the thread, and I see no images in any directory. I do see images via http://allsky.local/index.php?page=live_view, but they are not saving. And yes it is currently nighttime, and the date/time are set correctly.

[2021-12-15 02:16] EricClaeys commented on #74
Test

[2021-12-15 06:11] EricClaeys commented on #848
@ptson92 Try setting your USB Bandwith to 40 with auto exposure on and see if it helps.  If not, try 60 and 100.
Also see if your Pi is having undervoltage issues.  In the WebUI, click on the "System" link.

[2021-12-15 09:47] EricClaeys commented on #598
@ckuethe Chris, the libcamera commands do this with "%" tokens, like "%wb" for white balance.  We could do the same, having the user enter the desired text into the "extra text" file, then get rid of all the "Show xyz" options.  We could even distribute a default file that displays the same info as the current "Show xyz" settings.
It would be easy to expose additional options like white balance se

[2021-12-15 12:54] maphilli14 opened #855 "end of night script doesn't support large file numbers"
I have an ASI290MM and shoot with these settings

[code]

Nearing the Northern Hemisphere's winter solstice, with long nights I get this many files:
[code]

In most cases the keogram and startrails are working well, but the timelapse does not produce a video.

In trying to clean them up with...
`
/home/pi/allsky/scripts/removeBadImages.sh  .`

it throws this error:

[code]

So I have 2 issues in o

[2021-12-15 16:10] linuxkidd commented on #855
Hi @maphilli14
  We can certainly fix the high image count issues in removeBadImages.sh and the timelapse generation.  However, I suspect there's a mix-up in your config that is causing the high file counts...
[code]
Max auto-exposure:
DAY - 60s
NIGHT - 4s

With these settings, I'm surprised if you're not getting only the very brightest stars in your night exposures.  Is this intentional?

[2021-12-15 19:02] maphilli14 commented on #855
I was poking around a few nights back and am getting down to Mag 7+ even with a gibbous moon nearby!  That camera is super sensitive, especially with the 150degree lens on it!  I have the daytime set at default but it never goes that high, typically the daytime is in microSeconds in duration with no gain.  Typical nighttime are 4seconds and 250gain which gets me well past visual star limiting magn

[2021-12-15 20:32] maphilli14 commented on #855
![image](https://user-images.githubusercontent.com/6034105/146260667-34be23d2-d643-4638-834b-e119738469b5.png)
let me know how this comes across...

[2021-12-15 22:54] EricClaeys commented on #855
@linuxkidd could you please take a look at removeBadImages.sh on lines 93 and 139 and let me know why you think they are producing the error message?  They aren't even using the argument list.

@maphilli14 when I am back from vacation in a week I will fix removeBadImages.sh to work with any number of images.  I only take about 2000 a day so have never seen this problem.
A future enhancement will b

[2021-12-16 07:21] jimjackii commented on #855
Hi,

I would have the problem elsewhere.
Increasing the ulimit helped.

ulimit -s 65535
or
ulimit -s 131071

Set this parameter at the begin in the shell command file.

[2021-12-16 15:46] maphilli14 commented on #855
for use of the scripts running at startup would you need to set this as some env var or where would you include?  Thanks @jimjackii

I have an older copy of allsky that creates the symlinks and I'm running it on a WSL in Win10's Ubuntu shell after scp'ing the files across the network.  Will see if that gets me a full mp4 or not!

[2021-12-16 20:29] maphilli14 commented on #855
yah, that didn't work, it removed all of them....

[code]

[2021-12-17 00:32] EricClaeys commented on #855
@maphilli14 what are your values for REMOVE_BAD_IMAGES_THRESHOLD_LOW and REMOVE_BAD_IMAGES_THRESHOLD_HIGH in config.sh?
Can you attach one of the files it removed so I can try?

[2021-12-17 06:37] jimjackii commented on #855
@maphhilli14
I set the parameter "ulimit" at the begin of my shell script like this

#!/bin/sh
# --------------------------------------------------------------
ulimit -s 65535
#
# srcipt begin
#...
# srcipt end
#
exit 0

[2021-12-17 06:53] ptson92 commented on #848
Thank you @EricClaeys
I'm going to change the power supply to the Pi this weekend and try again.

[2021-12-17 22:01] Jonk2 opened #856 "Text file overlay issue"
I have a sky quality meter based on Rob Brown's open source MySQM Pro. It outputs a text file that can be displayed on the allsky image.

I asked Rob to do this for this particular allsky application and it works really well.

However, I've just added some ascii characters to the logging for the text file to be overlaid and they're not displayed on the allsky properly.

In the software on the RPI,

[2021-12-17 22:42] maphilli14 commented on #855
@jimjackii - Is end of night a sufficient place to put it?

I'm not sure I want to mix old and new versions across different platforms.  Let me try another set and get back with you.

[2021-12-18 01:09] EricClaeys commented on #856
@Jonk2 Jon, Allsky currently ony supports normal "printable" ASCII characters.  I will add this to the enhancement request list.

[2021-12-18 07:03] EricClaeys commented on #856
@Jonk2, this may not be easy to fix.  The library we use for all image manipulation (crop, add text, etc.) only supports ASCII.

[2021-12-18 08:03] EricClaeys commented on #848
@ptson92 Changing the USB bandwidth is super easy in the WebUI and is a g[d debugging step.

[2021-12-19 10:55] Pedritoprint opened #859 "Aurora forcast during day"
Conditions: Raspi4 B, Bullseye, Camera RPiHQ
config.js (HomePage) --> auroraForecast: false
config.sh (allsky): DAYTIME_CAPTURE="false"
Every day after sunrise, my AllskyHomePage shows still the auroraForecast till to sunset. I'm not interrested to see this in our degrees of latitude. Hase this to be so or is it a bug?
In the time between sunris/sunset and nightview, the picture "Camera is off dur

[2021-12-19 11:12] Pedritoprint opened #860 ".png picture in case of .jpg and startrails/keogram"
an other issue i have; i configured the Raspi to upload .png-pictures in case of default -jpg. It works fine but the "startrail" and "keogram" does't work because the html-code is looking for .jpg pictures and couldn't find corresponding files. In config.js (HomePage) i changed the parameter `imageName: "xxxx.png` but this does't changes the geogram- & startrail call to a .png picture.
An other is

[2021-12-19 16:48] Pedritoprint commented on #856
The same with "umlaut" ä,ö,ü Ä,Ö,Ü,  because my residence is Wängi, so i have to write Waengi

[2021-12-19 21:13] frankhirsch opened #861 "Text overlay time stamp issue"
Any ideas why the text overlay shows a completely different time (2 hours 7minutes behind)? Date on the Raspberry OS is correct as well as the time stamp in the file name… I presume this is rather not a TZ issue.

[2021-12-19 21:25] frankhirsch commented on #861
For whatever reason… another restart (changed configuration) fixed the issue

[2021-12-19 21:25] #861 closed

[2021-12-19 21:42] EricClaeys commented on #859
@Pedritoprint would you please look in /var/log/lighttpd/error.log to see what it contains?
If it has some entries, run `sudo truncate -s 0 /var/log/lighttpd/error.log` then refresh your browser page and see if there are any new entries in the log file.

[2021-12-19 21:54] EricClaeys commented on #860
@Pedritoprint there is currently no way to change the extension of the startrails or keogram files from the default of .jpg.  The "image" file is the only one whose extension can be changed.  Have you verified your srartrails and keogram files are being uploaded to the correct location on your web server, with the correct names?

For the permission error, first make sure the keogram/thumbnails dir

[2021-12-20 06:12] jimjackii commented on #855
@maphilli14
I've set this parameter in every file that has a large number of files being edited.

[2021-12-20 09:26] Pedritoprint commented on #859
I found only this entry
`2021-12-19 00:00:24: server.c.1787) logfiles cycled UID = 0 PID = 27676`
and after "error-clean" and restart the HomePage, there is no entry but still the aurora forecast during the day.

[2021-12-20 09:34] Pedritoprint commented on #860
1. if i change the picture extension also the extension of keograms& startrails pictures change to .png
2. upload is correct ant to the correct directories. As you could see in my first post, a keogram-picture is visible and the link to see the keogram is ok.
3. i'm my own web hosting provider on the Synology-NAS.

[2021-12-20 19:03] Pedritoprint commented on #860
Now, i found the "failure" in case of wrong permission on my web-server. It wasn't allowed to write to the directory from inside the HomePage. Sorry.

[2021-12-20 19:03] #860 closed

[2021-12-20 22:22] Hydrazine2501 opened #862 "Warning message when compiling sunwait.cpp"
Decided to wipe my allsky cameras and had this pop up when installing:

2021-12-20 15:19:24 Building sunwait...
make[2]: Entering directory '/home/pi/allsky/src/sunwait-src'
gcc -c -Wall  sunwait.cpp -o sunwait.o
sunwait.cpp: In function ‘int main(int, char**)’:
sunwait.cpp:665:62: warning: value computed is not used [-Wunused-value]
     if (arg[0] == '-' && arg[1] != '\0' && !isdigit(arg[1])) *a

[2021-12-21 00:47] EricClaeys commented on #862
@Hydrazine2501 It doesn't impact anything.  Sunwait is a separate program that we don't have control over, although I submitted a request to change it to eliminate the messages.

@linuxkidd Michael, a couple have reported this.  Is it possible to do something in the Makefile to eliminate the messages?  A compiler flag or send output to dev null?

[2021-12-21 01:11] linuxkidd commented on #862
Unfortunately... if we redirect the sunwait make to /dev/null, we'd also not get any output if something was actually wrong.

iirc, you submitted a PR to fix this to the upstream 'sunwait' repo.  Maybe until that's merged, we include a patch file that's applied before make.

Thoughts?

[2021-12-21 01:42] EricClaeys commented on #855
@maphilli14 the Allsky scripts use some bash-specific commands like "source" so won't work with sh.

How many images are in 20211209.new?

[2021-12-21 01:47] EricClaeys commented on #862
@linuxkidd I submitted an issue (and maybe a PR, I don't remember) to sunwait, but it doesn't appear it's being maintained.  Isn't there a compiler option to tell it not to complain about unused options?

[2021-12-21 04:55] EricClaeys commented on #855
Setting a higher ulimit likely won't fix this as it's not stack-related.  I just submitted a simple fix.

[2021-12-21 04:56] #855 closed

[2021-12-21 04:57] linuxkidd commented on #862
Sure, but that would require patching the sunwait make file.  I'd rather patch the cpp to fix the warning complaint, vs masking it.

[2021-12-21 05:01] EricClaeys commented on #855
@maphilli14, @jimjackii, please grab the latest `scripts/removeBadImages.sh` and let me know how it goes.  It fixed the problem on my test machine.

@maphilli14, What do your log files say regarding the timelapse not working?

[2021-12-21 16:26] maphilli14 commented on #855
[code]

and it does seem to be at least running now, thanks!  Any other changes to running for each image save?

[2021-12-22 11:05] Bra1nsen commented on #854
the problem only occurs when I run the script automatically when booting via /etc/rc.local.

If I boot the Pi and start afterwards manually the script on the console, everything works.

In any case, I made the update as recommended. However, I can no longer set the exposure time for the day ?! That would be catastrophic because I need to adjust for imaging clouds. Should I trick the camera into be

[2021-12-22 11:24] Bra1nsen commented on #848
Eric i did the update as suggested, but now iam not able to set exposure time during the day? What can i do?

[2021-12-22 15:41] Bra1nsen commented on #854
i just discovered the allsky map, if one like - add my cam to the map

[2021-12-22 15:51] Bra1nsen commented on #848
![Screenshot 2021-12-22 164907](https://user-images.githubusercontent.com/58213050/147119149-1afad509-8ac7-452e-9ae0-db97bcbd416e.png)

would it work if i adjust here?

[2021-12-22 15:51] Bra1nsen commented on #848
/etc/raspap/camera_options_RPiHQ.json

[2021-12-22 19:44] maphilli14 commented on #855
Fixes to the removebadimages worked great!  The genforday did not result in a proper timelapse....

[code]

[2021-12-22 19:44] maphilli14 commented on #855
[timelapseTMP.txt](https://github.com/thomasjacquin/allsky/files/7764866/timelapseTMP.txt)

[2021-12-23 02:45] EricClaeys commented on #848
@Bra1nsen In the WebUI's "Daytime settings" section there should be an "Exposure" setting.  It is an "advanced" option since people usually have auto-exposure on during the day.  Go to the end of the page and click on the "Show advanced options" button.
Do NOT edit the "camera_options_RPiHQ.json" file manually, since the WebUI overwrites it.  That file is meant to be updated only via the WebUI.

[2021-12-23 03:00] EricClaeys commented on #848
@ptson92 Did changing the power supply and/or USB bandwidth help?

You log file showed that you got a couple pictures that were fairly dark, then a super bright one, then a couple fairly dark, then the ASI_ERROR_TIMEOUTs.  There wasn't anything with a 15-second lock.

Since the first picture was dark, the software increased the exposure time but the second picture was just as dark so the software

[2021-12-23 12:54] Pedritoprint opened #865 "Aurora-Forecast during day"
sorry, twin entry. could not delete this issue
merry x-mas